Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

ci: fix `gh api` review-state query in `ready-for-review` workflow
  .github/workflows/ready-for-review.yml
Due: none

fix: deduplicate InstantSend events across mixed entry points
  key-wallet-manager/src/wallet_manager/event_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix: use `.expect()` on `try_lock()` in `MockWallet::process_instant_send_lock`
  key-wallet-manager/src/test_utils/wallet.rs
Due: cargo-fmt, clippy

feat: add `TransactionStatusChanged` event and emit wallet events
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/event_tests.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/src/wallet_manager/test_helpers.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

feat: add mempool support
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv/ARCHITECTURE.md
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/sync/identifier.rs
  dash-spv/src/sync/mempool/filter.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/mod.rs
  dash-spv/src/sync/mempool/progress.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/sync/mod.rs
  dash-spv/src/sync/progress.rs
  dash-spv/src/sync/sync_coordinator.rs
  dash-spv/src/sync/sync_manager.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/src/types.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/event_tests.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
Due: cargo-fmt, verify-ffi, clippy

feat(dash-spv): add notify_wallet_addresses_changed() API
  dash-spv-ffi/src/callbacks.rs
  dash-spv/src/client/events.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/sync/sync_coordinator.rs
Due: cargo-fmt, verify-ffi, clippy

test(dash-spv): prove mempool blocked by masternode sync failure
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/sync/progress.rs
Due: cargo-fmt, clippy

test(dash-spv): add failing tests for mempool blocked by masternode sync
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/sync/progress.rs
Due: cargo-fmt, clippy

chore: remove orphaned `key-wallet-manager` directory
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/test_utils/wallet.rs
Due: cargo-fmt, clippy

ci: guard `ready-for-review` label against draft PRs and handle undraft
  .github/scripts/check_ci_status.sh
  .github/workflows/ready-for-review.yml
Due: none

ci: remove `ready-for-review` label when `merge-conflict` is added
  .github/workflows/ready-for-review.yml
Due: none

chore: remove flaky `handshake_test.rs` integration tests
  dash-spv/CLAUDE.md
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/test_plan.md
Due: cargo-fmt, clippy

refactor: move event callback dispatch into `DashSpvClient`
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/examples/wallet_manager_usage.rs
  dash-spv-ffi/scripts/generate_ffi_docs.py
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/dashd_sync/context.rs
  dash-spv-ffi/tests/dashd_sync/tests_basic.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv-ffi/tests/dashd_sync/tests_restart.rs
  dash-spv-ffi/tests/dashd_sync/tests_transaction.rs
  dash-spv-ffi/tests/test_client.rs
  dash-spv-ffi/tests/test_wallet_manager.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv-ffi/tests/unit/test_memory_management.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/events.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/test_utils/event_handler.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: extract `BlockInfo` from `TransactionContext` and use it in `TransactionRecord`
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/manager/process_block.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/helpers.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: extract `BlockInfo` from `TransactionContext`
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/manager/process_block.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/transaction_context.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: use `BlockInfo` in `TransactionRecord`
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/transaction_router/tests/helpers.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

fix: cap `Vec::with_capacity` in `Headers2Message` deserialization (#63)
  dash/src/network/message_headers2.rs
Due: cargo-fmt, clippy

feat: add `TransactionStatusChanged` event and emit wallet events
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  key-wallet/src/manager/event_tests.rs
  key-wallet/src/manager/events.rs
  key-wallet/src/manager/mod.rs
  key-wallet/src/manager/process_block.rs
  key-wallet/src/manager/test_helpers.rs
  key-wallet/src/manager/wallet_interface.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

drop out of date c tests
  dash-spv-ffi/Makefile
  dash-spv-ffi/tests/c_tests/Makefile
  dash-spv-ffi/tests/c_tests/test_advanced.c
  dash-spv-ffi/tests/c_tests/test_basic.c
  dash-spv-ffi/tests/c_tests/test_configuration.c
  key-wallet-ffi/Makefile
Due: none

fix: activate mempool on `FiltersSyncComplete` instead of waiting for full sync
  dash-spv/src/sync/mempool/sync_manager.rs
Due: cargo-fmt, clippy

feat: add mempool support
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv/ARCHITECTURE.md
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/sync/identifier.rs
  dash-spv/src/sync/mempool/filter.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/mod.rs
  dash-spv/src/sync/mempool/progress.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/sync/mod.rs
  dash-spv/src/sync/progress.rs
  dash-spv/src/sync/sync_coordinator.rs
  dash-spv/src/sync/sync_manager.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/src/types.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
  key-wallet/src/manager/event_tests.rs
  key-wallet/src/manager/mod.rs
  key-wallet/src/manager/process_block.rs
  key-wallet/src/manager/wallet_interface.rs
  key-wallet/src/test_utils/wallet.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: detect bloom filter staleness via `monitor_revision` polling
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/manager/mod.rs
  key-wallet/src/manager/process_block.rs
  key-wallet/src/manager/wallet_interface.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/tests/integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: gate `manager` module behind feature flag in key-wallet
  key-wallet/Cargo.toml
  key-wallet/src/lib.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/test_utils/wallet.rs
Due: cargo-fmt, clippy

refactor: make rayon optional with parallel-filters feature
  key-wallet/Cargo.toml
  key-wallet/src/manager/matching.rs
Due: cargo-fmt, clippy

feat: enable parallel-filters for dash-spv
  dash-spv/Cargo.toml
Due: none

fix: enable manager feature for key-wallet-ffi
  key-wallet-ffi/Cargo.toml
Due: verify-ffi

refactor: extract mock wallets into dedicated test_utils/mock_wallet module
  key-wallet/src/test_utils/mock_wallet.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/test_utils/wallet.rs
Due: cargo-fmt, clippy

fix: use std::sync::Mutex for synchronously-accessed status_changes
  key-wallet/src/test_utils/mock_wallet.rs
Due: cargo-fmt, clippy

Revert "fix(rpc-json): make `DMNState.service` and `MasternodeStatus.service`…"
  rpc-json/src/lib.rs
Due: cargo-fmt, clippy

fix: update dash-spv tests for std::sync::Mutex on status_changes
  dash-spv/src/sync/mempool/manager.rs
Due: cargo-fmt, clippy

revert: keep status_changes as tokio::sync::Mutex
  dash-spv/src/sync/mempool/manager.rs
  key-wallet/src/test_utils/mock_wallet.rs
Due: cargo-fmt, clippy

fix(key-wallet): remove manager from default features
  key-wallet/Cargo.toml
Due: none

fix: move test-only `rand` helpers out of public API in `key-wallet`
  key-wallet/Cargo.toml
  key-wallet/src/mnemonic.rs
Due: cargo-fmt, clippy

fix: make `bip39/std` and `secp256k1/std` unconditional in `key-wallet`
  key-wallet/Cargo.toml
Due: none

fix: disable `key-wallet` default features in `rpc-json`
  rpc-json/Cargo.toml
Due: none

feat(ffi): add dash_spv_ffi_config_clear_peers to remove default peers
  dash-spv-ffi/src/config.rs
Due: cargo-fmt, verify-ffi, clippy

chore: regenerate FFI docs and apply fmt
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/config.rs
Due: cargo-fmt, verify-ffi, clippy
