Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

feat(key-wallet-manager)!: name the outpoints a sweep releases (#962)
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, verify-ffi, clippy

feat(dash-cpv-bench): sync bench can now simulate different client environments
  .gitignore
  dash-spv-bench/Dockerfile.client
  dash-spv-bench/run.sh
  dash-spv-bench/scenario.example.yml
  dash-spv-bench/scenarios/real-mainnet-8mbi.yml
Due: none

scenarios updated
  dash-spv-bench/run.sh
  dash-spv-bench/scenarios/congested-2core.yml
  dash-spv-bench/scenarios/ideal-1-peer.yml
  dash-spv-bench/scenarios/ideal-3-peers.yml
  dash-spv-bench/scenarios/ideal-5-peers.yml
  dash-spv-bench/scenarios/local.1ideal.yml
  dash-spv-bench/scenarios/local.1slow-2ideal.yml
  dash-spv-bench/scenarios/local.3ideal.yml
  dash-spv-bench/scenarios/local.5ideal.yml
  dash-spv-bench/scenarios/local.5slow-congested.yml
  dash-spv-bench/scenarios/local.8slow.yml
  dash-spv-bench/scenarios/mainnet.100mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.500ms.yml
  dash-spv-bench/scenarios/no-lag-ideal-1-peer.yml
  dash-spv-bench/scenarios/no-lag-ideal-3-peers.yml
  dash-spv-bench/scenarios/no-lag-ideal-5-peers.yml
  dash-spv-bench/scenarios/one-bad-peer.yml
  dash-spv-bench/scenarios/real-mainnet-8mbi.yml
  dash-spv-bench/scenarios/real-mainnet.yml
  dash-spv-bench/scenarios/slow-many-peers.yml
  dash-spv-bench/scenarios/testnet.yml
Due: none

test(dash-spv): make coinjoin gap repro indices gap-relative after #868
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
Due: cargo-fmt, clippy

refactor(dash-spv): defer the backward sweep to forward quiescence; dedupe match attribution
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): rescan committed filter ranges for newly derived scripts (#846)
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): hold batch commits while any active batch has blocks in flight
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

chore(build): compile dashcore_hashes with optimizations in dev profile
  Cargo.toml
Due: none

fix(dash-spv): verify filter batches against the full script set before commit
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

feat(key-wallet): add gap-probe widening seam for adaptive BIP44 discovery
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_collection.rs
Due: cargo-fmt, clippy

feat(dash-spv): adaptive gap-limit probe escalation at filter batch commit
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

refactor(dash-spv): tighten gap-probe bookkeeping and drain loops
  dash-spv/src/sync/filters/manager.rs
  key-wallet/src/managed_account/managed_account_collection.rs
Due: cargo-fmt, clippy

docs(dash-spv): clarify probe-level persistence scope and reset coarseness
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

refactor(dash-spv): tighten gap-probe bookkeeping and drain loops
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/manager.rs
  key-wallet/src/managed_account/managed_account_collection.rs
Due: cargo-fmt, clippy

fix(dash-spv): extend the CFHeaders queue from the tick, not only on a header event
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
Due: cargo-fmt, clippy

scenario glob matching
  dash-spv-bench/run.sh
  dash-spv-bench/src/main.rs
  dash-spv-bench/src/metrics.rs
Due: cargo-fmt, clippy

removed unprecise scenarios comments
  dash-spv-bench/scenario.example.yml
  dash-spv-bench/scenarios/local.1ideal.yml
  dash-spv-bench/scenarios/local.1slow-2ideal.yml
  dash-spv-bench/scenarios/local.3ideal.yml
  dash-spv-bench/scenarios/local.5ideal.yml
  dash-spv-bench/scenarios/local.5slow-congested.yml
  dash-spv-bench/scenarios/local.8slow.yml
  dash-spv-bench/scenarios/mainnet.100mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.500ms.yml
Due: none

fix(dash-spv): rescan committed filter ranges for newly derived scripts (#866)
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

style(dash-spv): sort the test module's imports as rustfmt wants
  dash-spv/src/sync/filter_headers/manager.rs
Due: cargo-fmt, clippy

feat(dash-spv-bench): bench client env (#965)
  .gitignore
  dash-spv-bench/Dockerfile.client
  dash-spv-bench/run.sh
  dash-spv-bench/scenario.example.yml
  dash-spv-bench/scenarios/local.1ideal.yml
  dash-spv-bench/scenarios/local.1slow-2ideal.yml
  dash-spv-bench/scenarios/local.3ideal.yml
  dash-spv-bench/scenarios/local.5ideal.yml
  dash-spv-bench/scenarios/local.5slow-congested.yml
  dash-spv-bench/scenarios/local.8slow.yml
  dash-spv-bench/scenarios/mainnet.100mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.500ms.yml
  dash-spv-bench/scenarios/no-lag-ideal-1-peer.yml
  dash-spv-bench/scenarios/no-lag-ideal-3-peers.yml
  dash-spv-bench/scenarios/no-lag-ideal-5-peers.yml
  dash-spv-bench/scenarios/real-mainnet.yml
  dash-spv-bench/scenarios/testnet.yml
  dash-spv-bench/src/main.rs
  dash-spv-bench/src/metrics.rs
Due: cargo-fmt, clippy

test(dash-spv): assert the tick actually queues CFHeaders, not just the tip
  dash-spv/src/sync/filter_headers/manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): collect a sweep's surviving inputs once instead of per candidate
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

apply rate limit to downloads and uploads
  dash-spv-bench/run.sh
  dash-spv-bench/scenarios/mainnet.100mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.500ms.yml
Due: none

fix console display
  dash-spv-bench/run.sh
Due: none

fix(dash-spv): coalesce committed-range filter rescans across batch commits
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): collect a sweep's surviving inputs once instead of per candidate (#966)
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

fix(dash-spv): extend the CFHeaders queue from the tick, not only on a header event (#964)
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): walk a sweep's descendant closure once instead of per generation
  key-wallet/src/managed_account/managed_core_funds_account.rs
Due: cargo-fmt, clippy

chore(seeds): refresh mainnet seed list (probe 2026-08-19)
  dash-network-seeds/seeds/mainnet.txt
Due: none

chore(seeds): refresh mainnet seed list (probe 2026-08-19) (#970)
  dash-network-seeds/seeds/mainnet.txt
Due: none

feat(dash-spv-bench): improved bench rate limit + display progress bars fix (#967)
  dash-spv-bench/run.sh
  dash-spv-bench/scenarios/mainnet.100mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.500ms.yml
Due: none

fix(key-wallet): walk a sweep's descendant closure once instead of per generation (#969)
  key-wallet/src/managed_account/managed_core_funds_account.rs
Due: cargo-fmt, clippy

fix(key-wallet): emit the removals the islock and abandon paths already performed
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy
