Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

test: add unit tests for dash_spv_ffi_config_clear_peers
  dash-spv-ffi/tests/test_config.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: remove `default_peers_for_network` from `ClientConfig`
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/tests/dashd_sync/setup.rs
Due: cargo-fmt, clippy

chore: revert "feat(ffi): add dash_spv_ffi_config_clear_peers (#591)"
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/test_config.rs
Due: cargo-fmt, verify-ffi, clippy

fix(rpc-json): disable key-wallet default features
  rpc-json/Cargo.toml
Due: none

recover `parallel-filters` feature
  dash-spv/Cargo.toml
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/matching.rs
Due: cargo-fmt, clippy

feat(key-wallet-ffi): expose asset lock transaction builder
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

move header files generation to the target directory
  .gitignore
  dash-spv-ffi/build.rs
  dash-spv-ffi/cbindgen.toml
  key-wallet-ffi/IMPORT_WALLET_FFI.md
  key-wallet-ffi/build.rs
  key-wallet-ffi/cbindgen.toml
  key-wallet-ffi/generate_header.sh
Due: cargo-fmt, verify-ffi, clippy

drop unnecesary codebase complexity removing the bincode usage where is not needed in the key-wallet crate
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/tests/test_import_wallet.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
  key-wallet/Cargo.toml
  key-wallet/src/account/account_collection.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/account/bls_account.rs
  key-wallet/src/account/coinjoin.rs
  key-wallet/src/account/eddsa_account.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/account/serialization.rs
  key-wallet/src/bip32.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/dip9.rs
  key-wallet/src/gap_limit.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_type.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/metadata.rs
  key-wallet/src/managed_account/platform_address.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/psbt/mod.rs
  key-wallet/src/seed.rs
  key-wallet/src/test_macros.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/backup.rs
  key-wallet/src/wallet/mod.rs
  key-wallet/src/wallet/root_extended_keys.rs
Due: cargo-fmt, verify-ffi, clippy

fix: mark asset lock address as used and document output index
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

chore: regenerate FFI documentation
  key-wallet-ffi/FFI_API.md
Due: none

chore: apply cargo fmt
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

feat: add FFIAssetLockFundingType enum for multiple asset lock types
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: extract WalletManager accessors and error types
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/error.rs
  key-wallet-manager/src/lib.rs
Due: cargo-fmt, clippy

fix: initialize everything correctly in `FiltersManager::new`
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

fix: handle restart cases in `handle_new_filter_headers`
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

chore: adjust `CLAUDE.md` that `dashd` integration tests should be run
  CLAUDE.md
Due: none

fix: handle and propagate errors in event channel monitors
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/sync_coordinator.rs
Due: cargo-fmt, clippy

fix: guard `Lagged` error during shutdown in event monitor
  dash-spv/src/client/event_handler.rs
Due: cargo-fmt, clippy

fix: replace `abort()` with cooperative wait in `wait_for_run_task`
  dash-spv-ffi/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

fix: replace `CancellationToken` with `mpsc` channel for monitor error propagation
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/sync_coordinator.rs
Due: cargo-fmt, clippy

fix: abort run task on shutdown timeout in `wait_for_run_task`
  dash-spv-ffi/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

fix: reorder shutdown sequence in `dash_spv_ffi_client_destroy`
  dash-spv-ffi/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

chore: add generated FFI header directories to `.gitignore`
  .gitignore
Due: none

fix: reject zeroed `FFIBlockInfo` for confirmed transaction contexts
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: store `TransactionContext` in `TransactionRecord`
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/transaction_context.rs
  key-wallet/src/transaction_checking/transaction_router/tests/helpers.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

test: add regression tests for `transaction_context_from_ffi` validation
  key-wallet-ffi/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

fix: detect coinbase by input pattern in `classify_transaction`
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/classification.rs
Due: cargo-fmt, clippy

feat(dash-spv-ffi): expose MasternodeListEngine accessor on FFIDashSpvClient
  dash-spv-ffi/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

fix: remove network() method per review feedback
  dash-spv-ffi/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

feat: add `ffi-derive` proc-macro crate for FFI type generation
  Cargo.toml
  ffi-derive/Cargo.toml
  ffi-derive/src/lib.rs
Due: cargo-fmt, clippy

feat: derive `FFIType` on all progress types and replace manual FFI definitions
  dash-spv-ffi/Cargo.toml
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/test_types.rs
  dash-spv/Cargo.toml
  dash-spv/src/client/config.rs
  dash-spv/src/lib.rs
  dash-spv/src/sync/block_headers/mod.rs
  dash-spv/src/sync/block_headers/progress.rs
  dash-spv/src/sync/blocks/mod.rs
  dash-spv/src/sync/blocks/progress.rs
  dash-spv/src/sync/chainlock/mod.rs
  dash-spv/src/sync/chainlock/progress.rs
  dash-spv/src/sync/filter_headers/mod.rs
  dash-spv/src/sync/filter_headers/progress.rs
  dash-spv/src/sync/filters/mod.rs
  dash-spv/src/sync/filters/progress.rs
  dash-spv/src/sync/instantsend/mod.rs
  dash-spv/src/sync/instantsend/progress.rs
  dash-spv/src/sync/masternodes/mod.rs
  dash-spv/src/sync/masternodes/progress.rs
  dash-spv/src/sync/mempool/mod.rs
  dash-spv/src/sync/mempool/progress.rs
  dash-spv/src/sync/mod.rs
  dash-spv/src/sync/progress.rs
  dash-spv/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

fix: register error callback in FFI CLI binary
  dash-spv-ffi/src/bin/ffi_cli.rs
Due: cargo-fmt, verify-ffi, clippy

fix: terminate process on fatal error in `on_error` callback
  dash-spv-ffi/src/bin/ffi_cli.rs
Due: cargo-fmt, verify-ffi, clippy

feat: track input/output details and direction in `TransactionRecord`
  key-wallet-ffi/src/managed_account.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: rename FFI context structs to match `key-wallet` naming
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
Due: cargo-fmt, verify-ffi, clippy

fix: rename `FFITransactionContext` → `FFITransactionContextType` in C example
  key-wallet-ffi/examples/check_transaction.c
Due: none

docs: update stale `wallet_check_transaction` docs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

fix: prevent `label` CString memory leak in transaction callback
  dash-spv-ffi/src/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

feat: expose full `TransactionRecord` through FFI and wallet events
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv/tests/dashd_sync/helpers.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/types.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy
