Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

refactor: unify validation with a `Validator` trait (#355)
  dash-spv/src/client/chainlock.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers/mod.rs
  dash-spv/src/validation/header.rs
  dash-spv/src/validation/instantlock.rs
  dash-spv/src/validation/mod.rs
Due: cargo-fmt, clippy

removed duplicate Result type
  dash-spv/src/client/interface.rs
Due: cargo-fmt, clippy

using full qualified dash_spv::Error and dash_spv::Result
  dash-spv-ffi/src/broadcast.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/error.rs
  dash-spv-ffi/tests/unit/test_error_handling.rs
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/interface.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/network/discovery.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/persist.rs
  dash-spv/src/network/pool.rs
Due: cargo-fmt, verify-ffi, clippy

SpvError renamed to Error following Rust pattern avoiding use as statements usage
  dash-spv-ffi/src/broadcast.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/error.rs
  dash-spv-ffi/tests/unit/test_error_handling.rs
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/interface.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/error.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/network/discovery.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/persist.rs
  dash-spv/src/network/pool.rs
Due: cargo-fmt, verify-ffi, clippy

removed error tests
  dash-spv/src/error.rs
  dash-spv/tests/error_types_test.rs
Due: cargo-fmt, clippy

removed unused error and Config validation reuturn the Config error instead of a String
  dash-spv-ffi/src/error.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/error.rs
Due: cargo-fmt, verify-ffi, clippy

error mod made private for better API
  dash-spv-ffi/src/error.rs
  dash-spv/src/lib.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
Due: cargo-fmt, verify-ffi, clippy

removed redundant error conversions
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
Due: cargo-fmt, clippy

spv io error removed
  dash-spv-ffi/src/error.rs
  dash-spv-ffi/tests/unit/test_error_handling.rs
  dash-spv/src/error.rs
Due: cargo-fmt, verify-ffi, clippy

removed unused error variants
  dash-spv/src/chain/chainlock_manager.rs
  dash-spv/src/error.rs
Due: cargo-fmt, clippy

dash_spv::Error::General replaced with TaskFailed variant
  dash-spv-ffi/src/error.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/error.rs
Due: cargo-fmt, verify-ffi, clippy

added UninitializedClient to dash_spv::Error enum
  dash-spv-ffi/src/broadcast.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/error.rs
  dash-spv/src/client/core.rs
  dash-spv/src/error.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/persist.rs
Due: cargo-fmt, verify-ffi, clippy

cleaned more error module imports
  dash-spv/src/chain/chainlock_manager.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/progress.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/logging.rs
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/io.rs
  dash-spv/src/storage/lockfile.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/filters/download.rs
  dash-spv/src/sync/filters/headers.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/matching.rs
  dash-spv/src/sync/filters/requests.rs
  dash-spv/src/sync/filters/retry.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/src/sync/phase_execution.rs
  dash-spv/src/sync/post_sync.rs
  dash-spv/src/sync/transitions.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/validation/header.rs
Due: cargo-fmt, clippy

dash_spv main.rs changes applied
  dash-spv/src/main.rs
Due: cargo-fmt, clippy

lock posisoning error removed from dash_spv by replacing std RwLock with tokio
  dash-spv/clippy.toml
  dash-spv/src/chain/chainlock_manager.rs
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/error.rs
  dash-spv/src/lib.rs
  dash-spv/tests/chainlock_simple_test.rs
Due: cargo-fmt, clippy

disallowed types self documented
  dash-spv/clippy.toml
Due: none

dropped unuseed code
  dash-spv/src/sync/headers/manager.rs
Due: cargo-fmt, clippy

removed current_filter_tip. never updated or queried
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

removed masternode_engine. it was being updated but not queried
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/types.rs
  dash-spv/tests/header_sync_test.rs
Due: cargo-fmt, verify-ffi, clippy

removed last_masternode_diff_height and SyncProgress is created using the storage MasternodeState stored
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/state.rs
  dash-spv/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

removed new_for_network ChainState constructor
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/types.rs
  dash-spv/tests/header_sync_test.rs
Due: cargo-fmt, clippy

removed unused ChainState methods
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

removed network param from initi_from_checkpoint
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

removed last_chainlock_hash field, only updated and persisted
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/client/chainlock.rs
  dash-spv/src/storage/state.rs
  dash-spv/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

removed not existing field ChainState.last_chainlock_height from storage logic
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/state.rs
Due: cargo-fmt, clippy

removed SPVClient::config_update method
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/client.rs
  dash-spv/src/client/core.rs
Due: cargo-fmt, verify-ffi, clippy

ClientConfig renamed to Config
  dash-spv-ffi/src/config.rs
  dash-spv/benches/storage.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/transitions.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/chainlock_simple_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/smart_fetch_integration_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

Builder impleemnted succesfully
  dash-spv/Cargo.toml
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/client/mod.rs
Due: cargo-fmt, clippy

added needed bon and getset deps
  dash-spv/Cargo.toml
Due: none

rollback config struct rename
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/test_client.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv/benches/storage.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/transitions.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/chainlock_simple_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/smart_fetch_integration_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

fixed bugs spotted in review
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/security/test_security.rs
Due: cargo-fmt, verify-ffi, clippy

tests and clippypass
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/dash_spv_ffi.h
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/c_tests/test_basic.c
  dash-spv-ffi/tests/unit/test_configuration.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
Due: cargo-fmt, verify-ffi, clippy

generated new headers and docs
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/examples/basic_usage.c
Due: none

removed config mutation method
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/client.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/client/mod.rs
Due: cargo-fmt, verify-ffi, clippy

client config can now be created from a reader (files, bytes, etc)
  dash-spv/src/client/config.rs
Due: cargo-fmt, clippy

chore: remove mempool tracking config mutation method (#373)
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/client.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/client/mod.rs
Due: cargo-fmt, verify-ffi, clippy

ffi setters are back with deprecated warning to encorage new API while maintaining compatibility with the old one
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/dash_spv_ffi.h
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/c_tests/test_basic.c
  dash-spv-ffi/tests/unit/test_configuration.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/core.rs
Due: cargo-fmt, verify-ffi, clippy

feat: update FFI error codes to SpvFFIErrorCode
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/broadcast.rs
  dash-spv-ffi/src/checkpoints.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/src/error.rs
  dash-spv-ffi/src/lib.rs
  dash-spv-ffi/src/platform_integration.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/src/utils.rs
  key-wallet-ffi/cbindgen.toml
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/managed_account_collection.rs
  key-wallet-ffi/src/managed_platform_account.rs
  key-wallet-ffi/src/wallet.rs
Due: cargo-fmt, verify-ffi, clippy
