Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

test(key-wallet): pin paths that explicitly reduce their scalar
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

test(key-wallet): pin refusal of pk off the curve, zero scalar
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

refactor(dash)!: drop the pre-1.48 fallbacks voided by MSRV 1.89
  dash/Cargo.toml
  dash/src/bls_sig_utils.rs
Due: cargo-fmt, clippy

refactor(dash)!: generate BLS types with `dash_types::make_bytes!`
  dash/Cargo.toml
  dash/src/bls_sig_utils.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

feat: introduce the `dashcore-crypto` crate, migrate BLS crypto
  .github/ci-groups.yml
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/bls.rs
  crypto/src/lib.rs
  dash/Cargo.toml
  dash/src/bls_sig_utils.rs
Due: cargo-fmt, clippy

refactor(dash): condense BLS type conversion w/ `dash_types::type_cvrt!`
  dash/src/bls_sig_utils.rs
Due: cargo-fmt, clippy

refactor(dash): split out BLS-specific errors to `BlsError` enum
  dash/src/bls_sig_utils.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_validation_error.rs
Due: cargo-fmt, clippy

refactor!: isolate the backend's BLS public key type with a newtype
  crypto/src/bls.rs
  dash/src/bls_sig_utils.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_validation_error.rs
  key-wallet/src/account/bls_account.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/tests/special_transaction_matching_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
Due: cargo-fmt, clippy

refactor!: isolate the backend's BLS secret key type with a newtype
  crypto/src/bls.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_validation_error.rs
  key-wallet-ffi/src/account_derivation.rs
  key-wallet/src/account/bls_account.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/wallet/root_extended_keys.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet)!: restrict `private_key`, propagate BLS errors
  key-wallet/src/account/bls_account.rs
  key-wallet/src/account/serialization.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/wallet/root_extended_keys.rs
Due: cargo-fmt, clippy

refactor!: isolate the backend's BLS signature type with a newtype
  crypto/Cargo.toml
  crypto/src/bls.rs
  dash/Cargo.toml
  dash/src/base58.rs
  dash/src/bls_sig_utils.rs
  dash/src/crypto/key.rs
  dash/src/lib.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/validation.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_entry/validation.rs
  dash/src/sml/quorum_entry/verify_message.rs
  dash/src/sml/quorum_validation_error.rs
Due: cargo-fmt, clippy

refactor: move BLS compatibility tests to `dashcore-crypto`
  crypto/Cargo.toml
  crypto/src/bls.rs
  dash/Cargo.toml
  dash/src/sml/quorum_entry/validation.rs
Due: cargo-fmt, clippy

feat(crypto)!: switch BLS backend to `dash-pkc` from `blsful` fork
  crypto/Cargo.toml
  crypto/src/bls.rs
  crypto/src/lib.rs
  deny.toml
Due: cargo-fmt, clippy

ci: PR Hygiene is the merge gate; CODEOWNERS carries no rules
  .github/CODEOWNERS
  .github/workflows/pr-review-policy.yml
Due: none

ci: PR Hygiene is the merge gate; CODEOWNERS carries no rules (#1039)
  .github/CODEOWNERS
  .github/workflows/pr-review-policy.yml
Due: none

fix(key-wallet): extend DIP-15 contact pools as their payments arrive (#1035)
  key-wallet/src/gap_limit.rs
  key-wallet/src/managed_account/managed_account_type.rs
  key-wallet/src/tests/dashpay_contact_gap_limit_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/helper.rs
Due: cargo-fmt, clippy

refactor(dashcore): Extract payload serialization for V2 transport reuse
  dash-spv/src/network/transport/v2.rs
  dash/src/network/message.rs
Due: cargo-fmt, clippy

feat(dash-spv): Add BIP324 v2 encrypted P2P transport
  dash-spv/Cargo.toml
  dash-spv/src/client/config.rs
  dash-spv/src/error.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/transport/message_ids.rs
  dash-spv/src/network/transport/mod.rs
  dash-spv/src/network/transport/v1.rs
  dash-spv/src/network/transport/v2.rs
  dash-spv/src/network/transport/v2_handshake.rs
  dash-spv/tests/header_dispatch_order.rs
  masternode-seeds-fetcher/src/main.rs
  masternode-seeds-fetcher/src/probe.rs
Due: cargo-fmt, clippy

fix(dash-spv): Improve V2 handshake session_id and decoy handling
  dash-spv/src/network/transport/v2_handshake.rs
Due: cargo-fmt, clippy

test: Add regression test for Unknown message payload encoding
  dash/src/network/message.rs
Due: cargo-fmt, clippy

test: Add BIP324 V2 transport tests
  dash-spv/src/network/transport/message_ids.rs
  dash-spv/src/network/transport/v2.rs
  dash/src/network/message.rs
Due: cargo-fmt, clippy

fix(dash-spv): don't drop ciphertext read past the V2 version packet
  dash-spv/src/network/transport/v2_handshake.rs
  dash-spv/tests/v2_transport.rs
Due: cargo-fmt, clippy

fix: Return raw bytes for Unknown message payload encoding
  dash/src/network/message.rs
Due: cargo-fmt, clippy

fix(dash-spv): Resolve clippy warnings in network module
  dash-spv/src/network/peer.rs
  dash-spv/src/network/transport/v2_handshake.rs
Due: cargo-fmt, clippy

fix(dash-spv): only fall back to V1 on V2 protocol failures
  dash-spv/src/network/peer.rs
Due: cargo-fmt, clippy

refactor(dash-spv): Remove redundant garbage buffer size check
  dash-spv/src/network/transport/v2_handshake.rs
Due: cargo-fmt, clippy

fix(dash-spv): preserve Unknown command names on the V2 wire
  dash-spv/src/network/transport/v2.rs
Due: cargo-fmt, clippy

chore(dash-spv): Remove unused TransportEstablishResult enum
  dash-spv/src/network/transport/mod.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene for state labels and /skip-bots
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for state labels and /skip-bots (#1040)
  .github/workflows/pr-review-policy.yml
Due: none

test(key-wallet): pin that the reduction is modulo the group order
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

refactor(key-wallet): isolate HMAC function used for key derivation
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

build: bump `rand` to 0.9, `getrandom` to 0.4
  dash-spv/Cargo.toml
  dash-spv/benches/storage.rs
  dash-spv/src/network/addrv2.rs
  dash-spv/src/network/discovery.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
  key-wallet/Cargo.toml
  key-wallet/src/bip38.rs
  key-wallet/src/bip38_tests.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/psbt/mod.rs
  key-wallet/src/seed.rs
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
Due: cargo-fmt, clippy

refactor: parse secp256k1 keys from byte arrays
  dash/src/crypto/key.rs
  dash/src/crypto/taproot.rs
  dash/src/signer.rs
  dash/src/taproot.rs
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/tx_decode.rs
  key-wallet/src/bip32.rs
  key-wallet/src/bip38.rs
  key-wallet/src/bip38_tests.rs
  key-wallet/src/psbt/serialize.rs
  key-wallet/src/wallet/root_extended_keys.rs
  key-wallet/tests/address_tests.rs
Due: cargo-fmt, verify-ffi, clippy

build: upgrade `secp256k1` to 0.31
  dash/Cargo.toml
  dash/examples/handshake.rs
  dash/examples/taproot-psbt.rs
  dash/src/address.rs
  dash/src/bloom/filter.rs
  dash/src/consensus/encode.rs
  dash/src/crypto/key.rs
  dash/src/merkle_tree/block.rs
  dash/src/sign_message.rs
  dash/src/signer.rs
  dash/src/taproot.rs
  dash/src/test_utils/address.rs
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/tx_decode.rs
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
  key-wallet/src/bip38.rs
  key-wallet/src/bip38_tests.rs
  key-wallet/src/derivation.rs
  key-wallet/src/psbt/mod.rs
  key-wallet/src/psbt/serialize.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/src/wallet/root_extended_keys.rs
  key-wallet/tests/address_tests.rs
  rpc-integration-test/src/main.rs
Due: cargo-fmt, verify-ffi, clippy

build!: upgrade `secp256k1` to 0.33
  dash-spv/tests/dashd_sync/tests_transaction.rs
  dash/Cargo.toml
  dash/examples/taproot-psbt.rs
  dash/src/address.rs
  dash/src/blockdata/script/builder.rs
  dash/src/bloom/filter.rs
  dash/src/crypto/key.rs
  dash/src/crypto/sighash.rs
  dash/src/sign_message.rs
  dash/src/signer.rs
  dash/src/taproot.rs
  dash/src/test_utils/address.rs
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/tx_decode.rs
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
  key-wallet/src/bip38.rs
  key-wallet/src/bip38_tests.rs
  key-wallet/src/derivation.rs
  key-wallet/src/psbt/mod.rs
  key-wallet/src/psbt/serialize.rs
  key-wallet/src/wallet/bip38.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/src/wallet/root_extended_keys.rs
  key-wallet/tests/address_tests.rs
  key-wallet/tests/derivation_tests.rs
  key-wallet/tests/psbt.rs
  rpc-client/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(dash)!: drop the secp256k1 context
  dash/examples/taproot-psbt.rs
  dash/src/address.rs
  dash/src/blockdata/script/borrowed.rs
  dash/src/blockdata/script/owned.rs
  dash/src/bloom/filter.rs
  dash/src/consensus/encode.rs
  dash/src/crypto/key.rs
  dash/src/crypto/sighash.rs
  dash/src/merkle_tree/block.rs
  dash/src/sign_message.rs
  dash/src/signer.rs
  dash/src/taproot.rs
  dash/src/test_utils/address.rs
  key-wallet/src/bip32.rs
  key-wallet/src/psbt/mod.rs
  key-wallet/tests/address_tests.rs
  key-wallet/tests/psbt.rs
  rpc-integration-test/src/main.rs
Due: cargo-fmt, clippy

refactor(key-wallet)!: drop the secp256k1 context
  dash-spv/tests/dashd_sync/tests_transaction.rs
  dash/examples/ecdsa-psbt.rs
  dash/examples/taproot-psbt.rs
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/tests/test_valid_addr.rs
  key-wallet/examples/account_types.rs
  key-wallet/examples/basic_usage.rs
  key-wallet/src/account/account_collection_test.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/bip32.rs
  key-wallet/src/bip38.rs
  key-wallet/src/derivation.rs
  key-wallet/src/dip9.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/psbt/mod.rs
  key-wallet/src/tests/account_tests.rs
  key-wallet/src/tests/address_pool_tests.rs
  key-wallet/src/tests/address_reservation_tests.rs
  key-wallet/src/tests/performance_tests.rs
  key-wallet/src/wallet/accounts.rs
  key-wallet/src/wallet/bip38.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/src/wallet/root_extended_keys.rs
  key-wallet/tests/address_tests.rs
  key-wallet/tests/bip32_tests.rs
  key-wallet/tests/derivation_tests.rs
  key-wallet/tests/psbt.rs
Due: cargo-fmt, verify-ffi, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

