Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

the disk storage manager worker is now a time based check, removed old command communciation
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/state.rs
Due: cargo-fmt, clippy

tests updated
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

replaced header_at_height
  dash-spv/src/chain/chainlock_manager.rs
Due: cargo-fmt, clippy

removed unused methods
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

init_from_checkpoint sync
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

removed two methos that where invovled in the same process
  dash-spv/src/sync/headers/manager.rs
Due: cargo-fmt, clippy

fixed clippy warnings
  dash-spv/src/chain/chainlock_manager.rs
Due: cargo-fmt, clippy

dropped unuseed code
  dash-spv/src/sync/headers/manager.rs
Due: cargo-fmt, clippy

everything moved where I want it to be
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/headers.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/transactions.rs
Due: cargo-fmt, clippy

general structure made
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/transactions.rs
Due: cargo-fmt, clippy

persist segments caches now requires the directory where the user wants to write the data
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

using rwlock to allow segmentcache mutability behind inmutable ref
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

clear method fixed
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

default method implementations in storage traits
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

storage manager trait implemented
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/transactions.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/reverse_index_test.rs
  dash-spv/tests/segmented_storage_debug.rs
  dash-spv/tests/segmented_storage_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/simple_segmented_test.rs
  dash-spv/tests/storage_consistency_test.rs
  dash-spv/tests/storage_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, clippy

fixed code to pass the tests
  dash-spv/src/lib.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/tests/storage_test.rs
Due: cargo-fmt, clippy

storage documentation updated
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/transactions.rs
Due: cargo-fmt, clippy

rebase conflicts resolved
  dash-spv/benches/storage.rs
  dash-spv/src/lib.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/state.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/rollback_test.rs
  dash-spv/tests/storage_test.rs
Due: cargo-fmt, clippy

masternodestate storage was not being persisted following the pattern other storages do
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

replaced write() locks where a read() can be used
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

refactor: cleanup `WalletBalance`
  dash-spv/src/main.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: cleanup `WalletBalance` (#335)
  dash-spv/src/main.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, verify-ffi, clippy

move test_util out of tests module
  key-wallet/Cargo.toml
  key-wallet/src/lib.rs
  key-wallet/src/test_utils/address.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/test_utils/utxo.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/test_utils.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, clippy

expose and used test_utils in itegration tests
  key-wallet/Cargo.toml
  key-wallet/src/test_utils/utxo.rs
  key-wallet/tests/test_optimal_consolidation.rs
Due: cargo-fmt, clippy

utxo constructor using range
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/test_utils/utxo.rs
Due: cargo-fmt, verify-ffi, clippy

cleanup
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/test_utils/address.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/test_utils/utxo.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/tests/test_optimal_consolidation.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: consolidate balance calculations
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix: update wallet heights when processing blocks (#309)
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, clippy

refactor: consolidate balance calculations (#338)
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

refactor: simplify immature transactions handling
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/immature_transaction_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/immature_transaction.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

Just some formatting
  key-wallet-ffi/src/utxo_tests.rs
Due: cargo-fmt, verify-ffi, clippy

Make `is_coinbase` also part of the constructors
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/test_utils/utxo.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/tests/test_optimal_consolidation.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: consolidate UTXO helpers in `test_utils` module (#334)
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/Cargo.toml
  key-wallet/src/lib.rs
  key-wallet/src/test_utils/address.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/test_utils/utxo.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/tests/test_optimal_consolidation.rs
Due: cargo-fmt, verify-ffi, clippy

fix: fail sync on timeout
  dash-spv/src/client/sync_coordinator.rs
Due: cargo-fmt, clippy

fix: fail sync on timeout (#342)
  dash-spv/src/client/sync_coordinator.rs
Due: cargo-fmt, clippy

test-utils feature and modules introduced
  .github/ci-groups.yml
  Cargo.toml
  dash-spv-ffi/Cargo.toml
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/chain/checkpoint_test.rs
  dash-spv/src/lib.rs
  dash-spv/src/test_utils/checkpoint.rs
  dash-spv/src/test_utils/mod.rs
  dash/Cargo.toml
  dash/src/lib.rs
  dash/src/test_utils/blockhash.rs
  dash/src/test_utils/chainlock.rs
  dash/src/test_utils/mod.rs
  test-utils/Cargo.toml
  test-utils/src/builders.rs
  test-utils/src/fixtures.rs
  test-utils/src/helpers.rs
  test-utils/src/lib.rs
  test-utils/src/macros.rs
Due: cargo-fmt, verify-ffi, clippy

fix: correct confirmations for UTXOs in wallet FFI
  key-wallet-ffi/src/utxo.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/Cargo.toml
  key-wallet/src/utxo.rs
Due: cargo-fmt, verify-ffi, clippy

chain module unit tests clean
  dash-spv/src/chain/chain_tip.rs
  dash-spv/src/chain/chain_work.rs
  dash-spv/src/chain/checkpoint_test.rs
  dash-spv/src/test_utils/chain_tip.rs
  dash-spv/src/test_utils/chain_work.rs
  dash-spv/src/test_utils/checkpoint.rs
  dash-spv/src/test_utils/mod.rs
Due: cargo-fmt, clippy

chore: ignore bincode unmaintained advisory `RUSTSEC-2025-0141`
  deny.toml
Due: none

created MockWallet
  dash-spv/Cargo.toml
  dash-spv/src/client/block_processor_test.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/test_utils/mod.rs
  key-wallet-manager/src/test_utils/wallet.rs
Due: cargo-fmt, clippy
