Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

test: extract wallet setup into `TestWalletContext`
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix: align bloom filter size/hash calculation with Dash Core
  dash/src/bloom/filter.rs
Due: cargo-fmt, clippy

refactor: extract `snapshot_balances`/`emit_balance_changes` helpers
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
Due: cargo-fmt, clippy

ci: disable `carryforward` flags to flush stale data
  .codecov.yml
Due: none

ci: re-enable `carryforward` flags (#543)
  .codecov.yml
Due: none

ci: re-disable `carryforward` flags
  .codecov.yml
Due: none

test: add polling wait for wallet callbacks in FFI test
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv-ffi/tests/dashd_sync/tests_transaction.rs
Due: cargo-fmt, verify-ffi, clippy

test: move counter increments after payload writes in FFI callbacks
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

ci: drop `tools` CI test group
  .github/ci-groups.yml
  .github/scripts/ci_config.py
Due: none

ci: add `ready-for-review` label automation on CodeRabbit approval
  .github/workflows/coderabbit-label.yml
Due: none

ci: consolidate fuzz CI to nightly schedule
  .github/workflows/fuzz.yml
  fuzz/fuzz.sh
  fuzz/generate-files.sh
Due: none

review: use `unwrap_or_else` for poisoned mutex recovery in FFI callbacks
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

ci: add Claude Code GitHub Action for on-demand reviews
  .github/workflows/claude.yml
Due: none

feat(key-wallet): add BlockchainIdentities account types (#553)
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet/src/account/account_collection.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_type.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/wallet/helper.rs
Due: cargo-fmt, verify-ffi, clippy

test: update account count for BlockchainIdentities variants (#553)
  key-wallet-manager/tests/integration_test.rs
Due: cargo-fmt, clippy

fix: include BlockchainIdentities accounts in find_address_account() lookup (#555)
  key-wallet/src/transaction_checking/account_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet-ffi): include blockchain_identities_* accounts in mark_address_used scan (#557)
  key-wallet-ffi/src/address_pool.rs
Due: cargo-fmt, verify-ffi, clippy

test: narrow BlockchainIdentities routing test to exact shared-path variant (#556)
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
Due: cargo-fmt, clippy

test: consolidate test transaction creation
  dash/src/test_utils/transaction.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/classification.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinjoin.rs
  key-wallet/src/transaction_checking/transaction_router/tests/helpers.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/transaction_router/tests/standard_transactions.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

`Transaction::empty()` -> `Transaction::dummy_empty()`
  dash/src/test_utils/transaction.rs
  key-wallet/src/managed_account/transaction_record.rs
Due: cargo-fmt, clippy

ci: add PR title prefix enforcement
  .coderabbit.yaml
  .github/workflows/pr-title.yml
Due: none

fix: use immutable Wallet reference in WalletTransactionChecker
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

refactor: remove `current_sync_peer` from network manager
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy

feat: wallet transaction confirmation lifecycle
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix `check_transaction.c`
  key-wallet-ffi/examples/check_transaction.c
Due: none

review: refresh cached balance after InstantSend UTXO state changes
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

review: refresh cached balance after UTXO mutations in `check_core_transaction()`
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

review: backfill `TransactionRecord` in `confirm_transaction()` for missing accounts
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

`update_balance` parameter
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

rename `check_transaction_and_update_balance`
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

chore: drop unused `update_wallet_balance` from `WalletManager`
  key-wallet-manager/src/wallet_manager/mod.rs
Due: cargo-fmt, clippy

ci: gate `ready-for-review` label on CodeRabbit approval + CI passing
  .github/scripts/check_ci_status.sh
  .github/workflows/coderabbit-label.yml
  .github/workflows/ready-for-review.yml
Due: none

docs: list enforced PR title prefixes in `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: none

drop no-std supp for hashes
  dash/Cargo.toml
  hashes/Cargo.toml
  hashes/src/error.rs
  hashes/src/hash160.rs
  hashes/src/hash_x11.rs
  hashes/src/hex.rs
  hashes/src/hmac.rs
  hashes/src/impls.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
Due: cargo-fmt, clippy

build: centralize FFI header generation in `ffi-header-gen` crate
  Cargo.toml
  contrib/verify_ffi.py
  dash-spv-ffi/CLAUDE.md
  dash-spv-ffi/Cargo.toml
  dash-spv-ffi/build.rs
  ffi-header-gen/Cargo.toml
  ffi-header-gen/src/lib.rs
  ffi-header-gen/src/main.rs
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/build.rs
  key-wallet-ffi/generate_header.sh
Due: cargo-fmt, verify-ffi, clippy

ci: use `runner.temp` for dashd log path instead of hardcoded `/tmp`
  .github/workflows/build-and-test.yml
Due: none

ci: wrap test execution in `try`/`finally`
  .github/scripts/ci_config.py
Due: none

drop no-std supp in dashcore
  dash-spv/Cargo.toml
  dash/Cargo.toml
  dash/src/address.rs
  dash/src/amount.rs
  dash/src/base58.rs
  dash/src/bip152.rs
  dash/src/bip158.rs
  dash/src/blockdata/block.rs
  dash/src/blockdata/locktime/absolute.rs
  dash/src/blockdata/locktime/relative.rs
  dash/src/blockdata/script/mod.rs
  dash/src/blockdata/transaction/outpoint.rs
  dash/src/consensus/encode.rs
  dash/src/consensus/serde.rs
  dash/src/crypto/ecdsa.rs
  dash/src/crypto/key.rs
  dash/src/crypto/sighash.rs
  dash/src/crypto/taproot.rs
  dash/src/ephemerealdata/chain_lock.rs
  dash/src/ephemerealdata/instant_lock.rs
  dash/src/error.rs
  dash/src/lib.rs
  dash/src/merkle_tree/block.rs
  dash/src/network/mod.rs
  dash/src/pow.rs
  dash/src/sign_message.rs
  dash/src/string.rs
  dash/src/taproot.rs
  internals/src/error.rs
  key-wallet-ffi/Cargo.toml
  key-wallet-manager/Cargo.toml
  rpc-json/Cargo.toml
Due: cargo-fmt, verify-ffi, clippy

ci: decouple `verify-groups` from test matrix
  .github/scripts/ci_config.py
  .github/workflows/build-and-test.yml
  .github/workflows/rust.yml
Due: none

chore: remove FFI header generation from `pre-commit` FFI step
  .gitignore
  .pre-commit-config.yaml
  contrib/verify_ffi.py
  dash-spv-ffi/CLAUDE.md
  dash-spv-ffi/Makefile
  dash-spv-ffi/dash_spv_ffi.h
  dash-spv-ffi/include/dash_spv_ffi.h
  key-wallet-ffi/Makefile
  key-wallet-ffi/build.rs
  key-wallet-ffi/include/key_wallet_ffi.h
Due: cargo-fmt, verify-ffi, clippy
