Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

fix wrong transaction data pointer creation
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: add `ensure_not_started()` guard
  dash-spv/src/error.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/sync/sync_coordinator.rs
  dash-spv/src/sync/sync_manager.rs
  dash-spv/tests/error_types_test.rs
Due: cargo-fmt, clippy

remove integartion dash-pv-ffi tests that are out of scope
  dash-spv-ffi/tests/integration/mod.rs
  dash-spv-ffi/tests/integration/test_cross_language.rs
  dash-spv-ffi/tests/integration/test_full_workflow.rs
  dash-spv-ffi/tests/performance/mod.rs
  dash-spv-ffi/tests/performance/test_benchmarks.rs
  dash-spv-ffi/tests/security/mod.rs
  dash-spv-ffi/tests/security/test_security.rs
Due: cargo-fmt, verify-ffi, clippy

checkpoint rewrite
  dash-spv/checkpoints/mainnet.checkpoints
  dash-spv/checkpoints/testnet.checkpoints
  dash-spv/src/chain/checkpoint_test.rs
  dash-spv/src/chain/checkpoints.rs
  dash-spv/src/chain/mod.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/pipeline.rs
  dash-spv/src/test_utils/checkpoint.rs
  docs/implementation-notes/CHECKPOINT_IMPLEMENTATION.md
Due: cargo-fmt, clippy

refactor: remove `SyncState::Initializing` variant
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/test_types.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/instantsend/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/progress.rs
  dash-spv/src/sync/sync_coordinator.rs
  dash-spv/src/sync/sync_manager.rs
Due: cargo-fmt, verify-ffi, clippy

chore: Remove some unused files
  .actrc
  TEST_SUMMARY.md
  TODOS.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
  dash/contrib/act/event.json
  docs/implementation-notes/BLOOM_FILTER_SPEC.md
  docs/implementation-notes/CHAINLOCK_IMPLEMENTATION.md
  docs/implementation-notes/CHECKPOINT_IMPLEMENTATION.md
  docs/implementation-notes/IMPLEMENTATION_STATUS.md
  docs/implementation-notes/MEMPOOL_IMPLEMENTATION_SUMMARY.md
  docs/implementation-notes/PEER_REPUTATION_SYSTEM.md
  docs/implementation-notes/WALLET_SPV_INTEGRATION.md
  key-wallet-ffi/include/key_wallet_ffi_test.h
  key-wallet-manager/SPV_WALLET_GUIDE.md
  test_checksum.rs
  test_smart_algo.sh
Due: cargo-fmt, clippy

fix: correct initial percentage to only average active managers
  dash-spv/src/sync/progress.rs
  dash-spv/src/sync/sync_coordinator.rs
Due: cargo-fmt, clippy

fix: consolidate duplicate `FFISyncProgress` destroy functions
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/test_types.rs
Due: cargo-fmt, verify-ffi, clippy

chore: drop unused `_TestCallbackData`
  dash-spv-ffi/tests/test_client.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: cleanup `DashSpvClient` to have single `run()` entry point
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/README.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/scripts/generate_ffi_docs.py
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/c_tests/test_basic.c
  dash-spv-ffi/tests/test_client.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv/README.md
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

extracted method for fee calculation
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

chore: drop unused `completed_count` in `BlocksPipeline`
  dash-spv/src/sync/blocks/pipeline.rs
Due: cargo-fmt, clippy

chore: add `RUST_BACKTRACE=1` to CI test runs
  .github/workflows/build-and-test.yml
  .github/workflows/sanitizer.yml
Due: none

change wallet_build_and_sign_transaction signature to be used in iOS
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, verify-ffi, clippy

chore: improve ASAN stack trace and symbolization
  .github/workflows/sanitizer.yml
Due: none

drop FeeEstimator
  key-wallet-manager/src/lib.rs
  key-wallet/src/wallet/managed_wallet_info/fee.rs
Due: cargo-fmt, clippy

chore: fix ffi api docs
  dash-spv-ffi/FFI_API.md
Due: none

feat: report/propagate client start/run failures
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/sync/sync_coordinator.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: move manager initialization from trait method to constructors
  dash-spv/ARCHITECTURE.md
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/sync_coordinator.rs
  dash-spv/src/sync/sync_manager.rs
Due: cargo-fmt, clippy

drop dashcore::FeeRate
  dash/src/blockdata/fee_rate.rs
  dash/src/blockdata/mod.rs
  dash/src/lib.rs
Due: cargo-fmt, clippy

drop FeeLevel
  key-wallet-ffi/src/transaction.rs
  key-wallet-manager/src/wallet_manager/transaction_building.rs
  key-wallet/src/wallet/managed_wallet_info/fee.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

feat: dispatch progress callback on registration
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/test_client.rs
Due: cargo-fmt, verify-ffi, clippy

feat: persist and restore target height via `MetadataStorage`
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/sync_coordinator.rs
Due: cargo-fmt, clippy

refactor: add `clear_in_flight_state()` to `SyncManager` trait
  dash-spv/src/sync/block_headers/pipeline.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/sync/instantsend/manager.rs
  dash-spv/src/sync/instantsend/sync_manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/sync/sync_manager.rs
Due: cargo-fmt, clippy

drop function to create unisgned transactions in WalletManager and in ManagedWalletInfo
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/transaction_building.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

feat: add `thread-local` logging support for parallel test isolation
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/utils.rs
  dash-spv/src/logging.rs
  dash-spv/src/main.rs
Due: cargo-fmt, verify-ffi, clippy

fix: avoid extra `GetHeaders` after post-sync header processing
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/pipeline.rs
  dash/src/test_utils/block.rs
Due: cargo-fmt, clippy

feat: add exponential download timeout backoff and error propagation
  dash-spv/src/sync/block_headers/pipeline.rs
  dash-spv/src/sync/block_headers/segment_state.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/blocks/pipeline.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/download_coordinator.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
  dash-spv/src/sync/filters/pipeline.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/sync/masternodes/pipeline.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/sync/sync_manager.rs
Due: cargo-fmt, clippy

refactor: extract shared `send_message_to_peer` helper
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy

feat: add `request_block_headers_from_peer` to `RequestSender`
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/tests.rs
  dash-spv/src/sync/filters/pipeline.rs
Due: cargo-fmt, clippy

TransactionBuilder and CoinSelector logic refactor/fix
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet/src/lib.rs
  key-wallet/src/transaction/builder.rs
  key-wallet/src/transaction/coin_selection.rs
  key-wallet/src/transaction/fee.rs
  key-wallet/src/transaction/mod.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/tests/test_optimal_consolidation.rs
Due: cargo-fmt, clippy

ci: add Codecov coverage tracking with PR diff reports
  .codecov.yml
  .github/scripts/coverage-diff.py
  .github/workflows/coverage.yml
  README.md
Due: none

fix: make coverage-diff.py executable
  .github/scripts/coverage-diff.py
Due: none

fix: address CodeRabbit review feedback
  .github/scripts/coverage-diff.py
  .github/workflows/coverage.yml
Due: none

utxos selection logic refactor
  key-wallet/src/transaction/builder.rs
  key-wallet/src/transaction/coin_selection.rs
  key-wallet/src/transaction/mod.rs
Due: cargo-fmt, clippy

chore: add codecov coverage tracking
  .codecov.yml
  .github/scripts/ci_config.py
  .github/workflows/build-and-test.yml
  .github/workflows/rust.yml
  README.md
Due: none

chore: fix codecov uploads
  .codecov.yml
  .github/ci-groups.yml
  .github/scripts/ci_config.py
  .github/workflows/build-and-test.yml
  README.md
Due: none

chore: add `__pycache__/` to `.gitignore`
  .gitignore
Due: none

fix: request `MnListDiff` per block and `QRInfo` at cycle boundaries
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy
