Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

chore: add `.gitattributes` to enforce LF line endings
  .gitattributes
Due: none

fixes after `typos` update
  dash/embedded/src/main.rs
  dash/src/consensus/encode.rs
  dash/src/network/message.rs
  dash/src/serialize.rs
  internals/src/hex/buf_encoder.rs
  key-wallet/src/psbt/serialize.rs
  rpc-client/src/client.rs
Due: cargo-fmt, clippy

update `pre-commit` hooks to latest versions
  .pre-commit-config.yaml
Due: none

chore: add explicit UTF-8 encoding for FFI doc generation
  contrib/verify_ffi.py
  dash-spv-ffi/scripts/generate_ffi_docs.py
  key-wallet-ffi/scripts/generate_ffi_docs.py
Due: verify-ffi

Prevent wallet related memory leaks in tests
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/tests/test_import_wallet.rs
Due: cargo-fmt, verify-ffi, clippy

Fix `FFIArray` test cleanup memory leaks
  dash-spv-ffi/tests/test_types.rs
  dash-spv-ffi/tests/unit/test_memory_management.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
Due: cargo-fmt, verify-ffi, clippy

Free sync progress and stats in `test_client_resource_cleanup`
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
Due: cargo-fmt, verify-ffi, clippy

Prevent `FFIError` message leaks in tests
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/account_tests.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/address_tests.rs
  key-wallet-ffi/src/derivation_tests.rs
  key-wallet-ffi/src/error.rs
  key-wallet-ffi/src/keys_tests.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/managed_wallet_tests.rs
  key-wallet-ffi/src/mnemonic_tests.rs
  key-wallet-ffi/src/transaction_tests.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-ffi/tests/integration_test.rs
  key-wallet-ffi/tests/test_error_conversions.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
Due: cargo-fmt, verify-ffi, clippy

chore: make `first_valid_offset` part of `debug_assertions`
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

storage manager trait implemented
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/transactions.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/reverse_index_test.rs
  dash-spv/tests/segmented_storage_debug.rs
  dash-spv/tests/segmented_storage_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/simple_segmented_test.rs
  dash-spv/tests/storage_consistency_test.rs
  dash-spv/tests/storage_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, clippy

fixed code to pass the tests
  dash-spv/src/lib.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/tests/storage_test.rs
Due: cargo-fmt, clippy

storage documentation updated
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/transactions.rs
Due: cargo-fmt, clippy

peers persistance moved to the storage module
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/persist.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

peers reputations storage system moven to the storage module
  dash-spv/peers/reputations.json
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

fix: avoid X11 hash with wrong input size in tests
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/chain/checkpoint_test.rs
  test-utils/src/fixtures.rs
Due: cargo-fmt, clippy

feat: Implement parallel filter matching
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/sync/filters/matching.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/matching.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/check_compact_filters_tests.rs
  test-utils/src/builders.rs
Due: cargo-fmt, clippy

feat: add `network` to `FFIWalletManager` struct
  dash-spv-ffi/tests/test_wallet_manager.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/src/wallet_manager/mod.rs
Due: cargo-fmt, verify-ffi, clippy

feat: add `network` to `FFIWalletManager` struct (#325)
  dash-spv-ffi/tests/test_wallet_manager.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/src/wallet_manager/mod.rs
Due: cargo-fmt, verify-ffi, clippy

chore: release v0.41.0
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  dash-network/README.md
  dash-spv/ARCHITECTURE.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
Due: none

peer storage cleanup
  dash-spv/peers/reputations.json
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

peer reputation deserialization values clamp moved into serde pipeline
  dash-spv/peers/reputations.json
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

tests corrrectly use a temp dir
  dash-spv/src/network/manager.rs
  dash-spv/src/storage/peers.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, clippy

clippy warning fixed
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

gitignore updated
  .gitignore
Due: none

removed Arc<RwLock<>> from PeerReputationManager
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
Due: cargo-fmt, clippy

removed unused fields in PeerReputationManager
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

removed unused stuff after making the reputation module private
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

visibility and removal of redundant code
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

ReputationChangeReason replacing old constant values
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/reputation.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, clippy

positive and negative4 action fields removed
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

connection stats removed from PeerReputation
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

chore: release v0.41.0 (#298)
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  dash-network/README.md
  dash-spv/ARCHITECTURE.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
Due: none

PeerReputationManager always tries to load in the constructor
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

fix: avoid X11 hash with wrong input size in tests (#324)
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/chain/checkpoint_test.rs
  test-utils/src/fixtures.rs
Due: cargo-fmt, clippy

chore: add explicit UTF-8 encoding for FFI doc generation (#322)
  contrib/verify_ffi.py
  dash-spv-ffi/scripts/generate_ffi_docs.py
  key-wallet-ffi/scripts/generate_ffi_docs.py
Due: verify-ffi

chore: add `.gitattributes` to enforce LF line endings (#321)
  .gitattributes
Due: none

ci: exclude `dash-fuzz` from clippy on Windows (#320)
  .pre-commit-config.yaml
  contrib/run_clippy.py
Due: none

fix: single file handle in `atomic_write` (#317)
  dash-spv/src/storage/io.rs
Due: cargo-fmt, clippy

tests: Add `dashd_sync.rs` with `test_wallet_sync`
  .github/workflows/spv-integration-tests.yml
  contrib/setup-dashd.sh
  dash-spv/tests/common/mod.rs
  dash-spv/tests/common/node.rs
  dash-spv/tests/dashd_sync.rs
Due: cargo-fmt, clippy

chore: update `pre-commit` hooks to latest versions (#315)
  .pre-commit-config.yaml
  dash/embedded/src/main.rs
  dash/src/consensus/encode.rs
  dash/src/network/message.rs
  dash/src/serialize.rs
  internals/src/hex/buf_encoder.rs
  key-wallet/src/psbt/serialize.rs
  rpc-client/src/client.rs
Due: cargo-fmt, clippy
