Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

consistency improved in the test-utils modules
  dash-spv/src/chain/checkpoint_test.rs
  dash-spv/src/test_utils/chain_tip.rs
  dash-spv/src/test_utils/checkpoint.rs
  dash/src/test_utils/block.rs
Due: cargo-fmt, clippy

chore: remove unused `bloom` module (#280)
  dash-spv/src/bloom/builder.rs
  dash-spv/src/bloom/manager.rs
  dash-spv/src/bloom/mod.rs
  dash-spv/src/bloom/stats.rs
  dash-spv/src/bloom/tests.rs
  dash-spv/src/bloom/utils.rs
  dash-spv/src/lib.rs
Due: cargo-fmt, clippy

remove block_requested field from FitlerMatch
  dash-spv/src/sync/filters/matching.rs
  dash-spv/src/types.rs
  dash-spv/tests/block_download_test.rs
Due: cargo-fmt, clippy

build(deps): bump bincode to 2.0.1
  dash-network/Cargo.toml
  dash/Cargo.toml
  dash/src/address.rs
  hashes/Cargo.toml
  hashes/src/bincode_macros.rs
  hashes/src/internal_macros.rs
  key-wallet-ffi/IMPORT_WALLET_FFI.md
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/wallet/root_extended_keys.rs
  rpc-json/Cargo.toml
Due: cargo-fmt, clippy

Update dash-network/Cargo.toml
  dash-network/Cargo.toml
Due: none

chore(dash-spv): replace bincode 1.3.3 with bincode 2.0.1
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_manager.rs
  dash-spv/src/storage/headers.rs
  dash-spv/src/storage/state.rs
Due: cargo-fmt, clippy

feat: add FFI account creation options and network retrieval function
  dash-spv-ffi/include/dash_spv_ffi.h
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/wallet_manager.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: bump `bincode` to `2.0.1` (#356)
  dash-network/Cargo.toml
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_manager.rs
  dash-spv/src/storage/headers.rs
  dash-spv/src/storage/state.rs
  dash/Cargo.toml
  dash/src/address.rs
  hashes/Cargo.toml
  hashes/src/bincode_macros.rs
  hashes/src/internal_macros.rs
  key-wallet-ffi/IMPORT_WALLET_FFI.md
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/wallet/root_extended_keys.rs
  rpc-json/Cargo.toml
Due: cargo-fmt, clippy

fix
  dash-spv-ffi/include/dash_spv_ffi.h
  key-wallet-ffi/include/key_wallet_ffi.h
Due: none

fix
  key-wallet-ffi/FFI_API.md
Due: none

feat: add PlatformPayment account specifications and creation logic
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet/src/tests/integration_tests.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/initialization.rs
Due: cargo-fmt, verify-ffi, clippy

feat: add `wallet_manager_network` FFI function (#360)
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/wallet_manager.rs
Due: cargo-fmt, verify-ffi, clippy

chore: drop unused integration tests
  AGENTS.md
  CLAUDE.md
  dash-spv/CLAUDE.md
  dash-spv/run_integration_tests.md
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/test_plan.md
Due: cargo-fmt, clippy

fix
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/tests/test_account_collection.rs
  key-wallet-manager/tests/integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

more work
  key-wallet/src/wallet/initialization.rs
Due: cargo-fmt, clippy

feat(wallet): add PlatformPayment account specifications and creation logic (#365)
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/tests/test_account_collection.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/tests/integration_tests.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/initialization.rs
Due: cargo-fmt, verify-ffi, clippy

chore: drop unused integration tests (#362)
  AGENTS.md
  CLAUDE.md
  dash-spv/CLAUDE.md
  dash-spv/run_integration_tests.md
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/test_plan.md
Due: cargo-fmt, clippy

feat: update managed accounts to use ManagedCoreAccount and WalletCoreBalance
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/account.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: drop headers2 stats
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers2/manager.rs
  dash-spv/src/sync/headers2/mod.rs
  dash-spv/src/sync/mod.rs
Due: cargo-fmt, clippy

more work
  key-wallet-ffi/src/address_pool.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/conversions.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: drop headers2 stats (#367)
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers2/manager.rs
  dash-spv/src/sync/headers2/mod.rs
  dash-spv/src/sync/mod.rs
Due: cargo-fmt, clippy

introduce `BlockHeaderStorage.get_tip` helper
  dash-spv/src/client/core.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

refactor: drop `DashSpvClient.sync_to_tip`
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/FFI_DOCS_README.md
  dash-spv-ffi/README.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/scripts/generate_ffi_docs.py
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/c_tests/test_advanced.c
  dash-spv-ffi/tests/integration/test_full_workflow.rs
  dash-spv-ffi/tests/test_event_callbacks.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv/README.md
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
Due: cargo-fmt, verify-ffi, clippy

feat: move headers2 processing into network layer
  dash-spv/src/network/manager.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers2/manager.rs
  dash-spv/src/sync/headers2/mod.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/src/sync/mod.rs
  dash/src/network/message_headers2.rs
Due: cargo-fmt, clippy

refactor: drop useless `DashSpvClient.sync_to_tip` (#363)
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/FFI_DOCS_README.md
  dash-spv-ffi/README.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/scripts/generate_ffi_docs.py
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/c_tests/test_advanced.c
  dash-spv-ffi/tests/integration/test_full_workflow.rs
  dash-spv-ffi/tests/test_event_callbacks.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv/README.md
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
Due: cargo-fmt, verify-ffi, clippy

feat: introduce `BlockHeaderStorage.get_tip` helper (#359)
  dash-spv/src/client/core.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

refactor: move `Headers2` processing into network layer (#369)
  dash-spv/src/network/manager.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers2/manager.rs
  dash-spv/src/sync/headers2/mod.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/src/sync/mod.rs
  dash/src/network/message_headers2.rs
Due: cargo-fmt, clippy

more work
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/platform_address.rs
  key-wallet/src/transaction_checking/platform_checker.rs
Due: cargo-fmt, clippy

fix
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/transaction_checking/platform_checker.rs
Due: cargo-fmt, clippy

more work
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/transaction_checking/platform_checker.rs
Due: cargo-fmt, clippy

fix
  key-wallet/src/transaction_checking/platform_checker.rs
Due: cargo-fmt, clippy

validator trait created, instalock and headers being validated with it
  dash-spv/src/client/chainlock.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers/mod.rs
  dash-spv/src/validation/header.rs
  dash-spv/src/validation/instantlock.rs
  dash-spv/src/validation/mod.rs
Due: cargo-fmt, clippy

storage tests moved into unit tests and dropped duplicated tests
  dash-spv/src/storage/mod.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/reverse_index_test.rs
  dash-spv/tests/segmented_storage_debug.rs
  dash-spv/tests/segmented_storage_test.rs
  dash-spv/tests/simple_segmented_test.rs
  dash-spv/tests/storage_consistency_test.rs
  dash-spv/tests/storage_test.rs
Due: cargo-fmt, clippy

fixes
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/transaction_checking/platform_checker.rs
Due: cargo-fmt, clippy

fix
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/wallet.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: move storage tests into unit tests and drop duplicated tests (#371)
  dash-spv/src/storage/mod.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/reverse_index_test.rs
  dash-spv/tests/segmented_storage_debug.rs
  dash-spv/tests/segmented_storage_test.rs
  dash-spv/tests/simple_segmented_test.rs
  dash-spv/tests/storage_consistency_test.rs
  dash-spv/tests/storage_test.rs
Due: cargo-fmt, clippy

config storage_path is no longer an option and the DiskStorageManager is built using the config
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/test_wallet_manager.rs
  dash-spv/benches/storage.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/lib.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/storage/mod.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/chainlock_simple_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

main.rs udpated
  dash-spv/src/main.rs
Due: cargo-fmt, clippy

fix
  key-wallet-ffi/cbindgen.toml
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_account_collection.rs
Due: cargo-fmt, verify-ffi, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

