Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

fix: subscribe to SPV event monitors before startup
  dash-spv/src/client/sync_coordinator.rs
Due: cargo-fmt, clippy

feat(key-wallet-manager): add insert_wallet, get_wallet_and_info_mut, bls/eddsa features
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/accessors.rs
Due: cargo-fmt, clippy

feat(key-wallet): changeset module + prep work for BDK-style persistence
  key-wallet/src/changeset/changeset.rs
  key-wallet/src/changeset/merge.rs
  key-wallet/src/changeset/mod.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/tests/changeset_support_tests.rs
  key-wallet/src/tests/edge_case_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/wallet_tests.rs
  key-wallet/src/wallet/accounts.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

feat(key-wallet): BDK-style mutate-and-return changesets on ManagedCoreAccount
  key-wallet-ffi/src/address_pool.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/changeset/changeset.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/changeset_mutation_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet): apply_changeset for idempotent persistence restore
  key-wallet-manager/src/accessors.rs
  key-wallet/src/wallet/managed_wallet_info/apply.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

fix(key-wallet): Phase 7 review pass on apply_changeset
  key-wallet-ffi/src/error.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/error.rs
  key-wallet/src/changeset/changeset.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/changeset_mutation_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/apply.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): BDK-style per-account changeset shape
  key-wallet/src/account/account_type.rs
  key-wallet/src/changeset/changeset.rs
  key-wallet/src/changeset/mod.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/changeset_mutation_tests.rs
  key-wallet/src/tests/changeset_support_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/apply.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

fix(key-wallet): Phase 7.5 review pass
  key-wallet-manager/src/accessors.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/changeset/changeset.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/changeset_mutation_tests.rs
  key-wallet/src/tests/changeset_support_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/apply.rs
Due: cargo-fmt, clippy

refactor(key-wallet): drop add_to_state flag from address generation
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/address_pool_tests.rs
  key-wallet/src/tests/performance_tests.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): apply_changeset consumes changeset by value
  key-wallet-manager/src/accessors.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/wallet/managed_wallet_info/apply.rs
Due: cargo-fmt, clippy

test(key-wallet): trim redundant clone-comment in apply tests
  key-wallet/src/wallet/managed_wallet_info/apply.rs
Due: cargo-fmt, clippy

feat(key-wallet): AccountType::to_db_key + AddressPoolType::db_discriminant
  key-wallet/src/account/account_type.rs
  key-wallet/src/managed_account/address_pool.rs
Due: cargo-fmt, clippy

fix(dashcore): Address<NetworkChecked> serde deserialize no longer hardcodes Mainnet
  dash/src/address.rs
Due: cargo-fmt, clippy

fix(key-wallet): correct AssetLockTx structure per DIP-00X
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(dash-spv): remove overly-strict is_synced gate from broadcast
  dash-spv/src/client/transactions.rs
Due: cargo-fmt, clippy

build: ignore `RUSTSEC-2026-0097` until `blsful` updates `rand`
  deny.toml
Due: none
