Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

docs(wallet): remove internal accounting details from README
  key-wallet/README.md
Due: none

feat(wallet): drop what the wallet recorded above a fork
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/block_headers.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filter_headers.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/segments.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/tests_fork.rs
  dash-spv/tests/dashd_sync/tests_transaction.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/tests/truncate_above_tests.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(wallet): reconcile late inputs and publish accounting corrections (#1082)
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

chore: revert README to dev version
  key-wallet/README.md
Due: none

fix: correct late funding accounting on tracked InstantSend locks
  CHANGELOG.md
  dash-spv-ffi/src/callbacks.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): keep the stored QRInfo a same-tip QRInfo builds on
  dash-spv/src/storage/masternode.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, clippy

feat(key-wallet): restore externally persisted spent claims
  CHANGELOG.md
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

feat(key-wallet): report spent-outpoint claim changes
  CHANGELOG.md
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

feat(key-wallet-manager)!: carry spent-outpoint claim changes on events
  CHANGELOG.md
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): preserve unknown spend claims across accounts
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

chore: relicense MIT crates to CC0-1.0
  README.md
  dash-network-seeds/Cargo.toml
  dash-network/Cargo.toml
  dash-spv-bench/Cargo.toml
  dash-spv-ffi/Cargo.toml
  dash-spv-ffi/README.md
  dash-spv/Cargo.toml
  dash-spv/README.md
  git-state/Cargo.toml
  masternode-seeds-fetcher/Cargo.toml
Due: verify-ffi

chore: consolidate common `package` defs to workspace `Cargo.toml`
  Cargo.toml
  crypto/Cargo.toml
  dash-network-seeds/Cargo.toml
  dash-network/Cargo.toml
  dash-spv-bench/Cargo.toml
  dash-spv-ffi/Cargo.toml
  dash-spv/Cargo.toml
  dash/Cargo.toml
  fuzz/Cargo.toml
  fuzz/generate-files.sh
  git-state/Cargo.toml
  hashes/Cargo.toml
  hashes/README.md
  internals/Cargo.toml
  key-wallet-ffi/Cargo.toml
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  masternode-seeds-fetcher/Cargo.toml
  rpc-client/Cargo.toml
  rpc-integration-test/Cargo.toml
  rpc-json/Cargo.toml
Due: verify-ffi

chore: consolidate common dependencies to workspace `Cargo.toml`
  Cargo.toml
  crypto/Cargo.toml
  dash-network/Cargo.toml
  dash-spv-ffi/Cargo.toml
  dash-spv/Cargo.toml
  dash/Cargo.toml
  fuzz/Cargo.toml
  fuzz/generate-files.sh
  hashes/Cargo.toml
  key-wallet-ffi/Cargo.toml
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  masternode-seeds-fetcher/Cargo.toml
  rpc-client/Cargo.toml
  rpc-integration-test/Cargo.toml
  rpc-json/Cargo.toml
Due: verify-ffi

refactor!: bump `base58ck` to 0.5.0, tidy up `base58ck` alias
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/key.rs
  dash/src/address.rs
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
Due: cargo-fmt, clippy

fix(key-wallet): release restored claims separately from spent marks
  CHANGELOG.md
  key-wallet/CLAUDE.md
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

fix(key-wallet): pass a restored claim to the surviving spender
  CHANGELOG.md
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

fix(key-wallet): make a restored claim permanent once a final spend lands
  CHANGELOG.md
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

refactor(crypto)!: pass sighash and taproot types from `bitcoin-crypto`
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/ecdsa.rs
  crypto/src/lib.rs
  crypto/src/serde_utils.rs
  crypto/src/sighash.rs
  crypto/src/taproot.rs
  dash/src/blockdata/witness.rs
  dash/src/crypto/sighash.rs
  hashes/src/bincode_macros.rs
  hashes/src/hash_x11.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
  rpc-json/src/lib.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash): treat `SIGHASH_SINGLE|ANYONECANPAY` as single in the legacy sighash
  dash/src/crypto/sighash.rs
Due: cargo-fmt, clippy

docs: update changelog
  CHANGELOG.md
Due: none

refactor(crypto): shave `crypto::eddsa` down to `dash-pkc` definitions
  crypto/Cargo.toml
  crypto/src/eddsa.rs
  crypto/src/lib.rs
  dash/src/hash_types.rs
  key-wallet/src/account/eddsa_account.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
Due: cargo-fmt, clippy

feat(dash-spv): read the latest masternode list from blocking callers
  dash-spv/src/client/queries.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, clippy

test: cover the work-block requests and the fixes for #1109, #939 and #940
  dash-spv/src/sml_engine.rs
  dash-spv/src/storage/masternode.rs
  dash/src/sml/masternode_list/apply_diff.rs
Due: cargo-fmt, clippy

refactor(dash-spv): re-export QRInfoFeedResult and hide the engine-taking constructors
  dash-spv/src/sml_engine.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/instantsend/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/mod.rs
Due: cargo-fmt, clippy

fix(dash-spv): reject malformed InstantLocks before looking up their cycle
  dash-spv/src/sync/instantsend/manager.rs
  dash-spv/src/validation/instantlock.rs
  dash-spv/src/validation/mod.rs
Due: cargo-fmt, clippy

fix(dash-spv): do not follow a fork below the best ChainLock
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/mod.rs
Due: cargo-fmt, clippy

fix(wallet)!: refuse a truncation below the applied ChainLock
  dash-spv/src/client/lifecycle.rs
  key-wallet-ffi/src/error.rs
  key-wallet-manager/src/error.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/error.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/tests/truncate_above_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(wallet): truncate only the wallets that processed a block above the fork
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(wallet): settle a spend promoted into a chainlocked block
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/truncate_above_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): keep an outpoint guarded while another account's record spends it
  CHANGELOG.md
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

fix(wallet): keep an InstantSend-locked spend unconfirmed when a fork drops its block
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/truncate_above_tests.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(wallet): restore a spent-first output when a fork drops its spend
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
Due: cargo-fmt, clippy

docs(key-wallet): drop the FFI docs' unreachable BIP38 category
  key-wallet-ffi/FFI_DOCS_README.md
  key-wallet-ffi/scripts/generate_ffi_docs.py
Due: verify-ffi

docs(key-wallet): regenerate `FFI_API.md` with `contrib/verify_ffi.py`
  key-wallet-ffi/FFI_API.md
Due: none

refactor(key-wallet)!: drop `wallet`'s BIP38 export and import routines
  key-wallet/src/wallet/bip38.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

refactor(key-wallet)!: drop stub BIP38 FFI definitions
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/src/bip38.rs
  key-wallet-ffi/src/lib.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet): drop the BIP38 test scripts and documentation
  key-wallet/BIP38_TESTS.md
  key-wallet/CI_TESTING.md
  key-wallet/CLAUDE.md
  key-wallet/IMPLEMENTATION_SUMMARY.md
  key-wallet/README.md
  key-wallet/src/missing_tests.md
  key-wallet/test_bip38.sh
  key-wallet/test_bip38_advanced.sh
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

