Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

refactor(key-wallet): drop `WalletInfoInterface::set_birth_height`
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

test(key-wallet): pin off-by-one seed contract in `test_wallet_with_managed_info`
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

build(dash-spv): add `toxiproxy_rust` dev-dep and toxiproxy server downloader
  contrib/setup-dashd.py
  dash-spv/Cargo.toml
Due: none

test(dash-spv): add `ChaoticDashd` toxiproxy network chaos harness
  dash-spv/Cargo.toml
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/network_chaos.rs
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/tests_chaos.rs
Due: cargo-fmt, clippy

test(dash-spv): add ignored regression-coverage chaos tests
  dash-spv/tests/dashd_sync/tests_chaos.rs
Due: cargo-fmt, clippy

ci: pin `TOXIPROXY_VERSION` and include it in the dashd cache key
  .github/workflows/build-and-test.yml
Due: none

fix(dash-spv): preserve buffered block headers across disconnect
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/pipeline.rs
  dash-spv/src/sync/block_headers/segment_state.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/tests/dashd_sync/helpers.rs
Due: cargo-fmt, clippy

chore(key-wallet): format wallet amounts as DASH in logs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
Due: cargo-fmt, clippy

refactor(key-wallet): rename `ManagedCoreAccount.account_type`
  dash-spv/tests/dashd_sync/setup.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, verify-ffi, clippy

chore(dash-spv): remove unused `consecutive_resyncs` counter on `Peer`
  dash-spv/src/network/peer.rs
Due: cargo-fmt, clippy

feat(key-wallet-manager): carry per-account balance diff on WalletEvent
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

feat(dash-spv-ffi): surface per-account balance diff on wallet event callbacks
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  key-wallet-manager/src/events.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet-manager): address PR feedback on account-balances surfacing
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(key-wallet): track self-send change in confirmed balance
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

refactor(key-wallet): track self-send change with `Utxo::is_change`
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, clippy

fix(dashcore): make `OutPoint` serde survive ContentDeserializer replays
  dash/src/blockdata/transaction/outpoint.rs
  dash/src/serde_utils.rs
Due: cargo-fmt, clippy

fix(test): drop bincode round-trip from OutPoint serde regression test
  dash/src/blockdata/transaction/outpoint.rs
Due: cargo-fmt, clippy

test(dashcore): restore bincode side of OutPoint serde tagged-enum test
  dash/Cargo.toml
  dash/src/blockdata/transaction/outpoint.rs
  dash/src/serde_utils.rs
Due: cargo-fmt, clippy

test(dashcore): use plain OutPoint bincode round-trip instead of tagged
  dash/src/blockdata/transaction/outpoint.rs
Due: cargo-fmt, clippy

fix(test): drop needless borrow flagged by clippy
  dash/src/blockdata/transaction/outpoint.rs
Due: cargo-fmt, clippy

review: add map-form regression test and reject duplicate fields
  dash/src/blockdata/transaction/outpoint.rs
  dash/src/serde_utils.rs
Due: cargo-fmt, clippy

refactor(key-wallet): rename `Utxo::is_change` to `is_trusted`
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, clippy

feat(key-wallet): add keep_txs_in_memory toggle on ManagedCoreAccount
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/keep_txs_in_memory_tests.rs
  key-wallet/src/tests/mod.rs
Due: cargo-fmt, clippy

chore(key-wallet-ffi): remove `wallet_create_managed_wallet`
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction_checking.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): make keep_txs_in_memory a Cargo feature
  key-wallet/Cargo.toml
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/keep_txs_in_memory_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

chore(key-wallet): drop keep_txs_in_memory from default features
  key-wallet-ffi/Cargo.toml
  key-wallet/Cargo.toml
Due: verify-ffi

fix(key-wallet-manager): require keep_txs_in_memory; cargo fmt
  key-wallet-manager/Cargo.toml
  key-wallet/src/test_utils/wallet.rs
Due: cargo-fmt, clippy

fix(key-wallet): keep dedup working when keep_txs_in_memory is off
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/keep_txs_in_memory_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

refactor(key-wallet): split ManagedCoreAccount into funds + keys variants
  dash-spv/src/sync/mempool/sync_manager.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/CLAUDE.md
  key-wallet/IMPLEMENTATION_SUMMARY.md
  key-wallet/README.md
  key-wallet/src/account/mod.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/account.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): rustfmt + qualify intra-doc link to ManagedCoreFundsAccount
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

feat(key-wallet): expose `instant_send_locks` accessor on `ManagedWalletInfo`
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

docs(key-wallet): fix broken receive-address example in IMPLEMENTATION_SUMMARY
  key-wallet/IMPLEMENTATION_SUMMARY.md
Due: none

refactor(key-wallet): wire ManagedCoreKeysAccount into the collection
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/setup.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_account_collection.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): drop unused `AccountMetadata` struct
  key-wallet/src/account/mod.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/metadata.rs
  key-wallet/src/managed_account/mod.rs
Due: cargo-fmt, clippy

refactor(key-wallet): drop unused `is_watch_only` from `ManagedCoreAccount`
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/account.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): drop unused `first_loaded_at` and `total_transactions` from `WalletMetadata`
  key-wallet-manager/src/lib.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

refactor(dash-spv): split peer `TcpStream` and add per-peer writer task
  dash-spv/src/network/constants.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/peer.rs
  masternode-seeds-fetcher/src/probe.rs
Due: cargo-fmt, clippy
