Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

new discoveries
  dash-spv-ffi/src/platform_integration.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/main.rs
  dash-spv/tests/dashd_masternode/tests_platform.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/Cargo.toml
  dash/src/sml/masternode_list/apply_diff.rs
  dash/src/sml/masternode_list/builder.rs
  dash/src/sml/masternode_list/from_diff.rs
  dash/src/sml/masternode_list/mod.rs
  dash/src/sml/masternode_list/quorum_helpers.rs
  dash/src/sml/masternode_list/rotated_quorums_info.rs
  dash/src/sml/masternode_list/scores_for_quorum.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash): reject a ChainLock the list below its signing height refuses
  dash-spv/src/sync/chainlock/manager.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

refactor(dash): name the two 8-block offsets of masternode list lookups
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/ephemerealdata/chain_lock.rs
  dash/src/sml/llmq_type/mod.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/sml/masternode_list_engine/non_rotated_quorum_construction.rs
Due: cargo-fmt, clippy

test: share the QRInfo and MnListDiff fillers and the header storage mock
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/test_utils/header_storage.rs
  dash-spv/src/test_utils/mod.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/sml.rs
Due: cargo-fmt, clippy

fix(dash): reject a ChainLock the list below its signing height refuses (#1059)
  dash-spv/src/sync/chainlock/manager.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

refactor(dash): name the two 8-block offsets of masternode list lookups (#1060)
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/ephemerealdata/chain_lock.rs
  dash/src/sml/llmq_type/mod.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/sml/masternode_list_engine/non_rotated_quorum_construction.rs
Due: cargo-fmt, clippy

fix(dash-spv): defer a ChainLock until the masternode lists reach it
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
Due: cargo-fmt, clippy

refactor: keep the QRInfo cycle layout in the masternode list engine
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

refactor(dash): match on the lists around a ChainLock's signing height
  dash-spv/src/test_utils/masternode_network.rs
  dash-spv/tests/qrinfo_integration_test.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

refactor(dash): match on the lists around a ChainLock's signing height (#1062)
  dash-spv/src/test_utils/masternode_network.rs
  dash-spv/tests/qrinfo_integration_test.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

test: share the QRInfo and MnListDiff fillers and the header storage mock (#1064)
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/test_utils/header_storage.rs
  dash-spv/src/test_utils/mod.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/sml.rs
Due: cargo-fmt, clippy

refactor: keep the QRInfo cycle layout in the masternode list engine (#1061)
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

fix(dash-spv): defer a ChainLock until the masternode lists reach it (#1063)
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
Due: cargo-fmt, clippy

perf(dash)!: share masternode and quorum maps between masternode lists
  dash/Cargo.toml
  dash/src/sml/masternode_list/apply_diff.rs
  dash/src/sml/masternode_list/builder.rs
  dash/src/sml/masternode_list/from_diff.rs
  dash/src/sml/masternode_list/mod.rs
  dash/src/sml/masternode_list/quorum_helpers.rs
  dash/src/sml/masternode_list/rotated_quorums_info.rs
  dash/src/sml/masternode_list/scores_for_quorum.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

test(dash-spv): check Platform's masternode lookups against dashd
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/main.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_platform.rs
Due: cargo-fmt, clippy

test(dash-spv): find a quorum at every height dashd has it active
  dash-spv/tests/dashd_masternode/tests_platform.rs
Due: cargo-fmt, clippy

perf(dash)!: share masternode and quorum maps between masternode lists (#1066)
  dash/Cargo.toml
  dash/src/sml/masternode_list/apply_diff.rs
  dash/src/sml/masternode_list/builder.rs
  dash/src/sml/masternode_list/from_diff.rs
  dash/src/sml/masternode_list/mod.rs
  dash/src/sml/masternode_list/quorum_helpers.rs
  dash/src/sml/masternode_list/rotated_quorums_info.rs
  dash/src/sml/masternode_list/scores_for_quorum.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

ci: accept perf as a PR title prefix
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
Due: none

test(key-wallet): move the address batch generation timing to a criterion bench
  key-wallet/Cargo.toml
  key-wallet/benches/address_generation.rs
  key-wallet/src/tests/performance_tests.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#1068)
  .github/workflows/pr-review-policy.yml
Due: none

test(key-wallet): move the address batch generation timing to a criterion bench (#1070)
  key-wallet/Cargo.toml
  key-wallet/benches/address_generation.rs
  key-wallet/src/tests/performance_tests.rs
Due: cargo-fmt, clippy

ci: accept perf as a PR title prefix (#1069)
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
Due: none

perf(dash): validate a non-rotating quorum once
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

perf(dash): validate a non-rotating quorum once (#1067)
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

fix(dash-spv): persist the masternode messages and replay them on start
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/types.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/test_utils/sml.rs
Due: cargo-fmt, clippy

feat(dash): tell which masternode lists the engine still needs, and drop the rest
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

test(dash-spv): check Platform's masternode lookups against dashd
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/main.rs
  dash-spv/tests/dashd_masternode/tests_platform.rs
Due: cargo-fmt, clippy

feat(dash-spv): prune the live masternode engine, rebuild old lists from storage
  dash-spv-ffi/src/platform_integration.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): replay a storage lookup without holding the storage locks
  dash-spv/src/client/queries.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

perf(dash-spv): ask only for the member lists of quorums still to validate
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/sml/masternode_list_engine/helpers.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene and wake it on a hand-over
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene and wake it on a hand-over (#1071)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#1074)
  .github/workflows/pr-review-policy.yml
Due: none

fix(dash-spv): keep a masternode list at each quorum's mining block near the tip
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/tests_platform.rs
Due: cargo-fmt, clippy
