Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

feat(key-wallet): declare Signer capabilities via SignerMethod
  key-wallet/src/lib.rs
  key-wallet/src/signer.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, clippy

chore: bump pinned Rust toolchain to 1.95.0
  dash-spv/src/chain/chain_tip.rs
  dash-spv/src/sync/filters/manager.rs
  dash/src/bip158.rs
  dash/src/sml/masternode_list/merkle_roots.rs
  dash/src/sml/masternode_list_engine/mod.rs
  key-wallet/src/psbt/mod.rs
  rust-toolchain.toml
Due: cargo-fmt, clippy

chore(key-wallet): loosen wallet recovery perf threshold to 70ms
  key-wallet/src/tests/performance_tests.rs
Due: cargo-fmt, clippy

fix(dashcore): drop needless & in bincode::encode_to_vec arg
  dash/src/address.rs
Due: cargo-fmt, clippy

fix(key-wallet): address CodeRabbit feedback on signer path
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/signer.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, clippy

test(dashcore): drop redundant devnet serde round-trip
  dash/src/address.rs
Due: cargo-fmt, clippy

fix(dash): align `LLMQ_TEST_DIP0024` params with Dash Core
  dash/src/sml/llmq_type/mod.rs
Due: cargo-fmt, clippy

fix(dash): use platform LLMQ type for regtest in `platform_type()`
  dash/src/sml/llmq_type/network.rs
Due: cargo-fmt, clippy

docs(signer): recommend std::error::Error-implementing Error types
  key-wallet/src/signer.rs
Due: cargo-fmt, clippy

fix(dash-spv): use single historical anchor for `QRInfo` base hashes
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

style(key-wallet-manager): apply cargo fmt
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, clippy

chore: drop unused `Option<FH>` callback from `feed_qr_info`
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/sml/quorum_validation_error.rs
Due: cargo-fmt, clippy

remove debug
  dash/src/blockdata/transaction/mod.rs
Due: cargo-fmt, clippy

feat(dash-spv): capability-driven churn in maintenance loop
  dash-spv/src/network/manager.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/pool.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

fix: give rejections a lifetime for now
  dash-spv/src/network/manager.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

test: make is_capability_rejected testing deterministic
  dash-spv/src/network/manager.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

fix(dash-spv): reduce capability churn and reject incapable peers earlier
  dash-spv/src/network/manager.rs
  dash-spv/src/network/pool.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

refactor(key-wallet): remove redundant HDWallet + AccountDerivation struct
  key-wallet-ffi/src/lib_tests.rs
  key-wallet/src/derivation.rs
  key-wallet/src/tests/account_tests.rs
  key-wallet/src/wallet/accounts.rs
  key-wallet/src/wallet/bip38.rs
  key-wallet/tests/derivation_tests.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet): add DIP-13 identity authentication accounts (ECDSA + BLS)
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet/src/account/account_collection.rs
  key-wallet/src/account/account_collection_test.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/account/bls_account.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/dip9.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_type.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/wallet/accounts.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): resolve semantic conflicts from merging #672 and #674
  key-wallet-ffi/src/address_pool.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): feed `last_commitment_per_index` heights to engine
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

implement From and Drop traits for FFITransactionRecord and its members if needed
  dash-spv-ffi/src/callbacks.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

fix setup-dashd.py script env var export
  contrib/setup-dashd.py
Due: none

feat(dash-spv): hardcode masternode seed files with weekly auto-refresh
  .github/ci-groups.yml
  .github/workflows/update-masternode-seeds.yml
  Cargo.toml
  dash-spv/seeds/mainnet.txt
  dash-spv/seeds/testnet.txt
  dash-spv/src/network/constants.rs
  dash-spv/src/network/discovery.rs
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
Due: cargo-fmt, clippy

fix(key-wallet): expose BLS derivation for IdentityAuthenticationBls
  key-wallet/src/managed_account/mod.rs
Due: cargo-fmt, clippy

fix(dash-spv): spell "unparsable" to satisfy typos hook
  dash-spv/src/network/constants.rs
Due: cargo-fmt, clippy

fix(key-wallet-ffi): migrate off removed FFIError APIs
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(masternode-seeds-fetcher): source mnlist via P2P, drop RPC
  .github/workflows/update-masternode-seeds.yml
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
Due: cargo-fmt, clippy

feat(dash-network-seeds): extract seeds into standalone crate, differentiate evo/regular
  .github/ci-groups.yml
  .github/workflows/update-masternode-seeds.yml
  Cargo.toml
  dash-network-seeds/Cargo.toml
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
  dash-network-seeds/src/lib.rs
  dash-spv/Cargo.toml
  dash-spv/seeds/mainnet.txt
  dash-spv/seeds/testnet.txt
  dash-spv/src/network/constants.rs
  dash-spv/src/network/discovery.rs
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
Due: cargo-fmt, clippy

fix(dash-network-seeds): keep dashcore default features to unblock CI
  dash-network-seeds/Cargo.toml
Due: none

refactor(key-wallet): drop managed-side DIP-13 identity authentication plumbing
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_type.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): resolve coderabbit findings on DIP-13 managed-side removal
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
Due: cargo-fmt, clippy

refactor(dashcore): extract Network into standalone dash-network crate
  .github/ci-groups.yml
  Cargo.toml
  dash-network/Cargo.toml
  dash-network/src/lib.rs
  dash-spv/src/client/lifecycle.rs
  dash/Cargo.toml
  dash/src/address.rs
  dash/src/blockdata/constants.rs
  dash/src/consensus/params.rs
  dash/src/crypto/key.rs
  dash/src/ffi/network.rs
  dash/src/lib.rs
  dash/src/network/constants.rs
  dash/src/sml/llmq_type/network.rs
  dash/src/sml/masternode_list/from_diff.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

refactor(wallet-events): atomic events carrying records + balance
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv/tests/dashd_sync/helpers.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(dash-network): move `FFINetwork` + extern fn into the new crate
  dash-network/Cargo.toml
  dash-network/src/ffi.rs
  dash-network/src/lib.rs
  dash/Cargo.toml
  dash/src/ffi/mod.rs
  dash/src/ffi/network.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

