Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

test_security.rs enabled
  dash-spv-ffi/tests/security/mod.rs
  dash-spv-ffi/tests/security/test_security.rs
  dash-spv-ffi/tests/test_security.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: move sync system into `sync/legacy`
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/progress.rs
  dash-spv/src/sync/legacy/filters/download.rs
  dash-spv/src/sync/legacy/filters/headers.rs
  dash-spv/src/sync/legacy/filters/manager.rs
  dash-spv/src/sync/legacy/filters/matching.rs
  dash-spv/src/sync/legacy/filters/mod.rs
  dash-spv/src/sync/legacy/filters/requests.rs
  dash-spv/src/sync/legacy/filters/retry.rs
  dash-spv/src/sync/legacy/filters/stats.rs
  dash-spv/src/sync/legacy/filters/types.rs
  dash-spv/src/sync/legacy/headers/manager.rs
  dash-spv/src/sync/legacy/headers/mod.rs
  dash-spv/src/sync/legacy/manager.rs
  dash-spv/src/sync/legacy/masternodes/embedded_data.rs
  dash-spv/src/sync/legacy/masternodes/manager.rs
  dash-spv/src/sync/legacy/masternodes/mod.rs
  dash-spv/src/sync/legacy/message_handlers.rs
  dash-spv/src/sync/legacy/mod.rs
  dash-spv/src/sync/legacy/phase_execution.rs
  dash-spv/src/sync/legacy/phases.rs
  dash-spv/src/sync/legacy/post_sync.rs
  dash-spv/src/sync/legacy/transitions.rs
  dash-spv/src/sync/mod.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/smart_fetch_integration_test.rs
Due: cargo-fmt, clippy

chore: drop redundant network message logs
  dash-spv/src/network/peer.rs
Due: cargo-fmt, clippy

chore: drop incomplete dsq preference updates
  dash-spv/src/client/message_handler.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
Due: cargo-fmt, clippy

refactor: move sync system into `sync/legacy` (#379)
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/progress.rs
  dash-spv/src/sync/legacy/filters/download.rs
  dash-spv/src/sync/legacy/filters/headers.rs
  dash-spv/src/sync/legacy/filters/manager.rs
  dash-spv/src/sync/legacy/filters/matching.rs
  dash-spv/src/sync/legacy/filters/mod.rs
  dash-spv/src/sync/legacy/filters/requests.rs
  dash-spv/src/sync/legacy/filters/retry.rs
  dash-spv/src/sync/legacy/filters/stats.rs
  dash-spv/src/sync/legacy/filters/types.rs
  dash-spv/src/sync/legacy/headers/manager.rs
  dash-spv/src/sync/legacy/headers/mod.rs
  dash-spv/src/sync/legacy/manager.rs
  dash-spv/src/sync/legacy/masternodes/embedded_data.rs
  dash-spv/src/sync/legacy/masternodes/manager.rs
  dash-spv/src/sync/legacy/masternodes/mod.rs
  dash-spv/src/sync/legacy/message_handlers.rs
  dash-spv/src/sync/legacy/mod.rs
  dash-spv/src/sync/legacy/phase_execution.rs
  dash-spv/src/sync/legacy/phases.rs
  dash-spv/src/sync/legacy/post_sync.rs
  dash-spv/src/sync/legacy/transitions.rs
  dash-spv/src/sync/mod.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/smart_fetch_integration_test.rs
Due: cargo-fmt, clippy

chore: drop redundant network message logs (#380)
  dash-spv/src/network/peer.rs
Due: cargo-fmt, clippy

chore: drop incomplete dsq preference updates (#382)
  dash-spv/src/client/message_handler.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
Due: cargo-fmt, clippy

fix: distinguish between new and existing transactions in wallet
  dash-spv/src/sync/legacy/message_handlers.rs
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

chore: release `v0.41.1`
  CHANGELOG.md
  Cargo.toml
  dash-network/README.md
  dash-spv/ARCHITECTURE.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
Due: none

fix: distinguish between new and existing transactions in wallet (#378)
  dash-spv/src/sync/legacy/message_handlers.rs
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

chore: release `v0.41.1` (#381)
  CHANGELOG.md
  Cargo.toml
  dash-network/README.md
  dash-spv/ARCHITECTURE.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
Due: none

PeerInfo safely removed
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/lib.rs
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/tests.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/types.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, verify-ffi, clippy

chore: merge hotfix `v0.41.1` into `0.42-dev` (#384)
  CHANGELOG.md
  Cargo.toml
  dash-network/Cargo.toml
  dash-network/README.md
  dash-spv/ARCHITECTURE.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_manager.rs
  dash/Cargo.toml
  dash/src/address.rs
  hashes/Cargo.toml
  hashes/src/bincode_macros.rs
  hashes/src/internal_macros.rs
  key-wallet-ffi/IMPORT_WALLET_FFI.md
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/wallet/root_extended_keys.rs
  rpc-json/Cargo.toml
Due: cargo-fmt, clippy

refactor: remove not needed `PeerInfo` struct (#386)
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/lib.rs
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/tests.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/types.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, verify-ffi, clippy

chore: bump version to `0.42.0`
  Cargo.toml
  dash-network/README.md
  dash-spv/ARCHITECTURE.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
Due: none

chore: drop unused "peer sent headers2" tracking
  dash-spv/src/client/message_handler.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
Due: cargo-fmt, clippy

peers persistance moved to the storage module
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/persist.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

tests corrrectly use a temp dir
  dash-spv/peers_dash.json
  dash-spv/src/network/manager.rs
  dash-spv/src/storage/peers.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/wallet_integration_test.rs
  peer_reputation.json
  peers_dash.json
Due: cargo-fmt, clippy

dropped default_instant helper
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

gitignore updated
  .gitignore
Due: none

reading and loading peers made not blocking
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

peers reputations storage system moven to the storage module
  dash-spv/peers/reputations.json
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

clippy warning fixed
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

peer reputation deserialization values clamp moved into serde pipeline
  dash-spv/peers/reputations.json
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

DiskStorageManager doesn't need to know about the peer storage
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

reputation manager works with peer storage trait
  dash-spv/peers_dash.json
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  peer_reputation.json
  peers_dash.json
Due: cargo-fmt, clippy

peer storage cleanup
  dash-spv/peers/reputations.json
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

chore: drop unused "peer sent headers2" tracking (#387)
  dash-spv/src/client/message_handler.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
Due: cargo-fmt, clippy

chore: bump version to `0.42.0` (#385)
  Cargo.toml
  dash-network/README.md
  dash-spv/ARCHITECTURE.md
  dash-spv/CODE_ANALYSIS_SUMMARY.md
Due: none

refactor: streamline peer related data storage (#327)
  .gitignore
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/persist.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/peers.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, clippy

feat: subscription-based message routing
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/subscriptions.rs
  dash-spv/src/sync/legacy/filters/download.rs
  dash-spv/src/sync/legacy/filters/requests.rs
  dash-spv/src/sync/legacy/message_handlers.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
Due: cargo-fmt, clippy

lock `message_dispatcher` with a mutex since all access is mutable
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy

prune dead senders in `dispatch()`
  dash-spv/src/network/manager.rs
  dash-spv/src/network/message_dispatcher.rs
Due: cargo-fmt, clippy

fix: deduplicate message types in MessageDispatcher registration
  dash-spv/src/network/message_dispatcher.rs
Due: cargo-fmt, clippy

some refactoring:
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/message_dispatcher.rs
  dash-spv/src/network/message_type.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/subscriptions.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
Due: cargo-fmt, clippy

fix and test macro
  dash-spv/src/network/message_type.rs
Due: cargo-fmt, clippy

feat: implement parallel filter matching
  dash-spv/src/sync/legacy/filters/matching.rs
  dash-spv/src/sync/legacy/message_handlers.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/matching.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, clippy

feat: introduce `MessageDispatcher` in network manager (#383)
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/message_dispatcher.rs
  dash-spv/src/network/message_type.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/sync/legacy/filters/download.rs
  dash-spv/src/sync/legacy/filters/requests.rs
  dash-spv/src/sync/legacy/message_handlers.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
Due: cargo-fmt, clippy

feat: implement parallel filter matching (#303)
  dash-spv/src/sync/legacy/filters/matching.rs
  dash-spv/src/sync/legacy/message_handlers.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/matching.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, clippy

peer reputation module cleanup
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy
