Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

fix(ffi): free transaction bytes with slice length
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_tests.rs
Due: cargo-fmt, verify-ffi, clippy

test(dash-spv): fix `create_test_wallet` import in `tests_transaction`
  dash-spv/tests/dashd_sync/tests_transaction.rs
Due: cargo-fmt, clippy

refactor(dash-spv): drop unreachable `WouldBlock`/`TimedOut`
  dash-spv/src/network/peer.rs
Due: cargo-fmt, clippy

feat: add `managed_core_account_set_transaction_label` FFI function
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): use `committed_height` guard in `handle_new_filter_headers`
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): prevent `send_pending` from losing batches on missing headers
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/pipeline.rs
Due: cargo-fmt, clippy

fix(dash-spv): make `filter_header_tip_height` monotonic
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/progress.rs
Due: cargo-fmt, clippy

chore(dash-spv): refresh masternode seed files
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
Due: none

refactor(dash-spv): inline event logging into monitor tasks
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/network/event.rs
  dash-spv/src/sync/events.rs
  key-wallet-manager/src/events.rs
Due: cargo-fmt, clippy

feat(key-wallet): add chainlock handling to the wallet
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/main.rs
  dash-spv/tests/dashd_masternode/tests_chainlock.rs
  dash-spv/tests/dashd_masternode/tests_instantsend.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/tests/keep_finalized_transactions_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): re-run `verify_block_hash` before promoting a deferred ChainLock
  dash-spv/src/sync/chainlock/manager.rs
Due: cargo-fmt, clippy

chore(setup-dashd): require Python 3.12+ at script start
  contrib/setup-dashd.py
Due: none

test(dash-spv): cover wallet reload pool-state loss past gap limit
  dash-spv/tests/dashd_sync/tests_restart.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(dash-spv): drop `description()`, use `Display` for events
  dash-spv/src/network/event.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/sync/sync_manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
  key-wallet-manager/src/events.rs
Due: cargo-fmt, clippy

fix(dash-spv): defer `Syncing` transition in `send_qrinfo_for_tip` until after send
  dash-spv/src/sync/masternodes/manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): drop `ChainLockManager` sync events while waiting for connections
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): drop `InstantSendManager` sync events while waiting for connections
  dash-spv/src/sync/instantsend/manager.rs
  dash-spv/src/sync/instantsend/sync_manager.rs
Due: cargo-fmt, clippy

refactor: change `DerivedAddress::public_key` to `PublicKey`
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet,key-wallet-manager): add serde derives for AssetLockFundingType and DerivedAddress
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/events.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, clippy

test: return chainlock height from `wait_for_wallet_tx_chainlocked`
  dash-spv/tests/dashd_masternode/helpers.rs
Due: cargo-fmt, clippy

ci: stop caching `~/.cargo/bin`
  .github/workflows/build-and-test.yml
Due: none

feat(key-wallet): ApplyChainLockOutcome surfaces metadata advance flag
  key-wallet/src/tests/keep_finalized_transactions_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

feat(key-wallet-manager): emit ChainLockApplied event on metadata advance
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv-ffi): preserve user_data ABI offset + test ChainLockApplied dispatch
  dash-spv-ffi/src/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv-ffi): wire on_chain_lock_applied into dashd_sync test fixture
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

style: rustfmt over-long assert_eq! lines in event_tests
  key-wallet-manager/src/event_tests.rs
Due: cargo-fmt, clippy

refactor(key-wallet-manager): fold ChainLockApplied into ChainLockProcessed
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/tests_chainlock.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/keep_finalized_transactions_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

chore: remove dead `dash/embedded` crate and unused `fuzz/Cargo.lock`
  dash/embedded/Cargo.lock
  dash/embedded/Cargo.toml
  dash/embedded/README.md
  dash/embedded/memory.x
  dash/embedded/scripts/env.sh
  dash/embedded/scripts/install-deps
  dash/embedded/src/main.rs
  fuzz/Cargo.lock
Due: cargo-fmt, clippy

feat(dash-spv): log version with git commit for dev builds
  dash-spv/build.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/lib.rs
Due: cargo-fmt, clippy

DashSPVClient stores its own cancelation token simplifying consumers API
  dash-spv-ffi/src/client.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): watch active branch ref in `build.rs` rerun-if-changed
  dash-spv/build.rs
Due: cargo-fmt, clippy

refactor(dash-spv): replace `run` token and `running` flag with `watch`
  dash-spv-ffi/Cargo.toml
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/test_client.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet): make gap limits configurable at account creation
  key-wallet/src/gap_limit.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_type.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/tests/account_tests.rs
Due: cargo-fmt, clippy

fix(key-wallet): validate gap limits and harden pool maintenance against zero
  key-wallet/src/managed_account/address_pool.rs
Due: cargo-fmt, clippy

fix(key-wallet): unify DashPay gap default in the collection constructor path
  key-wallet/src/managed_account/managed_account_collection.rs
Due: cargo-fmt, clippy

test(key-wallet): cover gap-limit validation and zero-gap maintenance
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/tests/edge_case_tests.rs
Due: cargo-fmt, clippy

fix(dash-spv): resolve git dirty state via compile-time macro
  Cargo.toml
  dash-spv/Cargo.toml
  dash-spv/build.rs
  dash-spv/src/lib.rs
  git-state/Cargo.toml
  git-state/src/lib.rs
Due: cargo-fmt, clippy

ci: exclude `git-state` crate from test groups
  .github/ci-groups.yml
Due: none
