Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

feat(key-wallet-manager): add insert_wallet, get_wallet_and_info_mut, bls/eddsa features
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/accessors.rs
Due: cargo-fmt, clippy

fix: reject out-of-range `quorum_index` in `build_cycle_quorum_map`
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

refactor: derive rotation cycle key from the cycle boundary block
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

style(key-wallet): apply cargo fmt across managed wallet modules
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/lib.rs
  key-wallet/src/changeset/changeset.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/changeset_mutation_tests.rs
  key-wallet/src/tests/changeset_support_tests.rs
  key-wallet/src/tests/edge_case_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/apply.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

refactor(key-wallet): move spendable_utxos from wallet to account
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

docs(key-wallet): correct spendable_utxos doc on 0-conf InstantSend
  key-wallet/src/managed_account/mod.rs
Due: cargo-fmt, clippy

docs(key-wallet): defer spendability rules to Utxo::is_spendable
  key-wallet/src/managed_account/mod.rs
Due: cargo-fmt, clippy

refactor(key-wallet): split balance into confirmed/unconfirmed buckets
  dash-spv-ffi/src/callbacks.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/balance.rs
Due: cargo-fmt, verify-ffi, clippy

remove and replaced FFIExtendedPrivateKey with FFIExtendedPrivKey
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/keys.rs
Due: cargo-fmt, verify-ffi, clippy

feat(dash-spv): add fixed testnet peer IPs (68.67.122.1-29)
  dash-spv/src/network/constants.rs
  dash-spv/src/network/discovery.rs
Due: cargo-fmt, clippy

feat: add address and value fields to FFIOutputDetail
  dash-spv-ffi/src/callbacks.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/types.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
Due: cargo-fmt, verify-ffi, clippy

fix: remove serde defaults from OutputDetail new fields
  key-wallet/src/managed_account/transaction_record.rs
Due: cargo-fmt, clippy

add value and address fields to OutputDetail and FFIOutputDetail
  dash-spv-ffi/src/callbacks.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/types.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
Due: cargo-fmt, verify-ffi, clippy

remove and replaced FFIExtendedPublicKey with FFIExtendedPubKey
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/cbindgen.toml
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/keys.rs
Due: cargo-fmt, verify-ffi, clippy

Apply suggestion from @xdustinface
  key-wallet-ffi/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

enabled and updated key-wallet-ffi unit tests defined out of scope
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/managed_wallet_tests.rs
Due: cargo-fmt, verify-ffi, clippy

feat: rebroadcast unconfirmed self-sent transactions
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
Due: cargo-fmt, clippy

chore: bump pinned Rust toolchain to `1.94.1`
  dash/src/lib.rs
  rust-toolchain.toml
Due: cargo-fmt, clippy

test(dash-spv): fix Windows `Instant` underflow in rebroadcast test
  dash-spv/src/sync/mempool/manager.rs
Due: cargo-fmt, clippy

test: prove out-of-order block processing causes stale UTXOs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, clippy

feat(key-wallet-manager): add WalletPersistence trait and persist block changesets
  dash-spv/src/error.rs
  dash-spv/src/sync/blocks/manager.rs
  key-wallet-manager/src/error.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/persistence.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, clippy

fix: update all call sites for WalletPersistence API changes
  key-wallet-ffi/src/error.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: remove flush from WalletPersistence trait
  key-wallet-manager/src/persistence.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, clippy

refactor: broadcast inline in `rebroadcast_if_due_at` instead of collecting into a `Vec`
  dash-spv/src/sync/mempool/manager.rs
Due: cargo-fmt, clippy

remove unused dev-dependencies
  hashes/Cargo.toml
  key-wallet-ffi/Cargo.toml
Due: verify-ffi

drop random tests
  dash-spv-ffi/tests/unit/test_async_operations.rs
Due: cargo-fmt, verify-ffi, clippy

key-wallet-ffi cbindgen.toml cleanup
  key-wallet-ffi/cbindgen.toml
Due: verify-ffi

refactor(key-wallet): make WatchOnly / ExternalSignable unit variants
  key-wallet-manager/src/lib.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/unit_variant_wallet_tests.rs
  key-wallet/src/tests/wallet_tests.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/initialization.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
  key-wallet/src/wallet/mod.rs
  key-wallet/src/wallet/root_extended_keys.rs
  key-wallet/src/wallet_comprehensive_tests.rs
Due: cargo-fmt, clippy

docs(key-wallet): correct derive_*_public_key docstrings for unit variants
  key-wallet/src/tests/unit_variant_wallet_tests.rs
  key-wallet/src/wallet/helper.rs
Due: cargo-fmt, clippy

fix(dash-spv): remove overly-strict is_synced gate from broadcast
  dash-spv/src/client/transactions.rs
Due: cargo-fmt, clippy

fix(dashcore): Address<NetworkChecked> serde deserialize no longer hardcodes Mainnet
  dash/src/address.rs
Due: cargo-fmt, clippy

fix(key-wallet): correct AssetLockTx structure per DIP-00X
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

test(dashcore): regression tests for Address<NetworkChecked> serde deserialize
  dash/src/address.rs
Due: cargo-fmt, clippy

update special_transaction_type decode in consensus_decode_from_finite_reader
  dash/src/blockdata/transaction/mod.rs
Due: cargo-fmt, clippy

test(address): cover bincode roundtrip in serde test
  dash/src/address.rs
Due: cargo-fmt, clippy

feat(key-wallet): add async Signer trait and build_asset_lock_with_signer
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/signer.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, verify-ffi, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

