Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix(dash): classify missing infrastructure errors as `Skipped`
  dash/src/sml/llmq_entry_verification.rs
  dash/src/sml/masternode_list_engine/validation.rs
  dash/src/sml/quorum_entry/qualified_quorum_entry.rs
Due: cargo-fmt, clippy

fix(dash): make `feed_qr_info` resilient to missing rotation CL sigs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

chore(dash-spv): refresh masternode seed files
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
Due: none

feat(key-wallet-manager): carry addresses_derived on TransactionDetected / BlockProcessed
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

fix(docs): repair rustdoc intra-doc links
  key-wallet-manager/src/lib.rs
  key-wallet/src/transaction_checking/account_checker.rs
Due: cargo-fmt, clippy

refactor(key-wallet-manager): drop redundant derivation_path from DerivedAddress
  key-wallet-manager/src/events.rs
Due: cargo-fmt, clippy

review(key-wallet-manager): per-record derivations, observability, real dedup test
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/address_pool.rs
Due: cargo-fmt, verify-ffi, clippy

fix: preserve raw nTxType bytes on pre-DIP-0002 (version 0) transactions
  dash/src/blockdata/transaction/mod.rs
  dash/src/blockdata/transaction/special_transaction/asset_unlock/unqualified_asset_unlock.rs
  dash/src/blockdata/transaction/special_transaction/mod.rs
  dash/src/crypto/sighash.rs
  key-wallet/src/psbt/map/global.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
Due: cargo-fmt, clippy

feat(dash-spv-ffi): expose addresses_derived on Wallet event callbacks
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): dedupe core account types via shared trait + composition
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/setup.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): rename core->keys, expose balance/utxos as pub fields
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): satisfy CI rustfmt + drop rustdoc link to private item
  dash-spv/tests/dashd_sync/helpers.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
Due: cargo-fmt, verify-ffi, clippy

fix(hashes): make SerdeHash tolerant of ContentDeserializer's HR-quirk
  dash/Cargo.toml
  dash/src/hash_types.rs
  hashes/src/serde_macros.rs
Due: cargo-fmt, clippy

fix(test): rustfmt + correct comment about N being in bytes
  dash/src/hash_types.rs
  hashes/src/serde_macros.rs
Due: cargo-fmt, clippy

review: address PR feedback — real visit_seq test + debug_assert overflow
  dash/src/hash_types.rs
  hashes/src/serde_macros.rs
Due: cargo-fmt, clippy

fix(key-wallet): rustfmt + qualify intra-doc link to ManagedCoreFundsAccount
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

refactor(key-wallet): split ManagedCoreAccount into funds + keys variants
  dash-spv/src/sync/mempool/sync_manager.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/CLAUDE.md
  key-wallet/IMPLEMENTATION_SUMMARY.md
  key-wallet/README.md
  key-wallet/src/account/mod.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/account.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet): fix broken receive-address example in IMPLEMENTATION_SUMMARY
  key-wallet/IMPLEMENTATION_SUMMARY.md
Due: none

refactor(key-wallet): dedupe core account types via shared trait + composition (#728)
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/setup.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-manager/src/lib.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet): add keep_txs_in_memory Cargo feature
  key-wallet-ffi/Cargo.toml
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/keep_txs_in_memory_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): drop unused `is_watch_only` from managed core accounts
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/test_utils/account.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet-ffi): regenerate FFI_API.md after dropping is_watch_only
  key-wallet-ffi/FFI_API.md
Due: none

test(dash-spv): add multi-wallet integration tests
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/tests_basic.rs
  dash-spv/tests/dashd_sync/tests_multi_wallet.rs
Due: cargo-fmt, clippy

chore: fix ffi docs
  key-wallet-ffi/FFI_API.md
Due: none

move core tx building and signing into the key-wallet-manager crate
  key-wallet-ffi/src/transaction.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/error.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash): gate `feed_qr_info_rejects_post_v20_with_missing_chainlock_signatures` test on `quorum_validation`
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

refactor(dash): extract `store_cycle_if_fully_verified` from `feed_qr_info`
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

test(dash): replace `feed_qr_info_does_not_downgrade_already_verified_cycle` with direct gate test
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

fix(dash): gate `verify_rotated_quorums == false` storage on all-verified
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

refactor(dash): unify cycle-already-verified check via `is_cycle_fully_verified`
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

fix(dash): key previous-cycle storage by index-0 quorum hash
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

refactor(dash): drop `expect()` from `collect_rotation_sigs`
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

fix(dash): silence unused-variable warnings without `quorum_validation`
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

docs(dash): align `try_load_previous_cycle_entries` short-circuit comment
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

