Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

fix: add missing transaction types in serialization
  dash/src/blockdata/transaction/mod.rs
Due: cargo-fmt, clippy

unused ffi functions removed from dash-spv-ffi crate
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/broadcast.rs
  dash-spv-ffi/src/checkpoints.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/src/error.rs
  dash-spv-ffi/src/lib.rs
  dash-spv-ffi/src/platform_integration.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/src/utils.rs
  dash-spv-ffi/tests/test_client.rs
  dash-spv-ffi/tests/test_config.rs
  dash-spv-ffi/tests/test_error.rs
  dash-spv-ffi/tests/test_event_callbacks.rs
  dash-spv-ffi/tests/test_platform_integration_minimal.rs
  dash-spv-ffi/tests/test_platform_integration_safety.rs
  dash-spv-ffi/tests/test_types.rs
  dash-spv-ffi/tests/test_utils.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv-ffi/tests/unit/test_configuration.rs
  dash-spv-ffi/tests/unit/test_error_handling.rs
  dash-spv-ffi/tests/unit/test_memory_management.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
Due: cargo-fmt, verify-ffi, clippy

unused ffi functions removed from dash-spv-ffi crate (#377)
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/broadcast.rs
  dash-spv-ffi/src/checkpoints.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/src/error.rs
  dash-spv-ffi/src/lib.rs
  dash-spv-ffi/src/platform_integration.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/src/utils.rs
  dash-spv-ffi/tests/test_client.rs
  dash-spv-ffi/tests/test_config.rs
  dash-spv-ffi/tests/test_error.rs
  dash-spv-ffi/tests/test_event_callbacks.rs
  dash-spv-ffi/tests/test_platform_integration_minimal.rs
  dash-spv-ffi/tests/test_platform_integration_safety.rs
  dash-spv-ffi/tests/test_types.rs
  dash-spv-ffi/tests/test_utils.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv-ffi/tests/unit/test_configuration.rs
  dash-spv-ffi/tests/unit/test_error_handling.rs
  dash-spv-ffi/tests/unit/test_memory_management.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: cleanup `WalletTransactionChecker::check_transaction`
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/platform_address.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_account_collection.rs
Due: cargo-fmt, verify-ffi, clippy

more work
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_account_collection.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
Due: cargo-fmt, verify-ffi, clippy

more work
  key-wallet-ffi/FFI_API.md
Due: none

fix: require chainlock signatures only after V20 activation
  dash/src/network/constants.rs
  dash/src/sml/masternode_list/apply_diff.rs
  dash/src/sml/masternode_list/from_diff.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

feat: add DIP-17 Platform Address Funding key support
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_account_collection.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet/src/account/account_collection.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/bip32.rs
  key-wallet/src/dip9.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_type.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/helper.rs
Due: cargo-fmt, verify-ffi, clippy

fmt
  key-wallet-ffi/src/types.rs
  key-wallet/src/bip32.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): rename core balance/account types
  key-wallet/src/account/mod.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/test_utils/account.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

feat(key-wallet): add platform accounts and core tx split
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet/src/account/account_type.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/platform_address.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/platform_checker.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/conversions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
Due: cargo-fmt, clippy

feat(ffi): align managed account APIs with core/platform split
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/cbindgen.toml
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_account_collection.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
Due: cargo-fmt, verify-ffi, clippy

fix: look up quorum by actual `quorum_index` not by array position
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/message_verification_error.rs
Due: cargo-fmt, clippy

feat: add `--mnemonic-file`, `--data-dir` and logfiles to ffi-cli
  dash-spv-ffi/src/bin/ffi_cli.rs
Due: cargo-fmt, verify-ffi, clippy

fix: store historical rotating quorums by cycle boundary hash
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

feat: hardcoded checkpoints every 50k blocks
  dash-spv/src/chain/checkpoints.rs
Due: cargo-fmt, clippy

feat: add logging for InstantLock quorum lookup
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

feat: add more InstantSend debug logs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

remove legacy sync module
  dash-spv/src/sync/legacy/filters/download.rs
  dash-spv/src/sync/legacy/filters/headers.rs
  dash-spv/src/sync/legacy/filters/manager.rs
  dash-spv/src/sync/legacy/filters/matching.rs
  dash-spv/src/sync/legacy/filters/mod.rs
  dash-spv/src/sync/legacy/filters/requests.rs
  dash-spv/src/sync/legacy/filters/retry.rs
  dash-spv/src/sync/legacy/filters/stats.rs
  dash-spv/src/sync/legacy/filters/types.rs
  dash-spv/src/sync/legacy/headers/manager.rs
  dash-spv/src/sync/legacy/headers/mod.rs
  dash-spv/src/sync/legacy/manager.rs
  dash-spv/src/sync/legacy/masternodes/embedded_data.rs
  dash-spv/src/sync/legacy/masternodes/manager.rs
  dash-spv/src/sync/legacy/masternodes/mod.rs
  dash-spv/src/sync/legacy/message_handlers.rs
  dash-spv/src/sync/legacy/mod.rs
  dash-spv/src/sync/legacy/phase_execution.rs
  dash-spv/src/sync/legacy/phases.rs
  dash-spv/src/sync/legacy/post_sync.rs
  dash-spv/src/sync/legacy/transitions.rs
Due: cargo-fmt, clippy

remove related code
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/scripts/generate_ffi_docs.py
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/test_client.rs
  dash-spv-ffi/tests/test_types.rs
  dash-spv-ffi/tests/unit/test_async_operations.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/ARCHITECTURE.md
  dash-spv/CLAUDE.md
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_manager.rs
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/src/chain/mod.rs
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/events.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/mod.rs
  dash-spv/src/terminal.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/types.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/smart_fetch_integration_test.rs
  docs/implementation-notes/REORG_INTEGRATION_STATUS.md
  docs/implementation-notes/SEQUENTIAL_SYNC_DESIGN.md
  docs/implementation-notes/SEQUENTIAL_SYNC_SUMMARY.md
Due: cargo-fmt, verify-ffi, clippy

fix: use only lists at or before height
  dash-spv-ffi/src/platform_integration.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): use list around height for quorums
  dash-spv/src/client/queries.rs
Due: cargo-fmt, clippy

chore(dash-spv): remove unused mut
  dash-spv/src/client/queries.rs
Due: cargo-fmt, clippy

fix(dash-spv-ffi): use list around height for quorums
  dash-spv-ffi/src/platform_integration.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv-ffi): make cbindgen-friendly
  dash-spv-ffi/src/platform_integration.rs
Due: cargo-fmt, verify-ffi, clippy

avoid progress event dispatch on cooldown and wait for updates
  dash-spv-ffi/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

fix: handle missing fields in `ProUpServTx` v2 encode
  dash/src/blockdata/transaction/special_transaction/provider_update_service.rs
Due: cargo-fmt, clippy

refactor: cleanup storage usage in `DashSpvClient` constructor
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
Due: cargo-fmt, clippy

refactor to return `AddrV2Message` in `get_known_addresses`
  dash-spv/src/network/addrv2.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/tests/peer_test.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/network.rs
Due: cargo-fmt, clippy

save all known peers
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy

fix: make use of stored peers
  dash-spv/src/network/manager.rs
  dash-spv/src/storage/peers.rs
  dash/src/network/address.rs
Due: cargo-fmt, clippy

fix: clear up failed connection attempts
  dash-spv/src/network/manager.rs
  dash-spv/src/network/pool.rs
Due: cargo-fmt, clippy

fix: avoid panic for sentinel blocks in debug builds
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

fix: avoid re-inserting previous filter header on sync resume
  dash-spv/src/sync/filter_headers/manager.rs
Due: cargo-fmt, clippy

refactor: simplify DNS discovery fallback
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy
