Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

fix(key-wallet): release reservations when fee encoding fails
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

docs: note the builder must not be held across an await in `set_funding`
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

peer reputation module cleanup
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

chore: bump version to `0.44.0` and add changelog entry
  CHANGELOG.md
  Cargo.toml
Due: none

chore: bump version to `0.45.0`
  Cargo.toml
Due: none

docs: add `0.44.0` changelog entry
  CHANGELOG.md
Due: none

docs: add `0.43.0` and `0.44.0` changelog entries (#830)
  CHANGELOG.md
Due: none

chore: bump version to `0.45.0` (#829)
  Cargo.toml
Due: none

feat(key-wallet): impl Zeroize for ExtendedPrivKey
  key-wallet/src/bip32.rs
Due: cargo-fmt, clippy

feat(key-wallet): zeroize all ExtendedPrivKey fields; add Default to Network
  dash-network/src/lib.rs
  key-wallet/src/bip32.rs
Due: cargo-fmt, clippy

refactor(key-wallet): reset network via Network::Mainnet in zeroize; drop Network Default
  dash-network/src/lib.rs
  key-wallet/src/bip32.rs
Due: cargo-fmt, clippy

perf: reduced amount of block hashes computed
  dash-spv/benches/storage.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/block_headers.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/blocks/pipeline.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/pipeline.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, clippy

fix(key-wallet)!: drop Copy from ExtendedPrivKey, zeroize on Drop
  dash/examples/taproot-psbt.rs
  key-wallet/src/bip32.rs
  key-wallet/src/tests/account_tests.rs
  key-wallet/src/tests/wallet_tests.rs
Due: cargo-fmt, clippy

feat(key-wallet): impl Zeroize for ExtendedPrivKey (#833)
  dash/examples/taproot-psbt.rs
  key-wallet/src/bip32.rs
  key-wallet/src/tests/account_tests.rs
  key-wallet/src/tests/wallet_tests.rs
Due: cargo-fmt, clippy

refactor(key-wallet): ManagedAccountType::from_account_type refactor (#828)
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_type.rs
Due: cargo-fmt, clippy

perf: reduced amount of block hashes computed (#834)
  dash-spv/benches/storage.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/block_headers.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/blocks/pipeline.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/pipeline.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, clippy

fix(dash-spv): avoid filter sync getting stuck on the first new block after a restart
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
Due: cargo-fmt, clippy

fix(key-wallet): preserve UTXO flags across reprocessing
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): reserve selected UTXOs to prevent double-spend (#812)
  dash-spv/tests/dashd_sync/tests_transaction.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/reservation.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

ci: fix `ready-for-review` label automation for fork pull requests
  .github/scripts/check_ci_status.sh
  .github/workflows/ready-for-review-trigger.yml
  .github/workflows/ready-for-review.yml
Due: none

ci: grant `contents: read` to ready-for-review label workflow
  .github/workflows/ready-for-review.yml
Due: none

ci: clear `ready-for-review` label when a PR is converted to draft
  .github/workflows/ready-for-review-trigger.yml
  .github/workflows/ready-for-review.yml
Due: none

refactor(key-wallet): move extended_public_key out of Signer into ExtendedPubKeySigner
  key-wallet/src/lib.rs
  key-wallet/src/signer.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, clippy

test(key-wallet): pin asset-lock InMemorySigner xpub export against wallet derivation
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, clippy

refactor(key-wallet): move extended_public_key out of Signer into ExtendedPubKeySigner subtrait (#839)
  key-wallet/src/lib.rs
  key-wallet/src/signer.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, clippy

ci: fix `ready-for-review` label automation for fork pull requests (#838)
  .github/scripts/check_ci_status.sh
  .github/workflows/ready-for-review-trigger.yml
  .github/workflows/ready-for-review.yml
Due: none

fix(key-wallet): require final parents for trusted self-send change
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): restrict asset-lock funding to final inputs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, clippy

fix(dash-spv): replaced TARGET_PEERS with already existing max_peers config field
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/network/constants.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/pool.rs
  dash-spv/src/network/tests.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, clippy

fix(dash-spv): degrade gracefully when advisory file locking is unsupported
  dash-spv/src/storage/lockfile.rs
Due: cargo-fmt, clippy

fix(key-wallet): take the seed by reference in Wallet::from_seed_bytes
  key-wallet/src/wallet/initialization.rs
Due: cargo-fmt, clippy

fix(dash-spv): degrade gracefully when advisory file locking is unsupported (#841)
  dash-spv/src/storage/lockfile.rs
Due: cargo-fmt, clippy

fix(dash-spv): replaced TARGET_PEERS with already existing max_peers config field (#827)
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/network/constants.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/pool.rs
  dash-spv/src/network/tests.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, clippy

fix(dash-spv): avoid filter sync getting stuck on the first new block after a restart (#835)
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
Due: cargo-fmt, clippy

test(key-wallet,dash-spv): crate-level bug-pin repros for #763, #764 and CoinJoin gap-limit discovery
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  key-wallet/tests/asset_lock_builder_failed_build.rs
  key-wallet/tests/instant_lock_context_promotion.rs
Due: cargo-fmt, clippy

fix(key-wallet): don't build asset locks on unconfirmed funds (#836)
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, clippy

ci: stop `evaluate` failing when a PR's CI is pending or red
  .github/scripts/check_ci_status.sh
Due: none

ci: surface unexpected `gh pr checks` failures instead of hiding them
  .github/scripts/check_ci_status.sh
Due: none

ci: stop `evaluate` failing when a PR's CI is pending or red (#844)
  .github/scripts/check_ci_status.sh
Due: none

feat(key-wallet): seed sync checkpoint from `birth_height`
  dash-spv-ffi/tests/test_wallet_manager.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/tests/test_import_wallet.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
Due: cargo-fmt, verify-ffi, clippy
