Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

created NonMatchingMockWallet
  dash-spv/src/client/block_processor_test.rs
  dash/src/test_utils/block.rs
  dash/src/test_utils/mod.rs
  key-wallet-manager/src/test_utils/mod.rs
  key-wallet-manager/src/test_utils/wallet.rs
Due: cargo-fmt, clippy

moved MockNetwork into test_utils
  dash-spv/src/client/mod.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/network.rs
Due: cargo-fmt, clippy

client module done
  dash-spv/src/client/mod.rs
  dash/src/test_utils/address.rs
  dash/src/test_utils/mod.rs
Due: cargo-fmt, clippy

helper in key-wallet move into dashcore
  dash/src/test_utils/address.rs
  key-wallet/src/test_utils/address.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/test_utils/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

chore: ignore bincode unmaintained advisory `RUSTSEC-2025-0141` (#343)
  deny.toml
Due: none

instalock done
  dash-spv/src/validation/instantlock.rs
  dash/src/test_utils/instantlock.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/transaction.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/src/test_utils/utxo.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/tests/test_optimal_consolidation.rs
Due: cargo-fmt, verify-ffi, clippy

mempool filters unit tests cleaned
  dash-spv/src/mempool_filter.rs
  dash/src/test_utils/address.rs
  dash/src/test_utils/transaction.rs
Due: cargo-fmt, clippy

Address dummy usage consolidated
  dash-spv/src/client/mod.rs
  dash/src/test_utils/address.rs
  dash/src/test_utils/transaction.rs
  key-wallet/Cargo.toml
  key-wallet/src/test_utils/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

feat: capture new addresses from `maintain_gap_limit` (#287)
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/sync/message_handlers.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  test-utils/src/builders.rs
Due: cargo-fmt, verify-ffi, clippy

fix: correct confirmations for UTXOs in wallet FFI (#306)
  key-wallet-ffi/src/utxo.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet/Cargo.toml
  key-wallet/src/utxo.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: simplify immature transactions handling (#307)
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/immature_transaction_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/immature_transaction.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

refactor: storage manager trait splitted into multiple subtraits (#311)
  dash-spv/benches/storage.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/lib.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/headers.rs
  dash-spv/src/storage/manager.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/state.rs
  dash-spv/src/storage/transactions.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/reverse_index_test.rs
  dash-spv/tests/rollback_test.rs
  dash-spv/tests/segmented_storage_debug.rs
  dash-spv/tests/segmented_storage_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/simple_segmented_test.rs
  dash-spv/tests/storage_consistency_test.rs
  dash-spv/tests/storage_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, clippy

fix: store checkpoints at checkpoint height not 0
  dash-spv/src/client/lifecycle.rs
Due: cargo-fmt, clippy

chore: cleanup unused config parameters
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/chainlock_simple_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/qrinfo_integration_test.rs
  dash-spv/tests/simple_header_test.rs
Due: cargo-fmt, clippy

key-wallet-manager cleaned
  dash/src/test_utils/block.rs
  dash/src/test_utils/transaction.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, clippy

storage unit test cleaned
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash/src/test_utils/block.rs
  dash/src/test_utils/filter.rs
  dash/src/test_utils/mod.rs
Due: cargo-fmt, clippy

cleaning
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/mempool_filter.rs
  dash-spv/src/validation/instantlock.rs
  dash/src/test_utils/block.rs
  dash/src/test_utils/blockhash.rs
  dash/src/test_utils/filter.rs
  dash/src/test_utils/instantlock.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/transaction.rs
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/Cargo.toml
Due: cargo-fmt, clippy

fix: unify immature balance tracking with remaining balances
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/types.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/account.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix: store checkpoints at checkpoint height not 0 (#345)
  dash-spv/src/client/lifecycle.rs
Due: cargo-fmt, clippy

chore: cleanup unused config parameters (#346)
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/chainlock_simple_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/qrinfo_integration_test.rs
  dash-spv/tests/simple_header_test.rs
Due: cargo-fmt, clippy

fix: unify immature balance tracking with remaining balances (#341)
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/types.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/test_utils/account.rs
  key-wallet/src/test_utils/mod.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

removed ClientConfig fields without a real usage
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/config.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/lib.rs
Due: cargo-fmt, verify-ffi, clippy

chore: remove more unused `ClientConfig` fields (#348)
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/config.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/lib.rs
Due: cargo-fmt, verify-ffi, clippy

chore: drop redundant block processing
  TEST_SUMMARY.md
  dash-spv/ARCHITECTURE.md
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/tests/transaction_calculation_test.rs
Due: cargo-fmt, clippy

cache tip item in `SegmentCache`
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

add `get_tip` to the block header storage
  dash-spv/src/client/core.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

feat: add new `HeaderTip` cache to header storage
  dash-spv/src/client/core.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

removed feature that skipped tests enabling them
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/chainlock_validation_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/rollback_test.rs
Due: cargo-fmt, clippy

index header no longer persisted in a different file
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

removed unused struct DashSpvClientInterface
  dash-spv/src/client/interface.rs
Due: cargo-fmt, clippy

removed empty file
  dash-spv/src/client/filter_sync.rs
Due: cargo-fmt, clippy

chore: remove an empty file (#354)
  dash-spv/src/client/filter_sync.rs
Due: cargo-fmt, clippy

chore: drop redundant block processing (#349)
  TEST_SUMMARY.md
  dash-spv/ARCHITECTURE.md
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/tests/transaction_calculation_test.rs
Due: cargo-fmt, clippy

chore: remove pointless `skip_mock_implementation_incomplete` feature (#340)
  dash-spv/Cargo.toml
  dash-spv/src/chain/chainlock_test.rs
  dash-spv/tests/block_download_test.rs
  dash-spv/tests/chainlock_validation_test.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/rollback_test.rs
Due: cargo-fmt, clippy

message handler cleaned and test re-enabled
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
Due: cargo-fmt, clippy

CachedHeader renamed and public methods modified
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers/validation.rs
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

feat: store block hashes along with the headers in segments (#351)
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/headers/validation.rs
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

chore: cleanup message handler re-enable skipped tests (#352)
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/message_handler_test.rs
Due: cargo-fmt, clippy

removed duplicated MockNetworkManager struct
  dash-spv/src/test_utils/filter.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/block_download_test.rs
Due: cargo-fmt, clippy

fixed test that was using the wrong block header
  dash-spv/src/chain/chainlock_test.rs
  dash/src/test_utils/chainlock.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

