Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

refactor(dash-spv): improved and optimized masternode storage prototype
  dash-spv/Cargo.toml
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/types.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

api cleanup
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/src/sml/masternode_list_engine/helpers.rs
Due: cargo-fmt, clippy

refactor(dash-spv): let the storage own the masternode state format
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/masternodes/manager.rs
Due: cargo-fmt, clippy

refactor(dash-spv): rebuild masternode state from headers, not a stored copy
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): persist the masternode list and restore it at startup
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): stop losing derived scripts, and close the loop on wallet state
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): ask every account whether a transaction is new, not just the matched ones
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): keep a spend-first coin recognisable so its spend stays in history
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
Due: cargo-fmt, clippy

fix(dash-spv): make backward coverage durable by rewinding synced_height instead of sweeping in memory
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, clippy

fix(dash-spv): clamp the backward-coverage rewind to each wallet's own birth height
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv/tests/dashd_sync/tests_multi_wallet.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, verify-ffi, clippy

test(dash-spv-ffi): assert the first sync cycle is 0, not the last
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): hold filter completion while a rewound wallet's re-walk is pending; cover the rewind
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/src/event_tests.rs
Due: cargo-fmt, clippy

test(dash-spv): drive the real re-walk, and confirm the rewind landed
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): ask every account whether a transaction is new, not just the matched ones (#1000)
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(dash-spv): stop losing derived scripts, and close the loop on wallet state
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/block_match_tracker.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): discover DashPay asset unlock receipts
  CHANGELOG.md
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
Due: cargo-fmt, clippy

docs: leave changelog updates to release preparation
  CHANGELOG.md
Due: none

build!: adopt GroveDB bincode across the workspace
  CHANGELOG.md
  Cargo.toml
  dash-network/Cargo.toml
  dash/Cargo.toml
  hashes/Cargo.toml
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  rpc-json/Cargo.toml
Due: none

refactor(dash-spv): persist the masternode messages, not a snapshot of the engine
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/types.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/src/ephemerealdata/chain_lock.rs
  dash/src/sml/llmq_type/mod.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/sml/masternode_list_engine/non_rotated_quorum_construction.rs
Due: cargo-fmt, clippy

test(dash-spv): assert the restart test's storage, not just its progress
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, clippy

test(dash-spv): masternode storage unit tests
  dash-spv/src/storage/masternode.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/test_utils/header_storage.rs
  dash-spv/src/test_utils/mod.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/sml.rs
Due: cargo-fmt, clippy

build: use published bincode 2.1.0 crates
  CHANGELOG.md
  Cargo.toml
Due: none

build!: adopt GroveDB bincode across the workspace (#1005)
  CHANGELOG.md
  Cargo.toml
  dash-network/Cargo.toml
  dash/Cargo.toml
  hashes/Cargo.toml
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  rpc-json/Cargo.toml
Due: none

test(key-wallet): cover the born-spent drain on the InstantSend backfill branch
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(dash-spv): coderabbit comments addressed
  dash-spv/src/storage/masternode.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/src/sml/masternode_list_engine/helpers.rs
Due: cargo-fmt, clippy

fix(key-wallet): keep a spend-first coin recognisable so its spend stays in history (#1001)
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
Due: cargo-fmt, clippy

fix(dash-spv): collect the scripts derived by every application of a block, not only the tracked one
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): discover DashPay asset unlock receipts (#1004)
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
Due: cargo-fmt, clippy

fix(key-wallet): consult every fund-bearing account for provider transactions
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
Due: cargo-fmt, clippy

test(key-wallet): pin the guard that keeps an explicit change address
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(dash-spv): stop losing derived scripts, and close the loop on wallet state (#989)
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/block_match_tracker.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

test(key-wallet): test change address is preserved
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(dash-spv): give back the in-flight unit of a send nobody tracks
  dash-spv/src/network/manager.rs
  dash-spv/src/network/peer.rs
  dash-spv/tests/network_inflight_accounting.rs
Due: cargo-fmt, clippy
