Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

refactor(masternode-seeds-fetcher): source mnlist via P2P, drop RPC
  .github/workflows/update-masternode-seeds.yml
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
Due: cargo-fmt, clippy

feat(dash-network-seeds): extract seeds into standalone crate, differentiate evo/regular
  .github/ci-groups.yml
  .github/workflows/update-masternode-seeds.yml
  Cargo.toml
  dash-network-seeds/Cargo.toml
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
  dash-network-seeds/src/lib.rs
  dash-spv/Cargo.toml
  dash-spv/seeds/mainnet.txt
  dash-spv/seeds/testnet.txt
  dash-spv/src/network/constants.rs
  dash-spv/src/network/discovery.rs
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
Due: cargo-fmt, clippy

fix(dash-network-seeds): keep dashcore default features to unblock CI
  dash-network-seeds/Cargo.toml
Due: none

feat(dash-network-seeds): add per-node status columns (core/platform reach+sync, SSL)
  .github/workflows/update-masternode-seeds.yml
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
  dash-network-seeds/src/lib.rs
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
  masternode-seeds-fetcher/src/probe.rs
Due: cargo-fmt, clippy

replace new Network enum definition with dashcore::Network
  dash-network-seeds/Cargo.toml
  dash-network-seeds/src/lib.rs
  dash-network/src/lib.rs
  dash-spv/Cargo.toml
  dash-spv/src/network/constants.rs
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
  masternode-seeds-fetcher/src/probe.rs
Due: cargo-fmt, clippy

remove newly defined redundant constants with Network methods equivalents
  dash-network-seeds/src/lib.rs
  dash-spv/src/network/constants.rs
  dash-spv/src/network/discovery.rs
Due: cargo-fmt, clippy

remove newly defined redundant constants with Network methods equivalents (#681)
  dash-network-seeds/src/lib.rs
  dash-spv/src/network/constants.rs
  dash-spv/src/network/discovery.rs
Due: cargo-fmt, clippy

replace dashcore dep with dash-network
  dash-network-seeds/Cargo.toml
  dash-network-seeds/src/lib.rs
Due: cargo-fmt, clippy

fix(ci): cargo fmt + rustdoc intra-doc link
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: support multiple spv event handlers
  dash-spv-ffi/src/client.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/events.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(wallet): rename synced_height to last_processed_height
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/filters/manager.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/utxo.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(wallet): rename filter_committed_height to synced_height
  dash-spv/src/sync/filters/manager.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/mod.rs
Due: cargo-fmt, clippy

renamed methods, docs, and strings after renaming the events
  dash-spv/ARCHITECTURE.md
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, clippy

drop unused managed_wallet_check_transaction
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction_checking.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet-manager): add mutable-pair accessors + insert_wallet
  key-wallet-manager/src/accessors.rs
Due: cargo-fmt, clippy

Squashed commit of the following:
  dash-spv-ffi/src/callbacks.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/sync/sync_manager.rs
  dash-spv/src/test_utils/event_handler.rs
  dash-spv/src/test_utils/masternode_network.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/main.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_instantsend.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/src/sml/llmq_entry_verification.rs
  dash/src/sml/masternode_list/apply_diff.rs
  dash/src/sml/masternode_list/rotated_quorums_info.rs
  dash/src/sml/masternode_list/scores_for_quorum.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/sml/masternode_list_engine/rotated_quorum_construction.rs
  dash/src/sml/masternode_list_engine/validation.rs
  dash/src/sml/quorum_entry/qualified_quorum_entry.rs
  dash/src/sml/quorum_entry/validation.rs
  dash/src/sml/quorum_validation_error.rs
Due: cargo-fmt, verify-ffi, clippy

feat: add `QRInfoFeedResult` and return it from `feed_qr_info`
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

`summary` -> `result`
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

replace hickory-resolver with tokio::net::lookup_host
  dash-network/src/lib.rs
  dash-spv/Cargo.toml
  dash-spv/src/network/discovery.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/tests.rs
  dash-spv/tests/peer_test.rs
  masternode-seeds-fetcher/Cargo.toml
  masternode-seeds-fetcher/src/main.rs
Due: cargo-fmt, clippy

replace match patterns where we can use error.rs macros
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/error.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/managed_wallet_tests.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/wallet_manager.rs
Due: cargo-fmt, verify-ffi, clippy

enforce `Send + Sync + 'static` on generic type of the wallet manager
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/lib.rs
Due: cargo-fmt, clippy

refactor(key-wallet-manager): track wallet heights per wallet
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
Due: cargo-fmt, verify-ffi, clippy

chore(dash-spv): refresh masternode seed files
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
Due: none

feat: make wallet events atomic
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/lib.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/context.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv-ffi/tests/dashd_sync/tests_transaction.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/account_collection.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/account_tests.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

feat: per-wallet filter scan and runtime wallet catch-up
  dash-spv-ffi/src/callbacks.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/blocks/pipeline.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/block_match_tracker.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/mod.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/tests/dashd_sync/helpers.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/matching.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/test_utils/mod.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, verify-ffi, clippy

fix: record balance before bumping `block_processed_wallet_count`
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

fix: place `IdentityTopUp.registration_index` in `index_secondary`
  key-wallet-ffi/src/managed_account.rs
Due: cargo-fmt, verify-ffi, clippy

fix: route confirmation backfills to `new_records`
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

refactor(key-wallet-manager): extract `finalize_block_advance` helper
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, clippy

refactor: rename wallet events for clearer semantics
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, verify-ffi, clippy

fix: record balance before bumping IS-locked counter in test callback
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

fix: backfill missing transaction record in InstantSend path
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

test(key-wallet-manager): drop redundant accessor tests
  key-wallet-manager/src/accessors.rs
Due: cargo-fmt, clippy

chore: merge v0.42-dev into feat/per-wallet-filter-scan (#698)
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/lib.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/context.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv-ffi/tests/dashd_sync/tests_transaction.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/account_collection.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/account_tests.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet-manager): expose bls and eddsa features
  key-wallet-manager/Cargo.toml
Due: none

fix(key-wallet): gate serde-only imports in BLS derivation
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

style: apply rustfmt to BLS imports
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

fix(key-wallet): seed sync checkpoints from `birth_height` in `ManagedWalletInfo` ctors
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet-manager): clarify fallback `birth_height` source on wallet import
  key-wallet-manager/src/lib.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

