Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

fix: use `from_byte_array` for dummy block hash in tests (#310)
  dash/src/bip152.rs
Due: cargo-fmt, clippy

fix: address Windows filename issues
  dash-spv/src/chain/chainlock_manager.rs
Due: cargo-fmt, clippy

made some methods private and removed the unused in the InstaLockValidator struct
  dash-spv/src/validation/instantlock.rs
Due: cargo-fmt, clippy

taking the background worker handle before aborting to ensure it is not used again
  dash-spv/benches/storage.rs
  dash-spv/src/storage/manager.rs
  dash-spv/src/storage/state.rs
Due: cargo-fmt, clippy

fix: reject empty hostname in peer address in FFI
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/unit/test_configuration.rs
Due: cargo-fmt, verify-ffi, clippy

fix: qualify `Hash` trait in macros for `--no-default-features` (#313)
  hashes/src/util.rs
Due: cargo-fmt, clippy

fix: add missing license fields for cargo-deny audit (#314)
  fuzz/Cargo.toml
  fuzz/generate-files.sh
  rpc-integration-test/Cargo.toml
Due: none

fix: add test-only `LockFile::read_pid` for cross-platform testing (#316)
  dash-spv/src/storage/lockfile.rs
Due: cargo-fmt, clippy

fix: prevent memory leaks in FFI tests (#323)
  dash-spv-ffi/tests/test_types.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv-ffi/tests/unit/test_memory_management.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/account_tests.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/address_tests.rs
  key-wallet-ffi/src/derivation_tests.rs
  key-wallet-ffi/src/error.rs
  key-wallet-ffi/src/keys_tests.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/managed_wallet_tests.rs
  key-wallet-ffi/src/mnemonic_tests.rs
  key-wallet-ffi/src/transaction_tests.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-ffi/tests/integration_test.rs
  key-wallet-ffi/tests/test_error_conversions.rs
  key-wallet-ffi/tests/test_import_wallet.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
Due: cargo-fmt, verify-ffi, clippy

fix: use RFC 5737 TEST-NET-1 IP for timeout testing (#308)
  dash-spv/tests/handshake_test.rs
Due: cargo-fmt, clippy

refactor: rework storage to periodically persist (#278)
  dash-spv/src/storage/headers.rs
  dash-spv/src/storage/manager.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/state.rs
  dash-spv/tests/reverse_index_test.rs
Due: cargo-fmt, clippy

feat: bump `rs-x11-hash` to `0.1.9` for windows support (#319)
  Cargo.toml
Due: none

feat: track `synced_height` per `ManagedWalletInfo`
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
Due: cargo-fmt, verify-ffi, clippy

chore: use separate target dirs for pre-commit
  contrib/run_clippy.py
  contrib/verify_ffi.py
Due: none

refactor: move `Send + Sync + 'static` bounds into trait definitions
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/events.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/progress.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/main.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/filters/download.rs
  dash-spv/src/sync/filters/headers.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/matching.rs
  dash-spv/src/sync/filters/requests.rs
  dash-spv/src/sync/filters/retry.rs
  dash-spv/src/sync/filters/stats.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/src/sync/phase_execution.rs
  dash-spv/src/sync/post_sync.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, clippy

chore: instant lock validation cleanup/simplify (#329)
  dash-spv/src/validation/instantlock.rs
Due: cargo-fmt, clippy

fix: address Windows filename issues (#312)
  dash-spv/src/chain/chainlock_manager.rs
Due: cargo-fmt, clippy

refactor: move `Send + Sync + 'static` bounds into trait definitions (#331)
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/chainlock.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/events.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/client/message_handler.rs
  dash-spv/src/client/progress.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/main.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/filters/download.rs
  dash-spv/src/sync/filters/headers.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/matching.rs
  dash-spv/src/sync/filters/requests.rs
  dash-spv/src/sync/filters/retry.rs
  dash-spv/src/sync/filters/stats.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/src/sync/phase_execution.rs
  dash-spv/src/sync/post_sync.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, clippy

chore: use separate target dirs for pre-commit (#330)
  contrib/run_clippy.py
  contrib/verify_ffi.py
Due: none

Drop step 1
  dash-spv-ffi/src/config.rs
Due: cargo-fmt, verify-ffi, clippy

feat: track `synced_height` per `ManagedWalletInfo` (#305)
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
Due: cargo-fmt, verify-ffi, clippy

chore: drop unused `utxo.rs` in `key-wallet` crate (#304)
  key-wallet-ffi/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/utxo.rs
Due: cargo-fmt, verify-ffi, clippy

feat: Capture new addresses from `maintain_gap_limit`
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/sync/message_handlers.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

Add tests
  key-wallet-manager/Cargo.toml
  key-wallet-manager/tests/spv_integration_tests.rs
  test-utils/src/builders.rs
Due: cargo-fmt, clippy

Log failures.
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix: correct confirmations for UTXOs in wallet FFI
  key-wallet-ffi/src/utxo.rs
  key-wallet-ffi/src/utxo_tests.rs
Due: cargo-fmt, verify-ffi, clippy

fix: reject empty hostname in peer address in FFI (#318)
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/include/dash_spv_ffi.h
  dash-spv-ffi/src/config.rs
  dash-spv-ffi/tests/unit/test_configuration.rs
Due: cargo-fmt, verify-ffi, clippy

ci: overhaul CI
  .github/ci-groups.yml
  .github/ci-no-std.yml
  .github/scripts/ci_config.py
  .github/workflows/build-and-test.yml
  .github/workflows/fuzz.yml
  .github/workflows/pre-commit.yml
  .github/workflows/rust.yml
  .github/workflows/sanitizer.yml
  contrib/test.sh
  dash/contrib/test.sh
  deny.toml
  fuzz/Cargo.toml
  fuzz/contrib/test.sh
  fuzz/fuzz-util.sh
  fuzz/generate-files.sh
  hashes/contrib/test.sh
  internals/contrib/test.sh
Due: none

ci: overhaul CI (#253)
  .github/ci-groups.yml
  .github/ci-no-std.yml
  .github/scripts/ci_config.py
  .github/workflows/build-and-test.yml
  .github/workflows/fuzz.yml
  .github/workflows/pre-commit.yml
  .github/workflows/rust.yml
  .github/workflows/sanitizer.yml
  contrib/test.sh
  dash/contrib/test.sh
  deny.toml
  fuzz/Cargo.toml
  fuzz/contrib/test.sh
  fuzz/fuzz-util.sh
  fuzz/generate-files.sh
  hashes/contrib/test.sh
  internals/contrib/test.sh
Due: none

add test
  key-wallet-manager/tests/spv_integration_tests.rs
Due: cargo-fmt, clippy

call update chain height after block processing
  key-wallet-manager/src/wallet_manager/process_block.rs
Due: cargo-fmt, clippy

code review suggestions
  dash-spv/src/storage/state.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/tests/storage_test.rs
Due: cargo-fmt, clippy

chore: Drop pointless `utxo_tests.rs`
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/utxo_tests.rs
Due: cargo-fmt, clippy

refactor: consolidate utxos helpers in `test_utils.rs`
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/test_utils.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, clippy

refactor: remove `headers` from `ChainState` (#292)
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/chain/chainlock_manager.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/progress.rs
  dash-spv/src/client/status_display.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/storage/state.rs
  dash-spv/src/sync/filters/headers.rs
  dash-spv/src/sync/filters/retry.rs
  dash-spv/src/sync/headers/manager.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/src/sync/phase_execution.rs
  dash-spv/src/sync/transitions.rs
  dash-spv/src/types.rs
  dash-spv/tests/edge_case_filter_sync_test.rs
  dash-spv/tests/filter_header_verification_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/rollback_test.rs
  dash-spv/tests/segmented_storage_debug.rs
  dash-spv/tests/segmented_storage_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/simple_segmented_test.rs
  dash-spv/tests/storage_consistency_test.rs
  dash-spv/tests/storage_test.rs
Due: cargo-fmt, verify-ffi, clippy

chore: drop pointless `utxo_tests.rs` (#333)
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/utxo_tests.rs
Due: cargo-fmt, clippy

refactor: cleanup `WalletBalance`
  dash-spv/src/main.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: simplify immature transactions handling
  key-wallet/src/tests/immature_transaction_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/immature_transaction.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

refactor: consolidate balance calculations
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

traits created
  dash-spv/src/storage/manager.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/state.rs
Due: cargo-fmt, clippy
