Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

feat: add `dashd` integration tests for SPV sync
  .github/workflows/build-and-test.yml
  .github/workflows/sanitizer.yml
  CLAUDE.md
  contrib/setup-dashd.py
  dash-spv-ffi/Cargo.toml
  dash-spv-ffi/src/lib.rs
  dash-spv-ffi/src/test_utils/callbacks.rs
  dash-spv-ffi/src/test_utils/context.rs
  dash-spv-ffi/src/test_utils/mod.rs
  dash-spv-ffi/tests/callback_integration_test.rs
  dash-spv-ffi/tests/dashd_ffi_sync_test.rs
  dash-spv/Cargo.toml
  dash-spv/src/test_utils/context.rs
  dash-spv/src/test_utils/fs_helpers.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/tests/dashd_sync.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_basic.rs
  dash-spv/tests/dashd_sync/tests_disconnect.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
  dash-spv/tests/dashd_sync/tests_transaction.rs
Due: cargo-fmt, verify-ffi, clippy

transaction signing implemented
  key-wallet/src/transaction/builder.rs
Due: cargo-fmt, clippy

updating to the new changes
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/transaction.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet/src/transaction/builder.rs
  key-wallet/src/transaction/coin_selection.rs
  key-wallet/src/transaction/fee.rs
Due: cargo-fmt, verify-ffi, clippy

replace `dashd_sync.rs` with `dashd_sync/main.rs`
  dash-spv/tests/dashd_sync.rs
  dash-spv/tests/dashd_sync/main.rs
Due: cargo-fmt, clippy

make `copy_dir` less public
  dash-spv/src/test_utils/fs_helpers.rs
Due: cargo-fmt, clippy

restructure FFI dashd integration tests into dashd_sync/
  CLAUDE.md
  dash-spv-ffi/Cargo.toml
  dash-spv-ffi/src/lib.rs
  dash-spv-ffi/src/test_utils/mod.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/context.rs
  dash-spv-ffi/tests/dashd_sync/main.rs
  dash-spv-ffi/tests/dashd_sync/tests_basic.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv-ffi/tests/dashd_sync/tests_restart.rs
  dash-spv-ffi/tests/dashd_sync/tests_transaction.rs
Due: cargo-fmt, verify-ffi, clippy

TransactionBuilder constructor improvement
  key-wallet-ffi/src/transaction.rs
  key-wallet/Cargo.toml
  key-wallet/src/transaction/builder.rs
Due: cargo-fmt, verify-ffi, clippy

drop unused UtxoSet struct
  key-wallet-manager/README.md
  key-wallet-manager/src/lib.rs
  key-wallet/src/lib.rs
  key-wallet/src/utxo.rs
Due: cargo-fmt, clippy

chore: move `fuzz` profile settings to workspace root
  Cargo.toml
  fuzz/Cargo.toml
Due: none

chore: update docs of `Network` entries
  dash/src/network/constants.rs
Due: cargo-fmt, clippy

chore: drop unused `NetworkManager` functions
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/handshake_test.rs
Due: cargo-fmt, clippy

chore: fix `PeerPool.get_best_height()` logs
  dash-spv/src/network/pool.rs
Due: cargo-fmt, clippy

chore: make `codecov/patch` informational
  .codecov.yml
Due: none

refactor: replace `ServiceFlags::from(1)` with `NETWORK`
  dash-spv/src/network/addrv2.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/storage/peers.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, clippy

chore: make `codecov/project` wait for all uploads
  .codecov.yml
Due: none

chore: use target 0% for `codecov/patch`
  .codecov.yml
Due: none

removed hkdf dependency
  key-wallet/Cargo.toml
Due: none

remove unecesary code in internals::macros
  internals/src/macros.rs
Due: cargo-fmt, clippy

restrict ServiceFlags api
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/peer.rs
  dash/src/network/address.rs
  dash/src/network/constants.rs
  dash/src/network/message.rs
Due: cargo-fmt, clippy

chore: address CodeRabbit feedback from #493
  README.md
Due: none

docs: update key-wallet documentation to match current codebase
  key-wallet/CLAUDE.md
  key-wallet/IMPLEMENTATION_SUMMARY.md
  key-wallet/README.md
Due: none

fix(rpc-json): use tri-state Option for service in DMNStateDiff
  rpc-json/src/lib.rs
Due: cargo-fmt, clippy

fix(rpc-json): make DMNState.service and MasternodeStatus.service optional for Core v24
  rpc-json/src/lib.rs
Due: cargo-fmt, clippy

fix: skip mempool strategy when --no-mempool is set
  dash-spv/src/client/config.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
Due: cargo-fmt, clippy

feat: log wallet events in the client's run loop
  dash-spv/src/client/sync_coordinator.rs
  key-wallet-manager/src/test_utils/wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
Due: cargo-fmt, clippy

fix: route `getdata` requests to the peer that sent the `inv`
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
  dash-spv/src/sync/filters/pipeline.rs
  dash-spv/src/sync/instantsend/sync_manager.rs
Due: cargo-fmt, clippy

drop key-wallet ffi functions that are not being used in the swift-sdk
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/account_collection.rs
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/bip38.rs
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/keys.rs
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_account_collection.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/mnemonic.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/utils.rs
  key-wallet-ffi/src/utxo.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/src/wallet_manager.rs
Due: cargo-fmt, verify-ffi, clippy

drop no-std CI jobs
  .github/ci-no-std.yml
  .github/scripts/ci_config.py
  .github/workflows/rust.yml
Due: none

feat: format wallet event amounts as DASH
  key-wallet-manager/src/events.rs
Due: cargo-fmt, clippy

refactor: extract capability lookup into `PeerPool` helpers
  dash-spv/src/network/manager.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/pool.rs
  dash-spv/src/test_utils/network.rs
Due: cargo-fmt, clippy

chore: enable CodeRabbit `request_changes_workflow`
  .coderabbit.yaml
Due: none

refactor: simplify `HandshakeManager` to accept `relay`
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/manager.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/test_handshake_logic.rs
Due: cargo-fmt, clippy

drop unused modules in dashcore crate
  dash/src/bip143.rs
  dash/src/lib.rs
  dash/src/serialize.rs
Due: cargo-fmt, clippy

drop no-std supp in internals
  dash/Cargo.toml
  hashes/Cargo.toml
  internals/Cargo.toml
  internals/src/hex/display.rs
  internals/src/lib.rs
Due: cargo-fmt, clippy

drop out-of-scope crates inside hashes crate
  hashes/embedded/Cargo.toml
  hashes/embedded/memory.x
  hashes/embedded/src/main.rs
  hashes/extended_tests/schemars/Cargo.toml
  hashes/extended_tests/schemars/src/main.rs
  hashes/fuzz/Cargo.toml
  hashes/fuzz/fuzz_targets/cbor.rs
  hashes/fuzz/fuzz_targets/json.rs
  hashes/fuzz/fuzz_targets/ripemd160.rs
  hashes/fuzz/fuzz_targets/sha1.rs
  hashes/fuzz/fuzz_targets/sha256.rs
  hashes/fuzz/fuzz_targets/sha512.rs
  hashes/fuzz/fuzz_targets/sha512_256.rs
  hashes/fuzz/travis-fuzz.sh
Due: cargo-fmt, clippy

test: add 200 block regtest blockchain support
  .github/workflows/build-and-test.yml
  contrib/setup-dashd.py
  dash-spv-ffi/tests/dashd_sync/tests_basic.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv-ffi/tests/dashd_sync/tests_restart.rs
  dash-spv-ffi/tests/dashd_sync/tests_transaction.rs
  dash-spv/src/test_utils/context.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_basic.rs
  dash-spv/tests/dashd_sync/tests_disconnect.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
  dash-spv/tests/dashd_sync/tests_transaction.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: default to `relay=false` in P2P handshake
  dash-spv/src/network/handshake.rs
  dash-spv/src/network/manager.rs
  dash-spv/tests/handshake_test.rs
  dash-spv/tests/test_handshake_logic.rs
Due: cargo-fmt, clippy

Skip `test_all_callbacks_during_sync` for now
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
Due: cargo-fmt, verify-ffi, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

