Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

feat(crypto)!: switch BLS backend to `dash-pkc` from `blsful` fork
  crypto/Cargo.toml
  crypto/src/bls.rs
  crypto/src/lib.rs
  deny.toml
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene (#1050)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#1052)
  .github/workflows/pr-review-policy.yml
Due: none

feat(key-wallet): DIP-13 application session authentication and encryption paths (#1049)
  key-wallet/src/bip32.rs
  key-wallet/src/dip9.rs
Due: cargo-fmt, clippy

feat: abstract BLS backend types behind newtypes, isolate to `dashcore-crypto` crate, switch to `dash-pkc` from `blsful` fork (#1036)
  .github/ci-groups.yml
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/bls.rs
  crypto/src/lib.rs
  dash/Cargo.toml
  dash/src/base58.rs
  dash/src/bls_sig_utils.rs
  dash/src/crypto/key.rs
  dash/src/lib.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/validation.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_entry/validation.rs
  dash/src/sml/quorum_entry/verify_message.rs
  dash/src/sml/quorum_validation_error.rs
  deny.toml
  key-wallet-ffi/src/account_derivation.rs
  key-wallet/src/account/bls_account.rs
  key-wallet/src/account/serialization.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/tests/special_transaction_matching_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/wallet/root_extended_keys.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): refuse DIP-14 256-bit children in BLS and SLIP-10 derivation
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
Due: cargo-fmt, clippy

fix(key-wallet): refuse DIP-14 256-bit children in BLS and SLIP-10 derivation (#1051)
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
Due: cargo-fmt, clippy

fix(key-wallet): keep a mined transaction promotable when its IS lock arrives late (#1037)
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(key-wallet): prune observed spends during the initial sync (#1014)
  dash-spv/src/client/event_handler.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(key-wallet): re-apply a spend whose coin was funded after it
  dash-spv/src/sync/blocks/manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(dash-spv): don't count block re-applications as processed blocks
  dash-spv/src/sync/blocks/manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): re-apply a spend whose coin was funded after it (#1015)
  dash-spv/src/sync/blocks/manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

refactor(dash-spv): drop the committed-range sweep and the collected-scripts rescan
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/block_match_tracker.rs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

refactor(dash-spv): drop the committed-range sweep and the collected-scripts rescan (#1016)
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/block_match_tracker.rs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

refactor(dash)!: drop the unconstructed Ed25519 key error variants
  dash/src/base58.rs
  dash/src/crypto/key.rs
Due: cargo-fmt, clippy

build(deps)!: take base64 and base58 from their own crates
  crypto/Cargo.toml
  crypto/src/lib.rs
  dash/Cargo.toml
  dash/src/address.rs
  dash/src/base58.rs
  dash/src/blockdata/transaction/special_transaction/provider_registration.rs
  dash/src/crypto/key.rs
  dash/src/lib.rs
  dash/src/sign_message.rs
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
Due: cargo-fmt, clippy

refactor(dash)!: move the taproot tweak off the key module
  dash/src/address.rs
  dash/src/blockdata/script/owned.rs
  dash/src/crypto/key.rs
  dash/src/taproot.rs
Due: cargo-fmt, clippy

refactor(dash): move the script conversion off the ECDSA signature
  dash/src/blockdata/script/push_bytes.rs
  dash/src/crypto/ecdsa.rs
Due: cargo-fmt, clippy

refactor(dash): give the taproot sighash type its own parse error
  dash/src/crypto/sighash.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene (#1054)
  .github/workflows/pr-review-policy.yml
Due: none

refactor(dash): drop the now-unused `serde_string_impl!`
  dash/src/serde_utils.rs
Due: cargo-fmt, clippy

feat(crypto): migrate the sighash types to `dashcore-crypto`
  crypto/Cargo.toml
  crypto/src/lib.rs
  crypto/src/serde_utils.rs
  crypto/src/sighash.rs
  dash/src/crypto/sighash.rs
Due: cargo-fmt, clippy

refactor: move the ECDSA and taproot signatures into `dashcore-crypto`
  crypto/src/ecdsa.rs
  crypto/src/lib.rs
  crypto/src/taproot.rs
  dash/src/crypto/mod.rs
Due: cargo-fmt, clippy

refactor!: move keys and public key hashes into `dashcore-crypto`
  crypto/Cargo.toml
  crypto/src/key.rs
  crypto/src/lib.rs
  dash/src/crypto/key.rs
  dash/src/hash_types.rs
Due: cargo-fmt, clippy

refactor(key-wallet): move the DIP9 derivation paths off BIP32 module
  key-wallet/src/bip32.rs
  key-wallet/src/dip9.rs
Due: cargo-fmt, clippy

refactor(dash)!: drop the redundant hex helpers on PubkeyHash
  dash/src/blockdata/transaction/special_transaction/provider_registration.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_registrar.rs
  dash/src/hash_types.rs
  key-wallet-ffi/src/special_payload.rs
  key-wallet/tests/derivation_tests.rs
Due: cargo-fmt, verify-ffi, clippy

ci: re-pin PR Hygiene (#1055)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#1057)
  .github/workflows/pr-review-policy.yml
Due: none

refactor: backport rust-bitcoin#5680, drop unconstructed Ed25519 error variants, reap base58 module, tidy base64 dep (#1053)
  crypto/Cargo.toml
  crypto/src/ecdsa.rs
  crypto/src/key.rs
  crypto/src/lib.rs
  crypto/src/serde_utils.rs
  crypto/src/sighash.rs
  crypto/src/taproot.rs
  dash/Cargo.toml
  dash/src/address.rs
  dash/src/base58.rs
  dash/src/blockdata/script/owned.rs
  dash/src/blockdata/script/push_bytes.rs
  dash/src/blockdata/transaction/special_transaction/provider_registration.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_registrar.rs
  dash/src/crypto/key.rs
  dash/src/crypto/mod.rs
  dash/src/crypto/sighash.rs
  dash/src/hash_types.rs
  dash/src/lib.rs
  dash/src/serde_utils.rs
  dash/src/sign_message.rs
  dash/src/taproot.rs
  key-wallet-ffi/src/special_payload.rs
  key-wallet/Cargo.toml
  key-wallet/src/bip32.rs
  key-wallet/src/dip9.rs
  key-wallet/tests/derivation_tests.rs
Due: cargo-fmt, verify-ffi, clippy

refactor!: isolate the backend's EDDSA secret key type with a newtype
  crypto/src/eddsa.rs
  crypto/src/lib.rs
  dash/src/lib.rs
  key-wallet/src/account/eddsa_account.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
Due: cargo-fmt, clippy

refactor!: isolate the backend's EDDSA public key type with a newtype
  crypto/Cargo.toml
  crypto/src/eddsa.rs
  crypto/src/lib.rs
  dash/Cargo.toml
  dash/src/lib.rs
  key-wallet/src/account/eddsa_account.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
Due: cargo-fmt, clippy

refactor(dash): reap `platform_node_id`, retain as `EddsaPkHash` alias
  dash/src/hash_types.rs
  dash/src/lib.rs
  dash/src/platform_node_id.rs
Due: cargo-fmt, clippy

refactor!: holster Ed22519 public key hash definition as `EddsaPkHash`
  crypto/Cargo.toml
  crypto/src/eddsa.rs
  dash/src/blockdata/transaction/special_transaction/provider_registration.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_service.rs
  dash/src/platform_node_id.rs
  key-wallet-ffi/src/special_payload.rs
  key-wallet/src/account/eddsa_account.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/tests/special_transaction_matching_tests.rs
  key-wallet/src/tests/special_transaction_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
Due: cargo-fmt, verify-ffi, clippy

feat(crypto)!: switch EDDSA backend to `dash-pkc`
  crypto/Cargo.toml
  crypto/src/eddsa.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

