Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix(spv,sml): harden sync robustness and masternode QRInfo handling
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/pipeline.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
  dash/src/sml/llmq_entry_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/sml/masternode_list_engine/rotated_quorum_construction.rs
  dash/src/sml/quorum_validation_error.rs
Due: cargo-fmt, clippy

fix(key-wallet): reject multi-OP_RETURN drains and memo-on-asset-lock
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

docs(sml): correct InvalidQuorumIndex skip comment on verification exposure
  dash/src/sml/llmq_entry_verification.rs
Due: cargo-fmt, clippy

fix(key-wallet): make the released-coin re-credit share update_utxos' invariants
  key-wallet-manager/src/events.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

test(dash-spv): make the drain-gate test compare against real progress tips
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
Due: cargo-fmt, clippy

pipelines decide when an in-flight request is complete
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/test_utils/network.rs
Due: cargo-fmt, clippy

NetworkEvent::PeersUpdated is sent when PeerEvent::Disconnected happens
  dash-spv/src/network/manager.rs
  dash-spv/tests/dashd_sync/helpers.rs
Due: cargo-fmt, clippy

rolledback boradcast transaction method signature
  dash-spv/src/client/transactions.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/test_utils/network.rs
Due: cargo-fmt, clippy

fix(dash-spv): return filter-header batches a failed dispatch never sent
  dash-spv/src/sync/download_coordinator.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
Due: cargo-fmt, clippy

test(key-wallet): assert wallet-wide utxos and share the funding scaffolding
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

identify peers by connection, not by address
  dash-spv/src/network/manager.rs
  dash-spv/src/network/peer.rs
  dash-spv/tests/network_request_timeout.rs
Due: cargo-fmt, clippy

the mock network manager honours the de-duplication contract
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/test_utils/network.rs
Due: cargo-fmt, clippy

feat(key-wallet-manager): carry the sweep winner's mined height on TransactionsSwept
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): correct born-wrong records when a rescan re-attributes outputs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
Due: cargo-fmt, clippy

fix(dash-spv): durable pending-sweep set — replay interrupted script rescans after restart
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): attribute born-spent funding outputs onto their spenders' records
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/transaction_record.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

feat(key-wallet): AddressPool::ensure_contiguous_to — repair sparse pools by re-derivation
  key-wallet/src/managed_account/address_pool.rs
Due: cargo-fmt, clippy

feat(key-wallet): expose the account's spent-outpoint set for store reconciliation
  key-wallet/src/managed_account/managed_core_funds_account.rs
Due: cargo-fmt, clippy

fix(key-wallet, dash-spv): review round — wallet-scope born-spent attribution, rescan reseed, bounds
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

test(key-wallet-manager): pin the winner's finality context in the event's Display
  key-wallet-manager/src/events.rs
Due: cargo-fmt, clippy

fix(dash-spv): drop rebase artifacts duplicated by #953 landing on dev
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/pipeline.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): recover masternode sync from a rejected QRInfo (#947)
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): add any-language BIP-39 parse (from_phrase_in_any_language)
  key-wallet/src/mnemonic.rs
Due: cargo-fmt, clippy

fix(key-wallet-ffi,key-wallet-manager): stop hardcoding English on mnemonic parse paths
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/mnemonic.rs
  key-wallet-ffi/src/mnemonic_tests.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
Due: cargo-fmt, verify-ffi, clippy

test(key-wallet-manager): cover mainnet and testnet in non-English mnemonic tests
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
Due: cargo-fmt, clippy

fix(key-wallet): accept non-English BIP-39 mnemonics on all parse paths (#980)
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/mnemonic.rs
  key-wallet-ffi/src/mnemonic_tests.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
  key-wallet/src/mnemonic.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet)!: unify mnemonic parsing on one auto-detecting path
  dash-spv/tests/dashd_sync/tests_transaction.rs
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/mnemonic.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/tests/test_valid_addr.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/lib.rs
  key-wallet/examples/account_types.rs
  key-wallet/examples/basic_usage.rs
  key-wallet/src/account/account_collection_test.rs
  key-wallet/src/account/derivation.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/derivation.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/mnemonic_tests.rs
  key-wallet/src/tests/account_tests.rs
  key-wallet/src/tests/address_pool_tests.rs
  key-wallet/src/tests/address_reservation_tests.rs
  key-wallet/src/tests/backup_restore_tests.rs
  key-wallet/src/tests/edge_case_tests.rs
  key-wallet/src/tests/integration_tests.rs
  key-wallet/src/tests/performance_tests.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/tests/scan_script_pubkeys_tests.rs
  key-wallet/src/tests/unit_variant_wallet_tests.rs
  key-wallet/src/tests/wallet_tests.rs
  key-wallet/src/wallet/backup.rs
  key-wallet/src/wallet/mod.rs
  key-wallet/src/wallet_comprehensive_tests.rs
  key-wallet/tests/derivation_tests.rs
  key-wallet/tests/mnemonic_tests.rs
Due: cargo-fmt, verify-ffi, clippy

chore(seeds): refresh mainnet seed list (probe 2026-08-19)
  dash-network-seeds/seeds/mainnet.txt
Due: none

fix(dash-spv): count acceptance signals that arrived before the broadcast
  dash-spv/src/sync/mempool/manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): count a peer relay the wallet found irrelevant
  dash-spv/src/sync/mempool/manager.rs
Due: cargo-fmt, clippy

feat(key-wallet-manager): carry the sweep winner's mined height on TransactionsSwept (#975)
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/events.rs
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): count acceptance signals that arrived before the broadcast (#982)
  dash-spv/src/sync/mempool/manager.rs
Due: cargo-fmt, clippy

refactor(key-wallet)!: unify mnemonic parsing on one auto-detecting path (#981)
  dash-spv/tests/dashd_sync/tests_transaction.rs
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/mnemonic.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/tests/test_valid_addr.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/lib.rs
  key-wallet/examples/account_types.rs
  key-wallet/examples/basic_usage.rs
  key-wallet/src/account/account_collection_test.rs
  key-wallet/src/account/derivation.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/derivation.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/mnemonic_tests.rs
  key-wallet/src/tests/account_tests.rs
  key-wallet/src/tests/address_pool_tests.rs
  key-wallet/src/tests/address_reservation_tests.rs
  key-wallet/src/tests/backup_restore_tests.rs
  key-wallet/src/tests/edge_case_tests.rs
  key-wallet/src/tests/integration_tests.rs
  key-wallet/src/tests/performance_tests.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/tests/scan_script_pubkeys_tests.rs
  key-wallet/src/tests/unit_variant_wallet_tests.rs
  key-wallet/src/tests/wallet_tests.rs
  key-wallet/src/wallet/backup.rs
  key-wallet/src/wallet/mod.rs
  key-wallet/src/wallet_comprehensive_tests.rs
  key-wallet/tests/derivation_tests.rs
  key-wallet/tests/mnemonic_tests.rs
Due: cargo-fmt, verify-ffi, clippy

chore(dash-spv): refresh masternode seed files
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
Due: none

fix(dash-spv): promote finished header segments from the tick, not only on a message (#960)
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
Due: cargo-fmt, clippy

chore(seeds): refresh mainnet seed list (probe 2026-08-19) (#970)
  dash-network-seeds/seeds/mainnet.txt
Due: none

feat(dash-spv-bench): improved bench rate limit + display progress bars fix (#967)
  dash-spv-bench/run.sh
  dash-spv-bench/scenarios/mainnet.100mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.100mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.50mbi.500ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.1000ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.100ms.yml
  dash-spv-bench/scenarios/mainnet.8mbi.500ms.yml
Due: none

fix(dash-spv): extend the CFHeaders queue from the tick, not only on a header event (#964)
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

