Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

refactor: combine received txid/amount into single mutex in test tracker
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
  dash-spv-ffi/tests/dashd_sync/tests_transaction.rs
Due: cargo-fmt, verify-ffi, clippy

fix: correct `net_amount` assertion in FFI callback integration test
  dash-spv-ffi/tests/dashd_sync/tests_callback.rs
Due: cargo-fmt, verify-ffi, clippy

fix: add BlockchainIdentities variants to involved_receive_addresses() match
  key-wallet/src/transaction_checking/account_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet-ffi): extract asset lock builder into key-wallet
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, verify-ffi, clippy

feat: validate transaction label size
  key-wallet/src/managed_account/transaction_record.rs
Due: cargo-fmt, clippy

chore: remove unused mempool code
  dash-spv-ffi/src/types.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/lib.rs
  dash-spv/src/mempool_filter.rs
  dash-spv/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

chore: remove `mempool_state` from `DashSpvClient`
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mempool.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/types.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
Due: cargo-fmt, clippy

chore: remove unused `TransactionStorage` and `persist_mempool` config
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/config.rs
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/transactions.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: use clap derive in CLI
  dash-spv/src/main.rs
Due: cargo-fmt, clippy

chore: remove dead `transaction_effect` from `WalletInterface`
  dash-spv/src/sync/mempool/manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, clippy

fix: apply BIP-69 sorting to asset lock credit outputs in payload
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

.c files to validate headers and script to execute them
  ffi-c-tests/header-tests/dash-spv.c
  ffi-c-tests/header-tests/key-wallet.c
  ffi-c-tests/header-tests/spv_and_key_wallet.c
  ffi-c-tests/test.sh
Due: none

add ffi-c-tests github workflow with the validation headers job
  .github/workflows/build-and-test.yml
  ffi-c-tests/header-tests/dash-spv.c
  ffi-c-tests/header-tests/key-wallet.c
  ffi-c-tests/header-tests/spv_and_key_wallet.c
  ffi-c-tests/validate-headers.sh
Due: none

fix headers generation issues
  dash-spv-ffi/cbindgen.toml
  key-wallet-ffi/cbindgen.toml
Due: verify-ffi

validate_headers.sh works with any include directory provided as an argument
  .github/workflows/build-and-test.yml
  ffi-c-tests/header-tests/dash-spv.c
  ffi-c-tests/header-tests/key-wallet.c
  ffi-c-tests/header-tests/spv_and_key_wallet.c
  ffi-c-tests/validate-headers.sh
Due: none

refactor: move `broadcast`/`disconnect_peer` to `NetworkManager` trait
  dash-spv/src/client/queries.rs
  dash-spv/src/client/transactions.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/test_utils/network.rs
Due: cargo-fmt, clippy

fix: make `broadcast` not return an error on success
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy

feat: include `InstantLock` in `TransactionContext::InstantSend` variant
  dash-spv-ffi/src/callbacks.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_checking.rs
  key-wallet-ffi/src/types.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/transaction_context.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: remove `Clone` derive from `FFITransactionContext` to prevent shallow pointer copies
  key-wallet-ffi/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: rename `mark_instant_send` to `process_instant_send`
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
Due: cargo-fmt, clippy

fix: validate `InstantLock` txid matches transaction in FFI boundary
  key-wallet-ffi/src/transaction_checking.rs
Due: cargo-fmt, verify-ffi, clippy

fix: add `debug_assert` for `InstantLock` txid match in `process_mempool_transaction`
  key-wallet-manager/src/process_block.rs
Due: cargo-fmt, clippy

fix: avoid dangling `islock_data` pointer in FFI callback by saving pointer before move
  dash-spv-ffi/src/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

test: fix is lock passed to `process_mempool_transaction`
  key-wallet-manager/src/event_tests.rs
Due: cargo-fmt, clippy

fix: process broadcast transactions via `dispatch_local`
  dash-spv/src/client/transactions.rs
  dash-spv/src/error.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
Due: cargo-fmt, clippy

feat(key-wallet): add changeset module — WalletChangeSet, Merge trait
  key-wallet/src/changeset/changeset.rs
  key-wallet/src/changeset/merge.rs
  key-wallet/src/changeset/mod.rs
  key-wallet/src/lib.rs
Due: cargo-fmt, clippy

feat(key-wallet): mutation methods return WalletChangeSet
  key-wallet-ffi/src/address_pool.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_platform_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/tests/performance_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix: return UtxoChangeSet from mark_instant_send_utxos for persistence
  key-wallet-manager/src/process_block.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

feat(key-wallet): add apply() to ManagedWalletInfo for changeset application
  key-wallet/src/wallet/balance.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

feat(key-wallet): split mutations into compute + apply pattern
  key-wallet/src/lib.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix: gate `FilterHeadersSyncComplete` on block header sync completion
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
Due: cargo-fmt, clippy

refactor: remove unnecessary `Option` wrapper for `c_label`
  dash-spv-ffi/src/callbacks.rs
Due: cargo-fmt, verify-ffi, clippy

fix: announce tip to new peers when synced
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/block_headers/sync_manager.rs
Due: cargo-fmt, clippy

refactor: inline `MempoolState` into `MempoolManager`
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

fix: drop `max_retries` from `DownloadCoordinator` to prevent sync stall
  dash-spv/src/sync/block_headers/segment_state.rs
  dash-spv/src/sync/blocks/pipeline.rs
  dash-spv/src/sync/download_coordinator.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
  dash-spv/src/sync/filters/pipeline.rs
  dash-spv/src/sync/masternodes/pipeline.rs
Due: cargo-fmt, clippy

fix: clean up `retry_counts` entry on successful `receive`
  dash-spv/src/sync/download_coordinator.rs
Due: cargo-fmt, clippy

refactor: make all `handle_timeouts` fire-and-forget for consistency
  dash-spv/src/sync/blocks/pipeline.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/filters/pipeline.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

chore: cleanup unused dependencies
  dash-spv-ffi/Cargo.toml
  dash-spv/Cargo.toml
  hashes/Cargo.toml
Due: verify-ffi

feat(key-wallet-manager): switch to single-map WalletManager with Arc<RwLock<T>> per wallet
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/mempool/manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/accessors.rs
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/managed_wallet_state.rs
  key-wallet-manager/src/persistence.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_helpers.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
  key-wallet/ACCOUNT_TYPE_REFACTOR.md
  key-wallet/BDK_ARCHITECTURE_COMPARISON.md
  key-wallet/KEY_DERIVATION_ISSUES.md
  key-wallet/PSBT_MIGRATION.md
  key-wallet/REORG_SAFETY.md
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/balance_tests.rs
  key-wallet/src/transaction_checking/transaction_router/tests/asset_unlock.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/transaction_checking/transaction_router/tests/identity_transactions.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: unify logging on tracing
  dash-spv/Cargo.toml
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/network/addrv2.rs
  dash-spv/src/network/discovery.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/pool.rs
  dash-spv/src/network/reputation.rs
  dash-spv/tests/peer_test.rs
  dash/Cargo.toml
  dash/src/network/message.rs
  dash/src/sml/llmq_type/mod.rs
  dash/src/sml/llmq_type/network.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
  rpc-client/Cargo.toml
  rpc-client/examples/connect_to_masternode.rs
  rpc-client/src/client.rs
  rpc-client/src/lib.rs
  rpc-integration-test/Cargo.toml
  rpc-integration-test/src/main.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

