Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

refactor(key-wallet)!: drop BIP38 implementation
  key-wallet/Cargo.toml
  key-wallet/src/bip38.rs
  key-wallet/src/bip38_tests.rs
  key-wallet/src/lib.rs
Due: cargo-fmt, clippy

docs: update changelog
  CHANGELOG.md
Due: none

refactor(key-wallet)!: drop mangled BIP38 implementation (#1111)
  CHANGELOG.md
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/FFI_DOCS_README.md
  key-wallet-ffi/scripts/generate_ffi_docs.py
  key-wallet-ffi/src/bip38.rs
  key-wallet-ffi/src/lib.rs
  key-wallet/BIP38_TESTS.md
  key-wallet/CI_TESTING.md
  key-wallet/CLAUDE.md
  key-wallet/Cargo.toml
  key-wallet/IMPLEMENTATION_SUMMARY.md
  key-wallet/README.md
  key-wallet/src/bip38.rs
  key-wallet/src/bip38_tests.rs
  key-wallet/src/lib.rs
  key-wallet/src/missing_tests.md
  key-wallet/src/wallet/bip38.rs
  key-wallet/src/wallet/mod.rs
  key-wallet/test_bip38.sh
  key-wallet/test_bip38_advanced.sh
Due: cargo-fmt, verify-ffi, clippy

refactor(crypto)!: switch from `hex` to `hex-conservative`
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/bls.rs
Due: cargo-fmt, clippy

refactor(dash): switch from `hex{,_lit}` to `hex-conservative`
  dash/Cargo.toml
  dash/src/address.rs
  dash/src/blockdata/constants.rs
  dash/src/blockdata/script/tests.rs
  dash/src/blockdata/transaction/mod.rs
  dash/src/blockdata/transaction/special_transaction/asset_unlock/qualified_asset_unlock.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_registrar.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_service.rs
  dash/src/blockdata/transaction/special_transaction/quorum_commitment.rs
  dash/src/bloom/filter.rs
  dash/src/ephemerealdata/chain_lock.rs
  dash/src/network/constants.rs
  dash/src/network/message_network.rs
  dash/src/network/message_qrinfo.rs
  dash/src/network/message_sml.rs
  dash/src/sml/masternode_list/apply_diff.rs
  dash/src/sml/masternode_list/debug_helpers.rs
  dash/src/sml/masternode_list_entry/hash.rs
  dash/tests/headers2_compatibility_test.rs
Due: cargo-fmt, clippy

refactor(key-wallet): switch from `hex` to `hex-conservative`
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/keys.rs
  key-wallet-ffi/src/mnemonic_tests.rs
  key-wallet-manager/Cargo.toml
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
  key-wallet/Cargo.toml
  key-wallet/README.md
  key-wallet/examples/basic_usage.rs
  key-wallet/src/account/eddsa_account.rs
  key-wallet/src/bip32.rs
  key-wallet/src/derivation.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
  key-wallet/src/managed_account/platform_address.rs
  key-wallet/src/mnemonic.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/tests/bip32_tests.rs
  key-wallet/tests/derivation_tests.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(rpc-json)!: switch from `hex` to `hex-conservative`
  rpc-client/Cargo.toml
  rpc-client/src/client.rs
  rpc-integration-test/Cargo.toml
  rpc-integration-test/src/main.rs
  rpc-json/Cargo.toml
  rpc-json/src/lib.rs
Due: cargo-fmt, clippy

refactor(dash-spv): switch from `hex` to `hex-conservative`
  Cargo.toml
  dash-spv-ffi/Cargo.toml
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/tests/dashd_sync/tests_basic.rs
  dash-spv/Cargo.toml
  dash-spv/src/chain/chain_work.rs
  dash-spv/src/chain/checkpoints.rs
  dash-spv/src/client/queries.rs
  dash-spv/src/validation/chainlock.rs
  dash-spv/src/validation/instantlock.rs
Due: cargo-fmt, verify-ffi, clippy

feat(dash)!: decode unknown special transaction types as raw payloads
  dash/src/blockdata/transaction/mod.rs
  dash/src/blockdata/transaction/special_transaction/mod.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/classification.rs
Due: cargo-fmt, clippy

fix(key-wallet): record the spender of a claim-guarded coin as a spend
  key-wallet/CLAUDE.md
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): replay a spend seen in a block before its claimed funding
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
Due: cargo-fmt, clippy

fix(key-wallet): never pick a removed transaction as a surviving spender
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy

test(key-wallet): pin InstantSend settlement, permanent claims and three accounts
  key-wallet/src/tests/spent_outpoints_tests.rs
Due: cargo-fmt, clippy

feat(dash)!: decode and encode CbTx v4 `merkleRootAssetUnlocks`
  dash/src/blockdata/transaction/special_transaction/coinbase.rs
  dash/src/hash_types.rs
  key-wallet-ffi/src/special_payload.rs
  key-wallet/src/transaction_checking/transaction_router/tests/classification.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, verify-ffi, clippy

docs(changelog): fold the spent-output claim entries into one
  CHANGELOG.md
Due: none

docs: bring released_outpoints, is_empty and restore docs in line with claims
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/events.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, verify-ffi, clippy

test(key-wallet): name the record summary type and the spend inputs
  key-wallet/src/tests/spent_outpoints_tests.rs
Due: cargo-fmt, clippy

docs(dash-network-seeds): say the Platform TLS probe doesn't verify the chain
  dash-network-seeds/src/lib.rs
  masternode-seeds-fetcher/src/probe.rs
Due: cargo-fmt, clippy

fix(dash): reject headers messages above Core's batch limit
  dash/Cargo.toml
  dash/src/network/message.rs
  dash/src/network/message_headers2.rs
Due: cargo-fmt, clippy

fix(rpc-client): reject https URLs, the transport is plaintext HTTP
  rpc-client/Cargo.toml
  rpc-client/src/client.rs
Due: cargo-fmt, clippy

feat(dash)!: decode and encode CbTx v4 `merkleRootAssetUnlocks` (#1137)
  dash/src/blockdata/transaction/special_transaction/coinbase.rs
  dash/src/hash_types.rs
  key-wallet-ffi/src/special_payload.rs
  key-wallet/src/transaction_checking/transaction_router/tests/classification.rs
  key-wallet/src/transaction_checking/transaction_router/tests/coinbase.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash): reject headers messages above Core's batch limit (#1140)
  dash/Cargo.toml
  dash/src/network/message.rs
  dash/src/network/message_headers2.rs
Due: cargo-fmt, clippy

fix(rpc-client): reject https URLs, the transport is plaintext HTTP (#1141)
  rpc-client/Cargo.toml
  rpc-client/src/client.rs
Due: cargo-fmt, clippy

refactor(crypto)!: use `hex-conservative` directly
  crypto/src/ecdsa.rs
  crypto/src/key.rs
Due: cargo-fmt, clippy

refactor(dash)!: use `hex-conservative` directly
  dash/benches/transaction.rs
  dash/src/bip152.rs
  dash/src/blockdata/block.rs
  dash/src/blockdata/script/mod.rs
  dash/src/blockdata/script/owned.rs
  dash/src/blockdata/transaction/mod.rs
  dash/src/blockdata/transaction/special_transaction/asset_unlock/qualified_asset_unlock.rs
  dash/src/blockdata/transaction/special_transaction/provider_registration.rs
  dash/src/blockdata/transaction/txin.rs
  dash/src/blockdata/witness.rs
  dash/src/consensus/encode.rs
  dash/src/consensus/serde.rs
  dash/src/crypto/sighash.rs
  dash/src/hash_types.rs
  dash/src/internal_macros.rs
  dash/src/lib.rs
  dash/src/merkle_tree/block.rs
  dash/src/network/address.rs
  dash/src/network/message_headers2.rs
  dash/src/pow.rs
  dash/src/serde_utils.rs
  dash/src/taproot.rs
Due: cargo-fmt, clippy

refactor(key-wallet)!: use `hex-conservative` directly
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/special_payload.rs
  key-wallet-manager/Cargo.toml
  key-wallet/README.md
  key-wallet/src/bip32.rs
  key-wallet/src/seed.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(rpc-client)!: use `hex-conservative` directly
  rpc-client/Cargo.toml
  rpc-client/src/client.rs
  rpc-client/src/error.rs
  rpc-client/src/queryable.rs
  rpc-integration-test/src/main.rs
Due: cargo-fmt, clippy

refactor(hashes)!: use `hex-conservative` directly
  dash/src/blockdata/transaction/outpoint.rs
  hashes/Cargo.toml
  hashes/src/hash_x11.rs
  hashes/src/lib.rs
  hashes/src/util.rs
Due: cargo-fmt, clippy

refactor(dash): drop hand-rolled hex decoding
  dash/src/blockdata/script/mod.rs
  dash/src/blockdata/transaction/special_transaction/coinbase.rs
  dash/src/blockdata/transaction/special_transaction/mnhf_signal.rs
Due: cargo-fmt, clippy

refactor(dash-spv): drop hand-rolled hex encoding
  dash-spv-ffi/src/bin/ffi_cli.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(dash)!: drop the unused byte-map and `hex_bytes` serde helpers
  dash/src/serde_utils.rs
Due: cargo-fmt, clippy

refactor(key-wallet): drop hand-rolled hex {en,de}coding
  key-wallet-manager/src/error.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/bip32.rs
  key-wallet/src/lib.rs
  key-wallet/src/seed.rs
  key-wallet/src/utils.rs
  key-wallet/src/wallet/mod.rs
Due: cargo-fmt, clippy

fix(key-wallet): reject odd-length 256-bit child numbers
  key-wallet/src/bip32.rs
Due: cargo-fmt, clippy

build: ban `hex{,_lit,-literal}` with `cargo deny`
  deny.toml
Due: none

refactor(internals)!: drop the hex module
  internals/src/hex/buf_encoder.rs
  internals/src/hex/display.rs
  internals/src/hex/mod.rs
  internals/src/lib.rs
Due: cargo-fmt, clippy

fix(key-wallet): sweep a conflict loser's keys-only records too
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/sweep_keys_only_records_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
Due: cargo-fmt, clippy
