Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

refactor(key-wallet-ffi): drop the secp256k1 context
  dash-spv/tests/dashd_sync/tests_transaction.rs
  key-wallet-ffi/src/derivation.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/tx_decode.rs
  key-wallet-ffi/tests/test_valid_addr.rs
Due: cargo-fmt, verify-ffi, clippy

ci: re-pin PR Hygiene for the checklist in the description
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for the checklist in the description (#1043)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so a bot line says everything about that bot
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so a bot line says everything about that bot (#1044)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to ask a flaky read once more
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to ask a flaky read once more (#1045)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for one name for the author limit
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for one name for the author limit (#1046)
  .github/workflows/pr-review-policy.yml
Due: none

test(key-wallet): pin scalar reduction paths, refusal of zero scalars and public keys off the curve (#1038)
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

fix(key-wallet): construct `root_private_key` with `from_secret_bytes`
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

fix(key-wallet): keep a mined transaction promotable when its IS lock arrives late
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(key-wallet): prune observed spends during the initial sync
  dash-spv/src/client/event_handler.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

refactor(dash-spv): drop the committed-height segment release
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

test(dash-spv): masternode storage unit tests
  dash-spv/src/storage/masternode.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/test_utils/header_storage.rs
  dash-spv/src/test_utils/mod.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/sml.rs
Due: cargo-fmt, clippy

perf(dash-spv): size storage segments per item type
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

fix(dash-spv): coderabbit comments addressed
  dash-spv/src/storage/masternode.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/src/sml/masternode_list_engine/helpers.rs
Due: cargo-fmt, clippy

feat(dash-spv-bench): opt-in in-process CPU and heap profiling, client always in docker
  dash-spv-bench/.gitignore
  dash-spv-bench/Cargo.toml
  dash-spv-bench/run.sh
  dash-spv-bench/src/main.rs
  dash-spv-bench/src/profile.rs
Due: cargo-fmt, clippy

test(dash-spv): assert the restart test's storage, not just its progress
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, clippy

perf(dash-spv): persist a dirty segment when it is evicted
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

perf(dash-spv): keep at most two segments resident per storage cache
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

perf(dash-spv): stream segments to disk instead of encoding them into one buffer
  dash-spv/src/storage/io.rs
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

feat(dash-spv): trace segment cache hits and misses
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

refactor(dash-spv): persist the masternode messages, not a snapshot of the engine
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/types.rs
  dash-spv/src/sync/chainlock/manager.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash/src/ephemerealdata/chain_lock.rs
  dash/src/sml/llmq_type/mod.rs
  dash/src/sml/masternode_list_engine/helpers.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/mod.rs
  dash/src/sml/masternode_list_engine/non_rotated_quorum_construction.rs
Due: cargo-fmt, clippy

refactor(dash-spv): keep Persistable inside the storage module
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

fix(key-wallet): construct `root_private_key` with `from_secret_bytes` (#1048)
  key-wallet/src/derivation_bls_bip32.rs
Due: cargo-fmt, clippy

refactor(dash)!: drop the pre-1.48 fallbacks voided by MSRV 1.89
  dash/Cargo.toml
  dash/src/bls_sig_utils.rs
Due: cargo-fmt, clippy

refactor(dash): condense BLS type conversion w/ `dash_types::type_cvrt!`
  dash/src/bls_sig_utils.rs
Due: cargo-fmt, clippy

refactor(dash)!: generate BLS types with `dash_types::make_bytes!`
  dash/Cargo.toml
  dash/src/bls_sig_utils.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
Due: cargo-fmt, clippy

refactor(dash): split out BLS-specific errors to `BlsError` enum
  dash/src/bls_sig_utils.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_validation_error.rs
Due: cargo-fmt, clippy

feat: introduce the `dashcore-crypto` crate, migrate BLS crypto
  .github/ci-groups.yml
  Cargo.toml
  crypto/Cargo.toml
  crypto/src/bls.rs
  crypto/src/lib.rs
  dash/Cargo.toml
  dash/src/bls_sig_utils.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene
  .github/workflows/pr-review-policy.yml
Due: none

feat(key-wallet): DIP-13 application session authentication and encryption paths
  key-wallet/src/bip32.rs
  key-wallet/src/dip9.rs
Due: cargo-fmt, clippy

refactor!: isolate the backend's BLS secret key type with a newtype
  crypto/src/bls.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_validation_error.rs
  key-wallet-ffi/src/account_derivation.rs
  key-wallet/src/account/bls_account.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/wallet/root_extended_keys.rs
Due: cargo-fmt, verify-ffi, clippy

refactor!: isolate the backend's BLS public key type with a newtype
  crypto/src/bls.rs
  dash/src/bls_sig_utils.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_validation_error.rs
  key-wallet/src/account/bls_account.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/tests/special_transaction_matching_tests.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
Due: cargo-fmt, clippy

refactor(key-wallet)!: restrict `private_key`, propagate BLS errors
  key-wallet/src/account/bls_account.rs
  key-wallet/src/account/serialization.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/tests/provider_key_derivation_tests.rs
  key-wallet/src/wallet/root_extended_keys.rs
Due: cargo-fmt, clippy

refactor: move BLS compatibility tests to `dashcore-crypto`
  crypto/Cargo.toml
  crypto/src/bls.rs
  dash/Cargo.toml
  dash/src/sml/quorum_entry/validation.rs
Due: cargo-fmt, clippy

refactor!: isolate the backend's BLS signature type with a newtype
  crypto/Cargo.toml
  crypto/src/bls.rs
  dash/Cargo.toml
  dash/src/base58.rs
  dash/src/bls_sig_utils.rs
  dash/src/crypto/key.rs
  dash/src/lib.rs
  dash/src/sml/masternode_list_engine/message_request_verification.rs
  dash/src/sml/masternode_list_engine/validation.rs
  dash/src/sml/message_verification_error.rs
  dash/src/sml/quorum_entry/validation.rs
  dash/src/sml/quorum_entry/verify_message.rs
  dash/src/sml/quorum_validation_error.rs
Due: cargo-fmt, clippy

test(crypto): deduplicate BLS test vectors
  crypto/Cargo.toml
  crypto/src/bls.rs
Due: cargo-fmt, clippy
