Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

fix(dash-spv): keep routing and rewards off the reputation write lock
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation.rs
Due: cargo-fmt, clippy

fix(dash-spv): stop reporting a lost race for a peer slot as an error
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy

test(dash-spv): cover peer scoring, biased routing, and guarded eviction
  dash-spv/src/network/manager.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

fix(dash-spv): evict the worst stalling peer so sync stops staying stuck
  dash-spv/src/network/manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): time each request kind separately so slow peers cannot hide
  dash-spv/src/network/manager.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

fix(dash-spv): route on measured latency so one peer cannot take the pool
  dash-spv/src/network/latency.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

fix(dash-spv): tighten stall detection to 10s for small sync responses
  dash-spv/src/network/manager.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

feat(key-wallet): pool BIP44 + BIP32 + DashPay receiving funds on the asset-lock path
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): recover masternode sync from a rejected QRInfo
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/pipeline.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): hold back catch-up receives from coin selection
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/spend_scan_frontier_tests.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
Due: cargo-fmt, clippy

fix(dash-spv): using WalletAccountCreationOptions::default() in the benchmark framework
  dash-spv-bench/src/main.rs
Due: cargo-fmt, clippy

chore(dash-spv): refresh masternode seed files
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
Due: none

fix(dash-spv): using WalletAccountCreationOptions::default() in the benchmark framework (#938)
  dash-spv-bench/src/main.rs
Due: cargo-fmt, clippy

fix: appease clippy and rustdoc in the spend-scan frontier change
  key-wallet/src/tests/spend_scan_frontier_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

test: build the spend-scan frontier wallets from a fixed seed
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/tests/spend_scan_frontier_tests.rs
Due: cargo-fmt, clippy

feat(dash-spv): send GetHeaders2 when possible
  dash-spv/src/network/peer.rs
Due: cargo-fmt, clippy

test(dash-spv): cover requeue on single-peer disconnect
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/download_coordinator.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
  dash-spv/src/sync/masternodes/pipeline.rs
  dash-spv/src/sync/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): requeue in-flight downloads when a single peer disconnects
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/filter_headers/pipeline.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/sync/masternodes/pipeline.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/sync/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): record the processed QRInfo tip only after the last fallible step
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

docs(dash-spv): de-link a pub(super) item rustdoc cannot resolve
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): stop routing a request to a peer that already owes that response
  dash-spv/src/network/manager.rs
  dash-spv/src/network/tests.rs
Due: cargo-fmt, clippy

fix(dash-spv): cut the block download timeout to 15s
  dash-spv/src/sync/blocks/pipeline.rs
Due: cargo-fmt, clippy

test(dash-spv): test lookahead behaviour instead of restating its constant
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

feat(key-wallet): fund an asset lock from a caller-chosen list of accounts
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet): drop the private intra-doc link from build_asset_lock
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, clippy

docs(key-wallet-ffi): flag CoinJoin as unusable on the non-drain asset lock
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet-manager): enable key-wallet/getrandom for mnemonic generation
  key-wallet-manager/Cargo.toml
  key-wallet/src/mnemonic.rs
Due: cargo-fmt, clippy

refactor(key-wallet): share the asset-lock funding and reservation prologue
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet): correct overclaimed scope on the entropy regression test
  key-wallet/src/mnemonic.rs
Due: cargo-fmt, clippy

test(key-wallet-ffi): cover the caller-supplied asset-lock funding sources
  key-wallet-ffi/tests/test_asset_lock_funding_sources.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet-ffi): regenerate FFI_API.md for the discriminant safety note
  key-wallet-ffi/FFI_API.md
Due: none

test(key-wallet-ffi): free the wallet handle the asset-lock test borrows
  key-wallet-ffi/tests/test_asset_lock_funding_sources.rs
Due: cargo-fmt, verify-ffi, clippy

test(key-wallet): report the ones-count in the stuck-bit assertion message
  key-wallet/src/mnemonic.rs
Due: cargo-fmt, clippy

test(key-wallet-ffi): run the asset-lock source cases on both networks
  key-wallet-ffi/tests/test_asset_lock_funding_sources.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet): fund an asset lock from a caller-chosen list of accounts (#944)
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/tests/test_asset_lock_funding_sources.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, verify-ffi, clippy

perf(dash-spv): prune spent single-use CoinJoin addresses from the filter scan query
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/scan_script_pubkeys_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

test(key-wallet-manager): benchmark filter matching for mixing-heavy CoinJoin wallets
  key-wallet-manager/Cargo.toml
  key-wallet-manager/benches/filter_scan.rs
Due: cargo-fmt, clippy

test(key-wallet-manager): generate the benchmark wallet from a random mnemonic
  key-wallet-manager/benches/filter_scan.rs
Due: cargo-fmt, clippy

perf(dash-spv): cache the filter-scan query keyed by wallet monitor revision
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/benches/filter_scan.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/matching.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
Due: cargo-fmt, clippy

test(key-wallet-manager): benchmark per-batch cost with and without the cached scan query
  key-wallet-manager/benches/filter_scan.rs
Due: cargo-fmt, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

