Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

chore(ci): run PR Hygiene's engine from master
  .github/workflows/pr-review-policy.yml
Due: none

chore(ci): run PR Hygiene's engine from master (#1099)
  .github/workflows/pr-review-policy.yml
Due: none

revert(rpc-json): keep the flat platform port fields deprecated
  rpc-json/src/lib.rs
Due: cargo-fmt, clippy

feat(key-wallet): let a build exclude outpoints from coin selection
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(key-wallet): recover CoinJoin outputs returned past the gap limit
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): probe 10,000 CoinJoin addresses deep, derived once per chain
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
Due: cargo-fmt, clippy

fix(key-wallet): adapt CoinJoin recovery to dev's key-source API
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
Due: cargo-fmt, clippy

fix(key-wallet): name the first excluded seeded input, and test the release path
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

feat(key-wallet): expose the builder's outputs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(key-wallet): keep the CoinJoin probe cache per wallet
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

fix(key-wallet): bound the CoinJoin probe cache and report partial extensions
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
Due: cargo-fmt, clippy

refactor(key-wallet): probe CoinJoin chains from the branch key, leave the gap to the check
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
Due: cargo-fmt, clippy

fix(key-wallet): track seeded outpoints in order, not index ranges
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(key-wallet): probe past the CoinJoin gap for any denomination we may own
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
Due: cargo-fmt, clippy

fix(key-wallet): probe CoinJoin collaterals and mixes seen before their funding
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
Due: cargo-fmt, clippy

feat(key-wallet): expose the builder's fee rate, strategy and payload presence
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(key-wallet): credit CoinJoin coins recovered in finalized transactions
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): drop the finalized-transaction credit, tighten the recovery trigger
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

perf(key-wallet): key the CoinJoin probe cache by P2PKH key hash
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
Due: cargo-fmt, clippy

fix(wallet): derive late attribution and avoid duplicate replay
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/README.md
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

test(dash-spv): sync on every run of a restarted client
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
Due: cargo-fmt, clippy

fix(dash-spv): let a stopped client start again
  dash-spv-bench/src/main.rs
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/client.rs
  dash-spv/benches/storage.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/sync_coordinator.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash-spv/tests/header_dispatch_order.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): stop the storage when the client fails to start
  dash-spv/src/client/lifecycle.rs
Due: cargo-fmt, clippy

fix(dash-spv): let a stopped client start again (#1097)
  dash-spv-bench/src/main.rs
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/client.rs
  dash-spv/benches/storage.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/sync/sync_coordinator.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash-spv/tests/dashd_sync/helpers.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
  dash-spv/tests/header_dispatch_order.rs
Due: cargo-fmt, verify-ffi, clippy

test: 32008 targeted recovery (fix branch f125f1f3) backported onto e4208c90 for the 9.1.1 in-app check — not for merge
  key-wallet/src/transaction_checking/coinjoin_recovery.rs
  key-wallet/src/transaction_checking/mod.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy

fix(dash-spv): stop a client that is still starting
  dash-spv-bench/src/main.rs
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): stop only a sync loop that failed
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
Due: cargo-fmt, clippy

fix(dash-spv): stop a client that is still starting (#1101)
  dash-spv-bench/src/main.rs
  dash-spv-ffi/FFI_API.md
  dash-spv-ffi/src/bin/ffi_cli.rs
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/unit/test_client_lifecycle.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/wallet_integration_test.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): follow the network onto a branch that replaces stored blocks
  dash-spv-ffi/src/callbacks.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/tests_fork.rs
Due: cargo-fmt, verify-ffi, clippy

feat(wallet): drop what the wallet recorded above a fork
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/storage/block_headers.rs
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filter_headers.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/segments.rs
  dash-spv/tests/dashd_sync/tests_fork.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

refactor(dash-spv): stopping the client cannot fail
  dash-spv-bench/src/main.rs
  dash-spv-ffi/src/client.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/header_dispatch_order.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): follow the network onto a branch that replaces stored blocks (#1102)
  dash-spv-bench/src/main.rs
  dash-spv-ffi/src/callbacks.rs
  dash-spv-ffi/src/client.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/core.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/sync_coordinator.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/sync/block_headers/manager.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_fork.rs
  dash-spv/tests/header_dispatch_order.rs
  dash-spv/tests/peer_test.rs
Due: cargo-fmt, verify-ffi, clippy

feat(rpc-json)!: parse Core v24 masternode lists (#1093)
  rpc-json/src/lib.rs
Due: cargo-fmt, clippy

refactor(wallet): limit late input corrections to existing records
  dash-spv-ffi/src/callbacks.rs
  key-wallet-manager/src/events.rs
  key-wallet/README.md
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

test(wallet): verify late funding corrections after block replay
  key-wallet-manager/src/event_tests.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

test(wallet): move InstantSend backfill coverage to follow-up
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(wallet): correct late inputs during InstantSend backfill
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

chore(dash-spv): refresh masternode seed files
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
Due: none

test(wallet): consolidate late funding regression coverage
  key-wallet-manager/src/event_tests.rs
  key-wallet-manager/src/process_block.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

fix(key-wallet): restore durable spent claims after replay
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
Due: cargo-fmt, clippy
