Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

refactor: encode and hash with existing modules
  dash/src/signer.rs
  key-wallet/src/bip32.rs
Due: cargo-fmt, clippy

refactor(dash)!: replace `CompactSignature` with `MessageSignature`
  dash/src/sign_message.rs
  dash/src/signer.rs
Due: cargo-fmt, clippy

refactor!: build P2PKH scripts and scriptSigs with `dashcore` helpers
  key-wallet-ffi/src/transaction.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, verify-ffi, clippy

docs: update changelog
  CHANGELOG.md
Due: none

refactor(key-wallet): drop the sender key length check in `tx_decode`
  key-wallet-ffi/src/tx_decode.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): refuse sighash types wider than a byte when signing
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/transaction.rs
Due: cargo-fmt, verify-ffi, clippy

fix!: reject WIF keys without `0x01` flag, reject sighash types >`0xff`, maintain symmetry in {sign,recover} compact signatures, drop unused divergent segments (#1144)
  CHANGELOG.md
  crypto/src/key.rs
  dash/src/blockdata/script/builder.rs
  dash/src/blockdata/witness.rs
  dash/src/crypto/key.rs
  dash/src/sign_message.rs
  dash/src/signer.rs
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/account_derivation.rs
  key-wallet-ffi/src/keys.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/tx_decode.rs
  key-wallet/src/account/mod.rs
  key-wallet/src/bip32.rs
  key-wallet/src/wallet/helper.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/root_extended_keys.rs
  key-wallet/tests/address_tests.rs
  rpc-client/src/error.rs
  rpc-integration-test/src/main.rs
  rpc-json/src/lib.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): fetch the work-block lists a tip update's quorums need
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, clippy

fix(dash)!: adopt `dash_num::Arith256` around `U256` implementation, align closer to reference implementation (#1142)
  CHANGELOG.md
  Cargo.toml
  dash/Cargo.toml
  dash/src/pow.rs
Due: cargo-fmt, clippy

feat(dash)!: decode unknown special transaction types as raw payloads (#1136)
  dash/src/blockdata/transaction/mod.rs
  dash/src/blockdata/transaction/special_transaction/mod.rs
  dash/src/test_utils/mod.rs
  dash/src/test_utils/transaction.rs
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/classification.rs
Due: cargo-fmt, clippy

fix(rpc-client): keep request arguments and results out of the logs (#1147)
  rpc-client/src/client.rs
Due: cargo-fmt, clippy

fix(rpc-client): send the ChainLock block hash in display order to `submitchainlock` (#1148)
  rpc-client/src/client.rs
Due: cargo-fmt, clippy

fix(dash-spv): ask only for the work-block lists of quorums a tip update adds
  dash-spv/src/sml_engine.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, clippy

test(dash-spv): cover a rejected tip update and the re-check of a new quorum
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
Due: cargo-fmt, clippy

fix(dash-spv): cap the work-block lists a tip update asks for
  dash-spv/src/sml_engine.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy
