Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

fix(dash): make `feed_qr_info` resilient to missing rotation CL sigs
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

docs(dash): correct `fully_verified_count` doc on `verify_rotated_quorums == false` path
  dash/src/sml/masternode_list_engine/mod.rs
Due: cargo-fmt, clippy

ffi docs
  dash-spv-ffi/FFI_API.md
Due: none

remove unused error variants
  dash-spv-ffi/src/error.rs
  dash-spv-ffi/tests/test_error.rs
  dash-spv-ffi/tests/unit/test_error_handling.rs
  dash-spv/src/error.rs
  dash-spv/src/main.rs
  dash-spv/tests/error_types_test.rs
Due: cargo-fmt, verify-ffi, clippy

chore(dash-spv): forbid `std::sync::Mutex` / `RwLock` via clippy
  dash-spv/clippy.toml
  dash-spv/src/lib.rs
Due: cargo-fmt, clippy

feat(key-wallet): add `build_and_sign_transaction_with_signer`
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, clippy

fix: resolve CI failures in `cargo-nextest` migration
  .config/nextest.toml
  .github/scripts/ci_config.py
  .github/workflows/build-and-test.yml
Due: none

ci: integrate Codecov test analytics via `cargo-nextest`
  .config/nextest.toml
  .github/scripts/ci_config.py
  .github/workflows/build-and-test.yml
Due: none

ci: bump `actions/cache` to v5 and `codecov/codecov-action` to v6
  .github/workflows/build-and-test.yml
Due: none

fix(dash-spv-ffi): enable `keep-finalized-transactions` for tests
  dash-spv-ffi/Cargo.toml
Due: verify-ffi

feat(key-wallet): add `keep-finalized-transactions` feature
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_account.rs
  key-wallet-manager/Cargo.toml
  key-wallet/Cargo.toml
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/tests/keep_finalized_transactions_tests.rs
  key-wallet/src/tests/mod.rs
  key-wallet/src/transaction_checking/transaction_context.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): align finalization with chainlock-only semantics
  key-wallet/src/managed_account/managed_account_trait.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/tests/keep_finalized_transactions_tests.rs
  key-wallet/src/transaction_checking/transaction_context.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

docs(key-wallet): fix stale `transaction_is_finalized_in_block` mention
  key-wallet/Cargo.toml
Due: none

fix(dash-spv): guard `Synced` mn-pipeline restarts on pending requests
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

feat(dash-spv): drive masternode sync via `PipelineMode` state machine
  dash-spv-ffi/src/callbacks.rs
  dash-spv/src/sync/events.rs
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/progress.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): cap QRInfo in-flight attempts at `MAX_RETRY_ATTEMPTS`
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): gate QRInfo against the active in-flight request tip
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

refactor(key-wallet): wire ManagedCoreKeysAccount into the collection
  dash-spv/tests/dashd_sync/helpers.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/managed_account/managed_account_ref.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/managed_account/mod.rs
  key-wallet/src/transaction_checking/account_checker.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/helpers.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet-ffi): rustdoc + regenerate FFI_API.md
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/managed_account.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet-ffi): include all account variants in managed_wallet_get_account_count
  key-wallet-ffi/src/managed_account.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): add `all_funding_accounts(_mut)` and drop in-loop `as_funds()` filters
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

refactor(key-wallet): rename insert_{funds,keys} -> insert_{funds,keys}_bearing_account
  key-wallet/src/managed_account/managed_account_collection.rs
Due: cargo-fmt, clippy

refactor(key-wallet): simplify keys-account `record_transaction` to its real semantics
  key-wallet/src/managed_account/managed_core_keys_account.rs
Due: cargo-fmt, clippy

refactor(key-wallet): make keys-account `record_transaction` a thin marker
  key-wallet/src/managed_account/managed_core_keys_account.rs
Due: cargo-fmt, clippy

test(key-wallet): cover special-tx → keys-account matching paths end-to-end
  key-wallet/src/tests/mod.rs
  key-wallet/src/tests/special_transaction_matching_tests.rs
  key-wallet/src/wallet/managed_wallet_info/managed_accounts.rs
Due: cargo-fmt, clippy

refactor(key-wallet): keep `from_account_collection` field-direct insertions
  key-wallet/src/managed_account/managed_account_collection.rs
Due: cargo-fmt, clippy

fix(dash-spv): fire catch-up QRInfo past `Incremental` mining window
  dash-spv/src/sync/masternodes/manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
Due: cargo-fmt, clippy

refactor(dash-spv): make logging a built-in event handler
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/main.rs
Due: cargo-fmt, clippy

fix(dash-spv): preserve in-progress sync state on peer disconnect
  dash-spv/src/sync/block_headers/sync_manager.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/blocks/pipeline.rs
  dash-spv/src/sync/blocks/sync_manager.rs
  dash-spv/src/sync/chainlock/sync_manager.rs
  dash-spv/src/sync/download_coordinator.rs
  dash-spv/src/sync/filter_headers/manager.rs
  dash-spv/src/sync/filter_headers/sync_manager.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/pipeline.rs
  dash-spv/src/sync/filters/sync_manager.rs
  dash-spv/src/sync/instantsend/sync_manager.rs
  dash-spv/src/sync/masternodes/sync_manager.rs
  dash-spv/src/sync/mempool/sync_manager.rs
  dash-spv/src/sync/sync_manager.rs
Due: cargo-fmt, clippy

refactor TransactionBuilder to centralize as much logic as possible
  dash/src/blockdata/transaction/special_transaction/asset_lock.rs
  dash/src/blockdata/transaction/special_transaction/coinbase.rs
  dash/src/blockdata/transaction/special_transaction/provider_registration.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_registrar.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_revocation.rs
  dash/src/blockdata/transaction/special_transaction/provider_update_service.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-manager/src/lib.rs
  key-wallet/src/wallet/managed_wallet_info/asset_lock_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/transaction_building.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet-ffi): regenerate FFI_API.md after passphrase removal
  key-wallet-ffi/FFI_API.md
Due: none

refactor: address review comments after passphrase removal
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/tests/debug_wallet_add.rs
  key-wallet/src/wallet/helper.rs
Due: cargo-fmt, verify-ffi, clippy

test(dash-spv): cover spending mempool change and unconfirmed incoming UTXOs
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/tests_transaction_builder.rs
Due: cargo-fmt, clippy

fix(key-wallet): defer CoinSelector candidate filter to Utxo::is_spendable
  dash-spv/tests/dashd_sync/tests_transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
Due: cargo-fmt, clippy

test(dash-spv): fail fast when `protx update_service` fails during bootstrap
  dash-spv/src/test_utils/masternode_network.rs
Due: cargo-fmt, clippy

fix(dash-spv): check current state before awaiting in `wait_for_masternode_sync`
  dash-spv/tests/dashd_masternode/helpers.rs
Due: cargo-fmt, clippy

test(dash-spv): add masternode integration tests
  .github/workflows/build-and-test.yml
  contrib/setup-dashd.py
  dash-spv/src/test_utils/event_handler.rs
  dash-spv/src/test_utils/masternode_network.rs
  dash-spv/src/test_utils/mod.rs
  dash-spv/src/test_utils/network.rs
  dash-spv/src/test_utils/node.rs
  dash-spv/src/test_utils/wallet.rs
  dash-spv/tests/dashd_masternode/helpers.rs
  dash-spv/tests/dashd_masternode/main.rs
  dash-spv/tests/dashd_masternode/setup.rs
  dash-spv/tests/dashd_masternode/tests_instantsend.rs
  dash-spv/tests/dashd_masternode/tests_sync.rs
  dash-spv/tests/dashd_sync/setup.rs
  dash-spv/tests/dashd_sync/tests_basic.rs
  dash-spv/tests/dashd_sync/tests_mempool.rs
  dash-spv/tests/dashd_sync/tests_multi_wallet.rs
  dash-spv/tests/dashd_sync/tests_restart.rs
Due: cargo-fmt, clippy

fix(dash-spv): cancel pending entry when late `cfilter` completes a requeued batch
  dash-spv/src/sync/download_coordinator.rs
  dash-spv/src/sync/filters/pipeline.rs
Due: cargo-fmt, clippy

chore(dash-spv): integrations tests cleanup
  dash-spv/tests/dashd_sync/main.rs
  dash-spv/tests/dashd_sync/tests_transaction.rs
  dash-spv/tests/dashd_sync/tests_transaction_builder.rs
  key-wallet/src/wallet/managed_wallet_info/coin_selection.rs
Due: cargo-fmt, clippy
