Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

verify-ffi:
  name: verify FFI
  description: Verify FFI headers and documentation are up to date
  entry: contrib/verify_ffi.py
  language: python
  pass_filenames: false
  stages:
  - pre-push
  - manual

clippy:
  name: clippy (workspace strict)
  description: Strict clippy on entire workspace - deny all warnings
  entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push
  - manual

peer reputation module cleanup (#328)
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
  dash-spv/src/storage/peers.rs
Due: cargo-fmt, clippy

feat(dash-spv): anchor sync at wallet birth height checkpoint (#848)
  dash-spv/src/chain/checkpoints.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/types.rs
Due: cargo-fmt, clippy

fix(key-wallet): actionable error when add_account(_, None) hits a keyless wallet (#847)
  key-wallet-ffi/src/error.rs
  key-wallet/src/error.rs
  key-wallet/src/tests/unit_variant_wallet_tests.rs
  key-wallet/src/wallet/accounts.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet): reserve receive addresses on hand-out
  key-wallet-ffi/src/address_pool.rs
  key-wallet-manager/src/events.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/address_pool_tests.rs
  key-wallet/src/tests/address_reservation_tests.rs
  key-wallet/src/tests/mod.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): spawn reservation sweep only after `start` succeeds
  dash-spv/src/client/sync_coordinator.rs
Due: cargo-fmt, clippy

feat(dash-spv): periodically sweep expired receive-address reservations
  dash-spv/src/client/config.rs
  dash-spv/src/client/event_handler.rs
  dash-spv/src/client/sync_coordinator.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/tests/address_reservation_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(key-wallet): return `InvalidState` instead of panicking on pool invariant miss
  key-wallet-ffi/src/error.rs
  key-wallet/src/error.rs
  key-wallet/src/managed_account/address_pool.rs
Due: cargo-fmt, verify-ffi, clippy

refactor(key-wallet): drop unused address first-used and generated timestamps
  key-wallet-ffi/src/address_pool.rs
  key-wallet-manager/src/events.rs
  key-wallet/src/managed_account/address_pool.rs
Due: cargo-fmt, verify-ffi, clippy

fix(dash-spv): reject `reservation_sweep_ttl_secs` of `Some(0)` in `validate`
  dash-spv/src/client/config.rs
  dash-spv/src/client/config_test.rs
Due: cargo-fmt, clippy

chore(dash-spv): add recent mainnet/testnet checkpoints
  dash-spv/src/chain/checkpoints.rs
Due: cargo-fmt, clippy

chore(dash-spv): add recent mainnet/testnet checkpoints (#857)
  dash-spv/src/chain/checkpoints.rs
Due: cargo-fmt, clippy

fix(key-wallet): zeroize ExtendedBLSPrivKey and ExtendedEd25519PrivKey on drop
  key-wallet/src/bip32.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
Due: cargo-fmt, clippy

fix(dash-spv): derive storage lockfile path from full directory name
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

fix(dash-spv): derive storage lockfile path from full directory name (#862)
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

feat(dash-spv): expose per-peer connection stats (ping RTT, bytes received)
  contrib/setup-dashd.py
  dash-spv/src/client/queries.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
Due: cargo-fmt, clippy

fix(key-wallet): zeroize ExtendedBLSPrivKey and ExtendedEd25519PrivKey on drop (#859)
  key-wallet/src/bip32.rs
  key-wallet/src/derivation_bls_bip32.rs
  key-wallet/src/derivation_slip10.rs
Due: cargo-fmt, clippy

fix(spv): match masternode owner/voting key hashes in compact filters
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/matching.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(spv): match masternode owner/voting key hashes in compact filters (#863)
  dash-spv/src/sync/filters/manager.rs
  key-wallet-manager/src/lib.rs
  key-wallet-manager/src/matching.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(spv): match masternode collateral outpoints in compact filters
  key-wallet-manager/src/matching.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

feat(wallet): watch proTxHash and mark operator key used from matched ProRegTx
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

perf(dash-spv): prototype of the new peer selection algorithm
  dash-spv/src/network/manager.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/pool.rs
  dash-spv/src/network/reputation.rs
  dash-spv/src/network/reputation_tests.rs
Due: cargo-fmt, clippy

fix(key-wallet): cover CoinJoin/DashPay accounts for AssetLock routing
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

feat(key-wallet): widen DEFAULT_COINJOIN_GAP_LIMIT 30 -> 100 for dashj parity
  key-wallet/src/gap_limit.rs
Due: cargo-fmt, clippy

fix(spv): match masternode collateral outpoints in compact filters (#864)
  key-wallet-manager/src/matching.rs
  key-wallet/src/managed_account/managed_account_collection.rs
  key-wallet/src/test_utils/wallet.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

test(key-wallet): assert aggregate wallet balance in the asset-lock CoinJoin-debit test
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

feat(key-wallet-ffi): one-shot transaction decode to (address, amount) structs
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/tx_decode.rs
Due: cargo-fmt, verify-ffi, clippy

chore(key-wallet-ffi): regenerate FFI docs and apply typos fix
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/tx_decode.rs
Due: cargo-fmt, verify-ffi, clippy

feat(key-wallet-ffi): one-shot transaction decode to (address, amount) structs (#870)
  key-wallet-ffi/Cargo.toml
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/tx_decode.rs
Due: cargo-fmt, verify-ffi, clippy

fix(key-wallet): return the fee the tx actually pays from build/build_signed
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

test(key-wallet): pin asset-lock fee semantics — locked credits are not fee
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(key-wallet): return the fee the tx actually pays from build/build_signed (#872)
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

test(dash-spv): port CoinJoin gap-limit discovery repros (#846)
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

fix(dash-spv): re-open committed ranges for gap-limit scripts (#846)
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/block_match_tracker.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

docs(dash-spv): update gap-discovery test narrative — committed-batch case is now a GREEN #846 regression guard
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
Due: cargo-fmt, clippy

fix(key-wallet): cover CoinJoin/DashPay accounts for AssetLock routing (#867)
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/routing.rs
  key-wallet/src/transaction_checking/wallet_checker.rs
Due: cargo-fmt, clippy

feat(key-wallet): widen DEFAULT_COINJOIN_GAP_LIMIT 30 -> 100 for dashj parity (#868)
  key-wallet/src/gap_limit.rs
Due: cargo-fmt, clippy

feat(dash-spv): add `--birth-height` CLI flag
  dash-spv/src/main.rs
Due: cargo-fmt, clippy

chore(dash-spv): refresh masternode seed files
  dash-network-seeds/seeds/mainnet.txt
  dash-network-seeds/seeds/testnet.txt
Due: none

feat(key-wallet-ffi): typed special-transaction payload on FFITransactionRecord
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/special_payload.rs
  key-wallet/src/managed_account/managed_core_keys_account.rs
  key-wallet/src/tests/keep_finalized_transactions_tests.rs
Due: cargo-fmt, verify-ffi, clippy

docs(key-wallet-ffi): fix broken intra-doc link in special_payload module docs
  key-wallet-ffi/src/special_payload.rs
Due: cargo-fmt, verify-ffi, clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  verify-ffi: any of: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

  clippy: any of: \.rs$, but not: (?x)^(
    .*\.snap$|
    target/|
    .*/target/|
    \.cargo/|
    \.git/
)$

