Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

chore: remove unified sdk references
  README.md
  UNIFIED_SDK.md
  dash-spv-ffi/CLAUDE.md
  dash-spv-ffi/README.md
  key-wallet-ffi/README.md
Due: none

created benches with criterion and moved one performance test to it
  dash-spv/Cargo.toml
  dash-spv/benches/storage.rs
  dash-spv/tests/segmented_storage_test.rs
Due: cargo-fmt, clippy

deterministic inputs for reproducible benchmarks
  dash-spv/benches/storage.rs
Due: cargo-fmt, clippy

refactor: Make wallet birth height non-optional (#300)
  dash-spv-ffi/tests/test_wallet_manager.rs
  dash-spv/src/main.rs
  dash-spv/src/sync/manager.rs
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
  key-wallet/src/wallet/metadata.rs
Due: cargo-fmt, verify-ffi, clippy

traits created
  dash-spv/src/storage/manager.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/state.rs
Due: cargo-fmt, clippy

refactor: Drop `FFINetworks` and use `FFINetwork` only
  dash-spv-ffi/examples/wallet_manager_usage.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/scripts/generate_ffi_docs.py
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/account_collection.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/account_tests.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/bip38.rs
  key-wallet-ffi/src/keys_tests.rs
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_tests.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/utxo.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-ffi/tests/debug_wallet_add.rs
  key-wallet-ffi/tests/integration_test.rs
  key-wallet-ffi/tests/test_account_collection.rs
  key-wallet-ffi/tests/test_addr_simple.rs
  key-wallet-ffi/tests/test_import_wallet.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
  key-wallet-ffi/tests/test_passphrase_wallets.rs
Due: cargo-fmt, verify-ffi, clippy

chore: remove unused filters field from ChainState (#293)
  dash-spv-ffi/src/types.rs
  dash-spv-ffi/tests/unit/test_type_conversions.rs
  dash-spv/src/client/core.rs
  dash-spv/src/storage/state.rs
  dash-spv/src/types.rs
Due: cargo-fmt, verify-ffi, clippy

fixed clippt warnings by taking the spv client
  dash-spv-ffi/src/client.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: drop `FFINetworks` and use `FFINetwork` only (#294)
  dash-spv-ffi/examples/wallet_manager_usage.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/scripts/generate_ffi_docs.py
  key-wallet-ffi/src/account.rs
  key-wallet-ffi/src/account_collection.rs
  key-wallet-ffi/src/account_derivation_tests.rs
  key-wallet-ffi/src/account_tests.rs
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/bip38.rs
  key-wallet-ffi/src/keys_tests.rs
  key-wallet-ffi/src/lib.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/managed_wallet.rs
  key-wallet-ffi/src/transaction.rs
  key-wallet-ffi/src/transaction_tests.rs
  key-wallet-ffi/src/types.rs
  key-wallet-ffi/src/utxo.rs
  key-wallet-ffi/src/utxo_tests.rs
  key-wallet-ffi/src/wallet.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/src/wallet_tests.rs
  key-wallet-ffi/tests/debug_wallet_add.rs
  key-wallet-ffi/tests/integration_test.rs
  key-wallet-ffi/tests/test_account_collection.rs
  key-wallet-ffi/tests/test_addr_simple.rs
  key-wallet-ffi/tests/test_import_wallet.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
  key-wallet-ffi/tests/test_passphrase_wallets.rs
Due: cargo-fmt, verify-ffi, clippy

refactor: Single network `WalletManager`
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/test_wallet_manager.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/sync/filters/matching.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/tests/chainlock_simple_test.rs
  dash-spv/tests/chainlock_validation_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/wallet_integration_test.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/tests/debug_wallet_add.rs
  key-wallet-ffi/tests/integration_test.rs
  key-wallet-ffi/tests/test_import_wallet.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
  key-wallet-ffi/tests/test_passphrase_wallets.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
Due: cargo-fmt, verify-ffi, clippy

chore: created benches with criterion and moved one performance test to it (#277)
  dash-spv/Cargo.toml
  dash-spv/benches/storage.rs
  dash-spv/tests/segmented_storage_test.rs
Due: cargo-fmt, clippy

clippy warnings
  dash-spv/benches/storage.rs
Due: cargo-fmt, clippy

everything moved where I want it to be
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/headers.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/state.rs
  dash-spv/src/storage/transactions.rs
Due: cargo-fmt, clippy

feat(dash-spv): Add BIP324 v2 encrypted P2P transport
  dash-spv/Cargo.toml
  dash-spv/src/client/config.rs
  dash-spv/src/error.rs
  dash-spv/src/network/manager.rs
  dash-spv/src/network/mod.rs
  dash-spv/src/network/peer.rs
  dash-spv/src/network/transport/message_ids.rs
  dash-spv/src/network/transport/mod.rs
  dash-spv/src/network/transport/v1.rs
  dash-spv/src/network/transport/v2.rs
  dash-spv/src/network/transport/v2_handshake.rs
  dash-spv/tests/handshake_test.rs
Due: cargo-fmt, clippy

chore(dash-spv): Remove unused TransportEstablishResult enum
  dash-spv/src/network/transport/mod.rs
Due: cargo-fmt, clippy

refactor(dashcore): Extract payload serialization for V2 transport reuse
  dash-spv/src/network/transport/v2.rs
  dash/src/network/message.rs
Due: cargo-fmt, clippy

test: Add BIP324 V2 transport tests
  dash-spv/src/network/transport/message_ids.rs
  dash-spv/src/network/transport/v2.rs
  dash-spv/tests/handshake_test.rs
  dash/src/network/message.rs
Due: cargo-fmt, clippy

test: Add regression test for Unknown message payload encoding
  dash/src/network/message.rs
Due: cargo-fmt, clippy

fix: Return raw bytes for Unknown message payload encoding
  dash/src/network/message.rs
Due: cargo-fmt, clippy

fix(dash-spv): Resolve clippy warnings in network module
  dash-spv/src/network/peer.rs
  dash-spv/src/network/transport/v2_handshake.rs
Due: cargo-fmt, clippy

refactor(dash-spv): Remove redundant garbage buffer size check
  dash-spv/src/network/transport/v2_handshake.rs
Due: cargo-fmt, clippy

fix(dash-spv): Improve V2 handshake session_id and decoy handling
  dash-spv/src/network/transport/v2_handshake.rs
Due: cargo-fmt, clippy

refactor: single network `WalletManager` (#299)
  dash-spv-ffi/src/client.rs
  dash-spv-ffi/tests/test_wallet_manager.rs
  dash-spv/examples/filter_sync.rs
  dash-spv/examples/simple_sync.rs
  dash-spv/examples/spv_with_wallet.rs
  dash-spv/src/client/block_processor.rs
  dash-spv/src/client/block_processor_test.rs
  dash-spv/src/client/lifecycle.rs
  dash-spv/src/client/mod.rs
  dash-spv/src/lib.rs
  dash-spv/src/main.rs
  dash-spv/src/sync/filters/matching.rs
  dash-spv/src/sync/manager.rs
  dash-spv/src/sync/message_handlers.rs
  dash-spv/tests/chainlock_simple_test.rs
  dash-spv/tests/chainlock_validation_test.rs
  dash-spv/tests/header_sync_test.rs
  dash-spv/tests/integration_real_node_test.rs
  dash-spv/tests/peer_test.rs
  dash-spv/tests/simple_header_test.rs
  dash-spv/tests/wallet_integration_test.rs
  key-wallet-ffi/FFI_API.md
  key-wallet-ffi/include/key_wallet_ffi.h
  key-wallet-ffi/src/address_pool.rs
  key-wallet-ffi/src/managed_account.rs
  key-wallet-ffi/src/wallet_manager.rs
  key-wallet-ffi/src/wallet_manager_serialization_tests.rs
  key-wallet-ffi/src/wallet_manager_tests.rs
  key-wallet-ffi/tests/debug_wallet_add.rs
  key-wallet-ffi/tests/integration_test.rs
  key-wallet-ffi/tests/test_import_wallet.rs
  key-wallet-ffi/tests/test_managed_account_collection.rs
  key-wallet-ffi/tests/test_passphrase_wallets.rs
  key-wallet-manager/examples/wallet_creation.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet-manager/src/wallet_manager/mod.rs
  key-wallet-manager/src/wallet_manager/process_block.rs
  key-wallet-manager/tests/integration_test.rs
  key-wallet-manager/tests/spv_integration_tests.rs
  key-wallet-manager/tests/test_serialized_wallets.rs
Due: cargo-fmt, verify-ffi, clippy

chore: Drop unused `utxo.rs` in `key-wallet` crate
  key-wallet-ffi/src/utxo.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/utxo.rs
Due: cargo-fmt, verify-ffi, clippy

fix: use RFC 5737 TEST-NET-1 IP for timeout testing
  dash-spv/tests/handshake_test.rs
Due: cargo-fmt, clippy

fix: Use `from_byte_array` for dummy block hash in tests
  dash/src/bip152.rs
Due: cargo-fmt, clippy

general structure made
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/chainstate.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/masternode.rs
  dash-spv/src/storage/metadata.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/transactions.rs
Due: cargo-fmt, clippy

persist segments caches now requires the directory where the user wants to write the data
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

using rwlock to allow segmentcache mutability behind inmutable ref
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

clear method fixed
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

default method implementations in storage traits
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
Due: cargo-fmt, clippy

fix: qualify `Hash` trait in macros for `--no-default-features`
  hashes/src/util.rs
Due: cargo-fmt, clippy

fix: add missing license fields for cargo-deny audit
  fuzz/Cargo.toml
  rpc-integration-test/Cargo.toml
Due: none

fix: add license field to fuzz Cargo.toml template
  fuzz/generate-files.sh
Due: none

fix: add test-only `LockFile::read_pid` for cross-platform testing
  dash-spv/src/storage/lockfile.rs
Due: cargo-fmt, clippy

fix: single file handle in `atomic_write`
  dash-spv/src/storage/io.rs
Due: cargo-fmt, clippy

feat: Bump `rs-x11-hash` to `0.1.9` for windows support
  Cargo.toml
Due: none

ci: exclude `dash-fuzz` from clippy on Windows
  .pre-commit-config.yaml
  contrib/run_clippy.py
Due: none
