Repository dashpay/rust-dashcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, verify-ffi, clippy

.pre-commit-config.yaml:

# Pre-commit hooks for rust-dashcore
# See CONTRIBUTING.md for instructions on how to install and use
# And https://pre-commit.com for more information
repos:
  # ============================================================================
  # FAST CHECKS - Run on every commit.
  # ============================================================================

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'  # Allow trailing spaces in markdown for line breaks
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              .*\.snap$|
              .*/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: '\.rs$'  # Rust inner attributes (#![...]) look like shebangs

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/crate-ci/typos
    rev: v1.16.23
    hooks:
      - id: typos
        args: ['--write-changes']
        exclude: |
          (?x)^(
              .*\.snap$|
              .*\.lock$|
              CHANGELOG\.md|
              dash/tests/data/.*|
              key-wallet/tests/data/.*|
              fuzz/hfuzz_input/.*
          )$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false

  # ============================================================================
  # SLOW CHECKS - Run on git push only.
  # ============================================================================

  - repo: local
    hooks:
      - id: verify-ffi
        name: verify FFI
        description: Verify FFI headers and documentation are up to date
        entry: contrib/verify_ffi.py
        language: python
        pass_filenames: false
        files: ^(key-wallet-ffi|dash-spv-ffi)/.*\.(rs|toml|py)$
        stages: [pre-push, manual]

      - id: clippy
        name: clippy (workspace strict)
        description: Strict clippy on entire workspace - deny all warnings
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push, manual]

exclude: |
  (?x)^(
      .*\.snap$|
      target/|
      .*/target/|
      \.cargo/|
      \.git/
  )$

docs(dash-spv): point at the method that actually exists
  dash-spv/src/test_utils/network.rs
Due: cargo-fmt, clippy

feat(ci): route PR reviews through the shared ownership policy
  .github/CODEOWNERS
  .github/pr-review-policy.json
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

fix(ci): pin the reviewed policy engine with feedback fixes
  .github/workflows/pr-review-policy.yml
Due: none

ci: read the review policy from dashpay/stale_prs_are_bad
  .github/CODEOWNERS
  .github/pr-review-policy.json
  .github/workflows/pr-review-policy.yml
Due: none

ci: pin the shared review engine to its merge commit
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin the shared review engine
  .github/workflows/pr-review-policy.yml
Due: none

feat(ci): route PR reviews through shared ownership policy (#1010)
  .github/CODEOWNERS
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

ci: receive review events directly and re-pin the shared engine
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

ci: receive review events directly and re-pin the shared engine (#1011)
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

ci: re-pin the shared review engine and drop the redundant input
  .github/workflows/pr-review-policy.yml
Due: none

feat(dash-spv-bench): report the client's peak RSS
  dash-spv-bench/run.sh
  dash-spv-bench/src/main.rs
Due: cargo-fmt, clippy

refactor(dash-spv): drop the committed-range sweep and the collected-scripts rescan
  dash-spv/src/sync/filters/batch.rs
  dash-spv/src/sync/filters/block_match_tracker.rs
  dash-spv/src/sync/filters/coinjoin_gap_discovery_tests.rs
  dash-spv/src/sync/filters/manager.rs
  dash-spv/src/sync/filters/sync_manager.rs
Due: cargo-fmt, clippy

fix(key-wallet): re-apply a spend whose coin was funded after it
  dash-spv/src/sync/blocks/manager.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/test_utils/mock_wallet.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

fix(key-wallet): prune observed spends during the initial sync
  dash-spv/src/client/event_handler.rs
  key-wallet-manager/src/process_block.rs
  key-wallet-manager/src/wallet_interface.rs
  key-wallet/src/managed_account/managed_core_funds_account.rs
  key-wallet/src/tests/observed_spent_outpoints_tests.rs
  key-wallet/src/wallet/managed_wallet_info/mod.rs
  key-wallet/src/wallet/managed_wallet_info/wallet_info_interface.rs
Due: cargo-fmt, clippy

ci: re-pin the shared review engine and drop the redundant input (#1012)
  .github/workflows/pr-review-policy.yml
Due: none

test(key-wallet): cover the change-address guard (#920)
  key-wallet/src/wallet/managed_wallet_info/transaction_builder.rs
Due: cargo-fmt, clippy

fix(key-wallet): consult every fund-bearing account for provider transactions (#1009)
  key-wallet/src/transaction_checking/transaction_router/mod.rs
  key-wallet/src/transaction_checking/transaction_router/tests/provider.rs
Due: cargo-fmt, clippy

feat(dash-spv-bench): report the client's peak RSS (#1013)
  dash-spv-bench/run.sh
  dash-spv-bench/src/main.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene and adopt the suite name
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene and adopt the suite name (#1017)
  .github/workflows/pr-review-policy.yml
Due: none

chore: bump pinned Rust toolchain to 1.98.1
  dash-network/build.rs
  dash-spv-ffi/build.rs
  dash/examples/taproot-psbt.rs
  dash/src/amount.rs
  dash/src/bip158.rs
  dash/src/taproot.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha512.rs
  internals/src/hex/display.rs
  internals/src/hex/mod.rs
  key-wallet-ffi/build.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/psbt/raw.rs
  rpc-integration-test/src/main.rs
  rust-toolchain.toml
Due: cargo-fmt, verify-ffi, clippy

chore: bump pinned Rust toolchain to 1.98.1 (#1018)
  dash-network/build.rs
  dash-spv-ffi/build.rs
  dash/examples/taproot-psbt.rs
  dash/src/amount.rs
  dash/src/bip158.rs
  dash/src/taproot.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha512.rs
  internals/src/hex/display.rs
  internals/src/hex/mod.rs
  key-wallet-ffi/build.rs
  key-wallet/src/managed_account/address_pool.rs
  key-wallet/src/psbt/raw.rs
  rpc-integration-test/src/main.rs
  rust-toolchain.toml
Due: cargo-fmt, verify-ffi, clippy

ci: re-pin PR Hygiene
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#1019)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#1021)
  .github/workflows/pr-review-policy.yml
Due: none

feat(dash-spv-bench): opt-in in-process CPU and heap profiling, client always in docker
  dash-spv-bench/.gitignore
  dash-spv-bench/Cargo.toml
  dash-spv-bench/run.sh
  dash-spv-bench/src/main.rs
  dash-spv-bench/src/profile.rs
Due: cargo-fmt, clippy

refactor(dash-spv): drop the committed-height segment release
  dash-spv/src/storage/blocks.rs
  dash-spv/src/storage/filters.rs
  dash-spv/src/storage/mod.rs
  dash-spv/src/storage/segments.rs
  dash-spv/src/sync/blocks/manager.rs
  dash-spv/src/sync/filters/manager.rs
Due: cargo-fmt, clippy

perf(dash-spv): stream segments to disk instead of encoding them into one buffer
  dash-spv/src/storage/io.rs
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

perf(dash-spv): persist a dirty segment when it is evicted
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

perf(dash-spv): keep at most two segments resident per storage cache
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

feat(dash-spv): trace segment cache hits and misses
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene (#1023)
  .github/workflows/pr-review-policy.yml
Due: none

perf(dash-spv): size storage segments per item type
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

refactor(dash-spv): keep Persistable inside the storage module
  dash-spv/src/storage/segments.rs
Due: cargo-fmt, clippy

ci: re-pin PR Hygiene to cut its GitHub request volume
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to cut its GitHub request volume (#1025)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so the sweep reaches every pull request
  .github/workflows/pr-review-policy.yml
Due: none
